// checkbox 变量

$checkbox-outline-size: 40px !default; // checkbox 轮廓大小
$checkbox-size: 18px !default;
$checkbox-size-circle: 20px !default;

// sizing
$checkbox-outline-size-lg: 60px !default;
$checkbox-size-lg: 26px !default;

$checkbox-outline-size-sm: 30px !default;
$checkbox-size-sm: 14px !default;

// 动画持续时间
$checkbox-transition-duration: 120ms !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认开启，需要的话可关闭
$enable-custom-theme-for-checkbox: true !default;
