// checkbox 组件
@import "../../ripple/mixin";
@import "../../theme/mixin";
@import "function";
@import "mixin";

// 基本样式
.checkbox {
  position:      relative;
  box-sizing:    border-box;
  display:       inline-block;
  border-radius: 50%;
  cursor:        pointer;
  will-change:   opacity, transform, border-color, background-color, color;

  // checkbox 形状
  &-background {
    position:       absolute;
    box-sizing:     border-box;
    display:        inline-block;
    pointer-events: none;
    // 动画
    transition:     checkbox-leave(opacity), checkbox-leave(transform);
  }

  // 定义 checkbox 的大小封装成 mixin，方便定制化处理
  @include checkbox-size();

  &-mark-outer {
    position:      absolute;
    top:           0;
    left:          0;
    box-sizing:    border-box;
    width:         100%;
    height:        100%;
    border:        2px solid;
    @include theme-prop(border-color, secondary-on-light);
    border-radius: 2px;
    // 动画
    transition:    checkbox-leave(border-color);
  }

  // 勾选后的样式
  &-mark-inner {
    position:      absolute;
    top:           0;
    left:          0;
    box-sizing:    border-box;
    width:         100%;
    height:        100%;
    border-radius: 2px;
    transform:     scale(0, 0);
    @include theme-prop(background-color, secondary-on-light);

    // 勾选样式
    &::after {
      content:       "";
      position:      absolute;
      top:           16%;
      left:          15%;
      box-sizing:    border-box;
      width:         70%;
      height:        40%;
      border-bottom: 2px solid #fff;
      border-left:   2px solid #fff;
      opacity:       0;
      transform:     rotate(-45deg);
      // 动画
      transition:    checkbox-leave(opacity), checkbox-leave(transform);
    }
  }

  &-native-control {
    position: absolute;
    top:      0;
    left:     0;
    z-index:  1;
    width:    100%;
    height:   100%;
    padding:  0;
    margin:   0;
    cursor:   inherit;
    opacity:  0;

    // 获取焦点时
    &:focus {
      + .checkbox-background {
        .checkbox-mark-outer {
          @include theme-prop(border-color, primary-on-light);
        }
      }
    }
  }
}

// checked 、 disabled 和 indeterminate 动画效果
.checkbox-native-control:checked,
.checkbox-native-control:disabled,
.checkbox-native-control:indeterminate {
  + .checkbox-background {
    transition: checkbox-enter(opacity), checkbox-enter(transform);

    .checkbox-mark-outer {
      transition: checkbox-enter(border-color);
    }

    .checkbox-mark-inner {
      &::after {
        // 动画
        transition: checkbox-enter(opacity), checkbox-enter(transform);
      }
    }
  }
}

// 选中或部分选中样式
.checkbox-native-control:checked,
.checkbox-native-control:indeterminate {
  + .checkbox-background {
    .checkbox-mark-outer {
      border:    0;
      transform: scale(0);
    }

    .checkbox-mark-inner {
      @include theme-prop(background-color, primary-on-light);
      transform: scale(1);
      &::after {
        opacity: 1;
      }
    }
  }
}

// 部分选中样式
.checkbox-native-control:indeterminate {
  + .checkbox-background {

    .checkbox-mark-inner::after {
      border-left: 0;
      transform:   rotate(0);
    }
  }
}

// 波纹效果时 ripple
.checkbox-ripple {
  .checkbox-background {
    &::before {
      content:        "";
      position:       absolute;
      top:            0;
      left:           0;
      width:          100%;
      height:         100%;
      border-radius:  50%;
      @include theme-prop(background-color, primary-on-light);
      pointer-events: none;
      opacity:        0;
      transform:      scale(0, 0);
      transition:     checkbox-leave(opacity), checkbox-leave(transform);
    }
  }

  // 获取焦点时
  .checkbox-native-control:focus {
    + .checkbox-background::before {
      opacity:    .16;
      transform:  scale(2, 2);
      transition: checkbox-enter(opacity), checkbox-enter(transform);
    }
  }
}

// disabled 样式
.checkbox-disabled {
  pointer-events: none;
  cursor:         default;
}

.checkbox-native-control:disabled {
  + .checkbox-background {
    cursor: default;

    .checkbox-mark-outer {
      border-color: rgba(#000, .26);
    }

    .checkbox-mark-inner {
      background-color: rgba(#000, .26);
    }
  }
}

// 圆形复选框
.checkbox-circle {
  .checkbox-mark-outer,
  .checkbox-mark-inner {
    border-radius: 50%;
  }
  @include checkbox-size($checkbox-size: $checkbox-size-circle);
}

@if ($enable-custom-theme and $enable-custom-theme-for-checkbox) {
  // 定义主题样式
  @each $theme in ("primary", "secondary") {
    .checkbox-#{$theme} {
      @include checkbox-theme($theme);
    }
  }

  // 辅助颜色对应 checkbox
  @each $theme in $theme-assist {
    .checkbox-#{$theme} {
      @include checkbox-theme($theme, $opacity: .64, $assist: true);
    }
  }
}

// Sizing
.checkbox-lg {
  @include checkbox-size($checkbox-outline-size: $checkbox-outline-size-lg, $checkbox-size: $checkbox-size-lg);
}

.checkbox-sm {
  @include checkbox-size($checkbox-outline-size: $checkbox-outline-size-sm, $checkbox-size: $checkbox-size-sm);
}
