// form 表单相关
@import "../../base/variables/form";
@import "variable";

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: $form-field-margin-bottom;

  > label {
    order: 0;
    padding-right: $label-spacing;
  }
}

// 行内
.form-field-inline {
  display: inline-flex;
  align-items: center;

  // 默认设置 80px 右对齐
  > label {
    order: 0;
    width: $form-label-width;
    padding-right: $label-spacing;
    text-align: $text-align;
  }
}

// label 在左侧显示
.form-field-left {
  display: inline-flex;

  > label {
    order: -1;
    margin-left: auto;
  }
}

// label 在右侧显示
.form-field-right {
  display: inline-flex;

  > label {
    order: 1;
    margin-right: auto;
  }
}

// Radio 和 Checkbox
.radio-checkbox-group {
  display: inline-flex;
  align-items: center;

  .form-field {
    margin-right: $radio-checkbox-field-margin-right;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

// form 表单组
.form-field-group {
  margin-right: -$form-field-group-item-margin;
  margin-left: -$form-field-group-item-margin;

  > .form-field {
    display: inline-flex;
    margin-right: $form-field-group-item-margin;
    margin-left: $form-field-group-item-margin;
  }
}

// form 面板
.form-panel {
  padding: $form-panel-padding;
  border: 1px solid $grey-color-200;
  border-radius: $form-border-radius;
}

// 可设置 label 默认宽度
.label-inline {
  width: $form-label-width;
  text-align: $text-align;
}
