// Buttons variable

@import "../../base/variables/font";

$btn-min-width: 4rem !default;
$btn-padding-x: 1rem !default;
$btn-padding-y: .75rem !default;
$btn-border-radius: 2px !default;
$btn-line-height: 1.25 !default;
$btn-font-size: $font-size-base !default;
$btn-font-weight: $font-weight-normal !default;
