// Buttons variable
@import "../../base/variables/font";
@import "../../theme/variable";

$btn-min-width: 4rem !default; // 即两个字的宽度
$btn-padding-x: 1.25rem !default;
$btn-font-weight: 500 !default;

// 定义 button ripple 背景颜色透明度
$btn-unfilled-ripple-opacity: .16;
$btn-filled-ripple-opacity: .32;

// btn 大小
$btn-padding-x-lg: 1.25rem !default;
$btn-padding-y-lg: 1rem !default;
$btn-border-radius-lg: 4px !default;
$btn-line-height-lg: 1 !default;

$btn-padding-x-sm: .75rem !default;
$btn-padding-y-sm: .5rem !default;
$btn-border-radius-sm: 2px !default;
$btn-line-height-sm: 1.25 !default;

// disabled 状态
$btn-bg-disabled: map-get($greys, 300) !default;

$btn-group-margin-x: .5rem !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认关闭，需要的话可开启
$enable-custom-theme-for-btn: false !default;
