@import "../../theme/variable";

$crumb-padding-y: .75rem !default;
$crumb-padding-x: 1rem !default;
$crumb-margin-bottom: .5rem !default;
$crumb-font-size: 1rem !default;

$crumb-item-padding: .5rem !default;
$crumb-divider: ">" !default;
