// 容器 mixin

@import "../../responsive/variable";
@import "../grid/variable";

@mixin make-container($gutter: $grid-gutter-width) {
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  margin-left: auto;
  margin-right: auto;
}

// 根据 media query 设置响应式容器的最大宽度
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $responsive-breakpoints) {
  // 循环取出键值，然后调用media-breakpoint-up来设置
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      width: $container-max-width;
    }
  }
}
