@import "../../../theme/variable";

// 列表菜单动画
$list-menu-fade-duration: .2s;
$list-menu-item-fade-duration: .3s;

$list-menu-min-width: 180px !default;
$list-menu-item-hover-bg: $grey-color-100 !default;
$list-menu-item-active-bg: $grey-color-300 !default;
$list-menu-item-padding-y: .5rem !default;

