// 文本超长省略处理，需要设置为 inline-block 或 block，并且指定具体的宽度

// 单行截取
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行截取 todo 待完善
// http://dev.mobify.com/blog/multiline-ellipsis-in-pure-css/
// http://www.cnblogs.com/accordion/p/6507320.html
// http://www.css88.com/archives/5206
@mixin text-ellipsis-line($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
}
