// 京东金融 UI 主题

// 默认字体大小
$font-size-root: 16px;
$font-weight-base: 400;

// 颜色
$theme: (
  primary: #508cee,
  secondary: #ff801a,
  success: #6db247,
  info: #ff3153, // 该颜色待定
  warning: #ffb540,
  danger: #fc3438,
  light: #ccc,
  dark: #333
);

// 灰色颜色值
$grey: (
  lightest: #ddd,
  lighter: #ccc,
  light: #999,
  dark: #666,
  darker: #333
) !default;

// 黑色和白色
$theme-black: #333;
$theme-white: $white;

// 按钮字体 18px
$btn-padding-y: .75rem;
$btn-font-size: 1.125rem;
$btn-font-weight: 300;
$btn-line-height: 1.45;

// Dialog 变量
$dialog-backdrop-bg: $dark-black;
$dialog-header-padding: 1.5rem;
$dialog-header-text-align: center;
$dialog-header-font-size: 1.125rem;

$dialog-body-padding: 1.5rem;
$dialog-body-color: #666;

$dialog-footer-padding-bottom: 0;
$dialog-footer-padding-x: 0;

// label
$input-label-above-color: #508cee;
