// ripple function
// 定义 ripple 默认 config
@function ripple-default-config() {
  @return (
    pseudo: null,
    radius: 100%,
    background-color: #000,
    opacity: .08,
    theme-style: null
  );
}
