// radio 组件
@import "../../animation/function";
@import "../ripple/mixin";
@import "../../theme/mixin";
@import "./variable";
@import "./function";

// 基本样式
.radio {
  position:    relative;
  box-sizing:  border-box;
  display:     inline-block;
  width:       $radio-outline-size;
  height:      $radio-outline-size;
  padding:     ($radio-outline-size - $radio-size) / 2;
  cursor:      pointer;
  will-change: opacity, transform, border-color, background-color, color;

  // radio 圆形形状
  .radio-background {
    position:   absolute;
    left:       ($radio-outline-size - $radio-size) / 2;
    box-sizing: border-box;
    display:    inline-block;
    width:      $radio-pct;
    height:     $radio-pct;
  }

  .radio-circle-outer {
    @include theme-prop(border-color, text-secondary-on-light);
    position:      absolute;
    top:           0;
    left:          0;
    box-sizing:    border-box;
    width:         100%;
    height:        100%;
    border-width:  2px;
    border-style:  solid;
    border-radius: 50%;
    transition:    radio-leave(border-color);
  }

  .radio-circle-inner {
    @include theme-prop(background-color, text-secondary-on-light);
    position:      absolute;
    top:           0;
    left:          0;
    box-sizing:    border-box;
    width:         100%;
    height:        100%;
    border-radius: 50%;
    transform:     scale(0, 0);
    transition:    radio-leave(transform), radio-leave(background-color);
  }

  .radio-native-control {
    position: absolute;
    top:      0;
    left:     0;
    z-index:  1;
    width:    100%;
    height:   100%;
    padding:  0;
    margin:   0;
    cursor:   inherit;
    opacity:  0;
  }
}

// 带波纹的样式
.radio-ripple {
  @include ripple-base;
  @include ripple-bg((pseudo: "::before", opacity: .14));
  @include ripple-bg((pseudo: "::after", opacity: .14));
  &::before,
  &::after {
    top:    0;
    left:   0;
    width:  100%;
    height: 100%;
  }

  // radio 背景波纹
  .radio-background {
    &::before {
      // TODO 背景颜色带跟主题配合处理
      // @include theme-prop(background-color, primary);
      background-color: rgba(0, 0, 0, .87);
      content:          "";
      position:         absolute;
      top:              0;
      left:             0;
      width:            100%;
      height:           100%;
      border-radius:    50%;
      pointer-events:   none;
      opacity:          0;
      transform:        scale(0, 0);
      transition:       radio-leave(opacity), radio-leave(transform);
    }
  }
}

// 动画效果更明显，需要结合 JavaScript
.radio-impact {
  &.ripple-impact {
    .radio-background::before {
      content: none;
    }
  }
  & {
    @include ripple-unbounded();
  }
}

.radio-native-control:checked,
.radio-native-control:disabled {
  + .radio-background {
    transition: radio-enter(opacity), radio-enter(transform);

    .radio-circle-outer {
      transition: radio-enter(border-color);
    }

    .radio-circle-inner {
      transition: radio-enter(transform), radio-enter(background-color);
    }
  }
}

.radio-disabled {
  cursor:         default;
  pointer-events: none;
}

.radio-native-control:checked {
  + .radio-background {
    .radio-circle-outer {
      //@include theme-prop(border-color, primary);
    }

    .radio-circle-inner {
      //@include theme-prop(background-color, primary);

      transform:  scale(.5);
      transition: radio-enter(transform), radio-enter(background-color);
    }
  }
}

.radio-native-control:disabled {
  + .radio-background {
    cursor: default;

    .radio-circle-outer {
      border-color: rgba(black, .26);
    }

    .radio-circle-inner {
      background-color: rgba(black, .26);
    }
  }
}

.radio-native-control:focus {
  + .radio-background::before {
    transform:  scale(2, 2);
    transition: radio-enter(opacity), radio-enter(transform);
    opacity:    .26;
  }
}

