// button style
@import "../../animation/variable";
@import "../../animation/mixin";
@import "../../animation/function";
@import "../../theme/mixin";
@import "../../ripple/mixin";
@import "../../shadow/mixin";
@import "variable";

.btn {
  @include theme-prop(color, text-primary-on-light);
  position:                relative;
  box-sizing:              border-box;
  display:                 inline-block;
  min-width:               $btn-min-width;
  padding:                 $btn-padding-y  $btn-padding-x;
  border:                  0;
  border-radius:           $btn-border-radius;
  overflow:                hidden;
  font-size:               $btn-font-size;
  font-weight:             500;
  line-height:             $btn-line-height;
  background:              transparent;
  text-align:              center;
  text-decoration:         none;
  text-transform:          uppercase;
  vertical-align:          middle;
  cursor:                  pointer;
  user-select:             none;
  outline:                 0;
  -webkit-appearance:      none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:  antialiased;

  &:not(.ripple-impact) {
    // ripple-impact 使用 ripple 效果样式
    @include ripple-base;
    @include ripple-bg((pseudo: "::before"));
    @include ripple-bg((pseudo: "::after"));
  }

  // 对于 a 标签的处理
  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active {
    outline: 0;
  }

  &::-moz-focus-inner {
    padding: 0;
    border:  0;
  }

  // disabled
  fieldset:disabled &,
  &:disabled,
  &.disabled {
    pointer-events: none;
    cursor:         default;
    opacity:        .36;
  }
}

// 浮雕的，凸起样式
.btn-raised {
  @include animation-transition(box-shadow, 280ms, ease-in-out);
  will-change: box-shadow;

  @include shadow(2);

  &:active {
    @include shadow(2);
  }

  // disabled
  fieldset:disabled &,
  &:disabled,
  &.disabled {
    background-color: $grey-color-300;
    @include shadow(0);
  }
}

// 100% 边框
.btn-block {
  display: block;
  width: 100%;
}

// 定义主题样式
@each $style in ("primary", "secondary") {
  .btn-#{$style} {
    @include theme-prop(color, #{$style});

    &::before,
    &::after {
      // 主题样式
      @include theme-prop(background-color, #{$style});
      // ripple 主题样式
      @include ripple-theme((theme-style: #{$style}, opacity: .06));
    }

    &.btn-raised {
      // 前背景对比色差
      @include theme-prop(color, text-primary-on-#{$style});
      @include theme-prop(background-color, #{$style});
      // 用白色透明色处理动画波纹效果
      &::before,
      &::after {
        // ripple 主题样式
        @include ripple-theme((theme-style: text-primary-on-#{$style}, opacity: .16));
      }
    }
  }
}

// 辅助颜色
@each $theme in $theme-assist {
  $color: map-get($theme-assist-colors, $theme);

  .btn-#{$theme} {
    @include theme-assist(color, $theme);

    &::before,
    &::after {
      // ripple 主题样式
      @include ripple-theme((background-color: $color, opacity: .06));
    }

    &.btn-raised {
      // 前背景对比色差
      $color-tone: theme-light-or-dark($color);
      // 判断是用浅色还是深色
      color: map-get(map-get($theme-text-colors, $color-tone), primary);
      @include theme-assist(background-color, $theme);

      // 用白色透明色处理动画波纹效果
      &::before,
      &::after {
        background-color: rgba(#fff, .2);
      }
    }
  }
}

// outline TODO
.btn-outline {
  border: 1px solid rgba(#000, .78);
}
