// Blockquotes
// 引用

.blockquote {
  margin-bottom: $spacer;
  padding: ($spacer / 2) $spacer;
  border-left-width: $blockquote-border-width;
  border-left-style: solid;
  font-size: $blockquote-font-size;

  @include theme-prop(border-left-color, hint-on-light);
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size

  @include theme-prop(color, secondary-on-light);

  &::before {
    content: "\2014 \00A0";
  }
}

// 引用从右向左显示
.blockquote-reverse {
  padding-right: $spacer;
  padding-left: 0;
  border-left: 0;
  border-right-width: $blockquote-border-width;
  border-right-style: solid;
  text-align: right;

  @include theme-prop(border-right-color, hint-on-light);

  .blockquote-footer {
    &::before {
      content: "";
    }

    &::after {
      content: "\00A0 \2014"; // nbsp, em dash
    }
  }
}

