@import "../base/variables/font";

.font-lg {
  font-size: $font-size-lg !important;
}

.font-sm {
  font-size: $font-size-sm !important;
}

// 字体粗细
.font-weight-lighter {
  font-weight: $font-weight-lighter !important;
}

.font-weight-normal {
  font-weight: $font-weight-normal !important;
}

.font-weight-bold {
  font-weight: $font-weight-bold !important;
}

.font-weight-bolder {
  font-weight: $font-weight-bolder !important;
}

.font-italic {
  font-style: italic !important;
}

// 数字表示字体粗细
@for $i from 1 through 9 {
  $infix: $i * 100;
  .font-weight-#{$infix} {
    font-weight: $infix !important;
  }
}

