// Typography 排版
// 超链接，使用主题颜色

.link {
  text-decoration: $link-decoration;
  cursor: pointer;

  @include theme-prop(color, primary);

  @include hover {
    text-decoration: $link-hover-decoration;

    @include theme-prop(color, primary-dark);
  }
}
