// tooltip 基础样式

@import "../../base/variables/border";
@import "../../base/variables/font";
@import "../../base/variables/zindex";
@import "./variable";

@import "../../base/mixins/reset-text";
@import "../../base/mixins/border-radius";
@import "../../theme/mixin";

.tooltip {
  position: absolute;
  z-index: $zindex-tooltip;
  display: none;
  margin: $tooltip-margin;
  // tooltip 可在任意元素中使用，这样有可能会被这些目标元素文本样式所影响
  // 这里重置文本相关样式
  @include reset-text();
  font-size: $font-size-sm;
  // 折行处理
  word-wrap: break-word;
  opacity: 0;

  &.show {
    opacity: $tooltip-opacity;
  }

  .arrow {
    position: absolute;
    display: block;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;
  }

  &.tooltip-top {
    padding: $tooltip-arrow-width 0;
    .arrow {
      bottom: 0;
      left: 48%;
    }

    .arrow::before {
      content: "";
      margin-left: -($tooltip-arrow-width - 2);
      border-width: $tooltip-arrow-width $tooltip-arrow-width 0;

      @include theme-prop(border-top-color, primary-on-light);
    }
  }

  &.tooltip-right {
    padding: 0 $tooltip-arrow-width;
    .arrow {
      top: 40%;
      left: 0;
    }

    .arrow::before {
      content: "";
      margin-top: -($tooltip-arrow-width - 2);
      border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
      @include theme-prop(border-right-color, primary-on-light);
    }
  }

  &.tooltip-bottom {
    padding: $tooltip-arrow-width 0;
    .arrow {
      top: 0;
      left: 48%;
    }

    .arrow::before {
      content: "";
      margin-left: -($tooltip-arrow-width - 2);
      border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
      @include theme-prop(border-bottom-color, primary-on-light);
    }
  }

  &.tooltip-left {
    padding: 0 $tooltip-arrow-width;
    .arrow {
      top: 40%;
      right: 0;
    }

    .arrow::before {
      content: "";
      right: 0;
      margin-top: -($tooltip-arrow-width - 2);
      border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
      @include theme-prop(border-left-color, primary-on-light);
    }
  }
  &.tooltip-auto {
    &[x-placement^="top"] {
      @extend .tooltip-top;
    }
    &[x-placement^="right"] {
      @extend .tooltip-right;
    }
    &[x-placement^="bottom"] {
      @extend .tooltip-bottom;
    }
    &[x-placement^="left"] {
      @extend .tooltip-left;
    }
  }

  .arrow::before {
    position: absolute;
    border-style: solid;
    border-color: transparent;
  }
}

// 显示 tooltip 内容
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  text-align: center;
  @include border-radius($border-radius);

  @include theme-prop(color, primary-on-dark);
  @include theme-prop(background-color, primary-on-light);
}
