@import "../theme/mixin";
@import "../base/mixins";
@import "../base/variables/font";
@import "../base/variables/link";
@import "normalize-css";
@import "variable";

// 规范化样式
// 在 normalize.css 的基础上重新定义样式

// 重置 html
//  1. https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7165383/
// 在 ie11 和 edge 中，当鼠标离开滚动条时，会自动隐藏，这样用户体验可能不是很好，
// 故显式开启，当有滚动条时，一直显示
// 2. 设置默认字体为 sans-serif
// 3. 在Windows Phone和iOS中，通过设置字体大小为100%来阻止文本改变大小
// 4. 在 IOS 下点击高亮修改为完全透明

html {
  -ms-overflow-style:          scrollbar; // 1
  font-family:                 sans-serif; // 2
  font-weight:                 $font-weight-base;
  -webkit-text-size-adjust:    100%; // 3
  -ms-text-size-adjust:        100%; // 3
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 4
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: #{device-width};
  }
}

// 1. 最佳实践，提供一个默认的前景和背景
body {
  font-family: $font-family;
  // 设置默认字体大小，其他元素采用 rem ，动态的根据 body 的字体大小来计算其大小
  font-size:   var(--font-size-base, $font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  @include theme-prop(color, primary-on-light); // 1 前景对应  rgba(0, 0, 0, .87),
  @include theme-prop(background-color, primary-on-dark); // 1 背景对应 #fff
}

// normalize.scss 中设置了一部分，这里再补上几个，让 IE 9- 正确的显示
dialog,
figcaption,
figure,
hgroup,
main {
  display: block;
}

// Credit: https://github.com/suitcss/base
// 对于 tabindex 设为 -1 的元素，获取焦点时去掉外边虚框
[tabindex="-1"]:focus {
  outline: none !important;
}

//
// 排版重置样式
//

// 重置 margin-top margin-bottom
h1, h2, h3, h4, h5, h6 {
  margin-top:    0;
  margin-bottom: $header-margin-bottom;
}

// 重置
// 用 rem 设置 margin-top margin-bottom
p {
  margin-top:    0;
  margin-bottom: $p-margin-bottom;
}

// Abbreviations
//
// 1. 鼠标图标设置为帮助形式
abbr[title] {
  cursor: help; // 1
}

address {
  margin-bottom: $address-margin-bottom;
  font-style:    normal;
  line-height:   inherit;
}

ol,
ul,
dl {
  margin-top:    0;
  margin-bottom: $list-spacer;
}

ol,
ul {
  padding-left: $list-spacer;
}

li {
  padding-top:    $list-spacer / 4;
  padding-bottom: $list-spacer / 4;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: $list-spacer / 2;
  margin-left:   0; // 取消浏览器默认左外边距
}

blockquote {
  margin: 0 0 1rem;
}

// Links

a {
  text-decoration: $link-decoration;
  @include theme-prop(color, primary);

  &:hover {
    @include theme-prop(color, primary-dark);
    text-decoration: $link-hover-decoration;
  }
}

// 对于没有 href 并且没有设置 tabindex 的 a 元素修改为样式跟普通元素一样
a:not([href]):not([tabindex]) {
  color:           inherit;
  text-decoration: none;

  @include hover-focus {
    color:           inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

// Code

pre {
  // 去掉浏览器默认的上边距
  margin-top:         0;
  // 设置浏览器的下边距
  margin-bottom:      $spacer;
  // 设置为超过高度后自动显示滚动条
  overflow:           auto;
  // 恢复 IE11 and Edge 上的显示滚动条
  -ms-overflow-style: scrollbar;
}

figure {
  // 重置 figure margin
  margin: 0 0 $spacer;
}

// 重置图片样式

img {
  // 重置为垂直居中
  vertical-align: middle;
}

/**
* 在手机端点击事件有 300ms 的延迟
* 在一些现代浏览器可以通过样式 touch-action: manipulation 来删除点击延迟
* 下面这些元素不需要延迟
* https://developer.mozilla.org/zh-CN/docs/Web/CSS/touch-action
* http://caniuse.com/#feat=css-touch-action
* http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
**/
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

// 重置 Forms 表单样式

label {
  display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size:   inherit;
  line-height: inherit;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  // 解决在 IOS 中不能垂直居中的问题
  // See https://bugs.webkit.org/show_bug.cgi?id=139848
  // https://www.w3cplus.com/css3/changing-appearance-of-element-with-css3.html
  -webkit-appearance: listbox;
}

textarea {
  // 只提供垂直可以改变高度，水平方向禁止拉伸
  resize: vertical;
}

fieldset {
  // 重置最小宽度为 0
  // https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // 重置其他默认样式
  padding:   0;
  margin:    0;
  border:    0;
}

legend {
  display:       block;
  width:         100%;
  margin-bottom: $spacer / 2;
  font-size:     $font-size-lg;
  line-height:   inherit;
}

[type="search"] {
  // 去掉浏览器特有的表现
  -webkit-appearance: none;
}

// 对于标签 output 默认设置为 display 为 inline-block
output {
  display: inline-block;
}

