@import "../../../../scss/theme/mixin";

// 使用 test-module 描述测试某一模块，test 描述测试具体的功能点

@include test-module('Theme Mixin') {
  @include test('测试 @mixin theme-prop($property, $style, $important: false)') {
    @include assert('通过测试') {
      @include output {
        .text {
          @include theme-prop(color, text-primary-on-primary);
          @include theme-prop(background-color, primary);
        }
      }

      @include expect {
        .text {
          color: #ffffff;
          color: var(--theme-text-primary-on-primary, #ffffff);
          background-color: #2196f3;
          background-color: var(--theme-primary, #2196f3);
        }
      }
    }
  }
}

