{
  "presets": [
    "latest"
  ],
  "plugins": [
    // 解析类属性，静态和实例的属性
    "transform-class-properties",
    "transform-es2015-modules-umd",
    // 支持对象和数组 rest 格式
    "transform-object-rest-spread"
  ]
}
