@import "../../base/variables/border";

$form-field-margin-bottom: .5rem !default;
$label-spacing: .5rem !default;
$text-align: right !default;

// form 面板
$form-panel-padding: 1rem !default;
$form-border-radius: $border-radius !default;

$form-field-group-item-margin: .5rem !default;

$radio-checkbox-field-margin-right: .75rem !default;
