@import "../../../scss/theme/variable";

// 重置背景颜色
.drawer-content {
  background: $grey-color-50;
}

.doc-main {
  min-height: 500px;
  padding: 1.5rem 1rem;

  p, li {
    line-height: 2;
  }
}

.doc-content-header {
  padding-right: 4rem;
  a {
    margin: 0 .5rem;
  }
}

.doc-content {
  > h2 {
    margin-top: 2rem;
  }
  > h3 {
    margin-top: 1.5rem;
  }
}

.doc-table {
  width: 80%;

  tr:nth-of-type(odd) {
    background: #f9f9f9;
  }
  th {
    border-bottom: 1px solid #ddd;
  }

  th,
  td {
    padding: .5rem 1.5rem;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;

    &:last-child {
      border-right: 1px solid #ddd;
    }
  }
  tr:last-child > td {
    border-bottom: 1px solid #ddd;
  }
}
