@import "../../../scss/theme/variable";

.doc-menu {
  &.menu, .menu {
    margin-left: 0;
  }
  .menu-title {
    padding: .5rem 1rem;
  }

  .menu-sub-title {
    &:hover {
      color: var(--theme-primary);
    }

    &.active {
      $bg-color: #90caf9;
      $opacity: .3;
      $css-var: var(--theme-primary-light, $bg-color);

      color: var(--theme-primary);
      background-color: rgba($bg-color, $opacity);

      // 可以动态的设置颜色透明度，属于 CSS 4 color 范畴，目前浏览器支持的不是很好
      // 可以用 rgba 来代替，但只能静态设置，不可以随着颜色和透明度的变化动态设置
      // https://drafts.csswg.org/css-color/#modifying-colors
      @supports (background-color: color(green a(10%))) {
        background-color: color(#{$css-var} a(#{percentage($opacity)}));
      }
    }
  }
}

.product-teaser {
  // 1. Style attributes
  display: inline-block;
  padding: 1rem;
  color: #00a8c6;
  background-color: #fff9ff;

  // 2. Pseudo selectors with parent selector
  &:hover {
    color: #00a8c6;
  }

  // 3. Pseudo elements with parent selector
  &::before {
    content: "";
    display: block;
    border-top: 1px solid #00c176;
  }

  &::after {
    content: "";
    display: block;
    border-top: 1px solid #00a8c6;
  }

  // 4. State classes with parent selector
  &.active {
    color: #ff003c;
    background-color: #ff8edf;

    // 4.2. Pseuso selector in state class selector
    &:hover {
      color: #d14;
    }
  }

  // 5. Contextual media queries
  @media screen and (max-width: 640px) {
    display: block;
    font-size: 2em;
  }

  // 6. Brother selectors
  + .main {
    font-size: 1.2em;
  }

  // 7. Sub selectors
  > .content > .title {
    font-size: 1.2em;

    // 7.5. Contextual media queries in sub selector
    @media screen and (max-width: 640px) {
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }
}
