.doc-main {
  p {
    text-indent: 2em;
  }
}

.doc-catalogue .menu-title {
  position: relative;
  width: 230px;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-catalogue .menu-title:hover::after {
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 0;
  border-left: 1px solid #193c5a;
  content: '';
}

.doc-catalogue .menu-title.active::after {
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 0;
  border-left: 2px solid #193c5a;
  content: '';
}

.doc-catalogue-panel {
  position: fixed;
  top: 4.5rem;
  right: 2rem;
  z-index: 2000;
  min-width: 250px;
  overflow: hidden;
  > .doc-catalogue {
    padding: 0 .5rem;
    visibility: hidden;
  }
}

.doc-catalogue-header {
  position: absolute;
  right: 0;
  z-index: 1;
}

.doc-icon-catalogue {
  font-size: 30px;
  cursor: pointer;
}

// 内容目录大纲编号 start
.doc-content {
  font-weight: 500;
  counter-reset: outline1;
  h1, h2, h3, h4, h5, h6 {
    &::before {
      margin-right: .5rem;
    }
  }
}

// 如果大纲第一级别是 h1
.doc-content > h1 {
  counter-reset: outline2;
  &::before {
    content: counter(outline1, decimal) ". ";
    counter-increment: outline1;
  }
  ~ h2 {
    counter-reset: outline3;
  }
  ~ h2::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
    counter-increment: outline2;
  }
  ~ h2 ~ h3 {
    counter-reset: outline4;
  }
  ~ h2 ~ h3::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
    counter-increment: outline3;
  }

  ~ h2 ~ h3 ~ h4 {
    counter-reset: outline5;
  }

  ~ h2 ~ h3 ~ h4::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
    counter-increment: outline4;
  }

  ~ h2 ~ h3 ~ h4 ~ h5 {
    counter-reset: outline6;
  }

  ~ h2 ~ h3 ~ h4 ~ h5::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
    counter-increment: outline5;
  }

  ~ h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) "." counter(outline6, decimal) ".";
    counter-increment: outline6;
  }
}

// 如果大纲第一级别是 h2
.doc-content > h2 {
  counter-reset: outline2;
  &::before {
    content: counter(outline1, decimal) ".";
    counter-increment: outline1;
  }
  ~ h3 {
    counter-reset: outline3;
  }
  ~ h3::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
    counter-increment: outline2;
  }
  ~ h3 ~ h4 {
    counter-reset: outline4;
  }
  ~ h3 ~ h4::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
    counter-increment: outline3;
  }

  ~ h3 ~ h4 ~ h5 {
    counter-reset: outline5;
  }
  ~ h3 ~ h4 ~ h5::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
    counter-increment: outline4;
  }

  ~ h3 ~ h4 ~ h5 ~ h6::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
    counter-increment: outline5;
  }
}

// 如果大纲第一级别是 h3（h4以后的不再考虑）
.doc-content > h3 {
  counter-reset: outline2;
  &::before {
    content: counter(outline1, decimal) ".";
    counter-increment: outline1;
  }
  ~ h4 {
    counter-reset: outline3;
  }
  ~ h4::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
    counter-increment: outline2;
  }
  ~ h4 ~ h5 {
    counter-reset: outline4;
  }
  ~ h4 ~ h5::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
    counter-increment: outline3;
  }

  ~ h4 ~ h5 ~ h6::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
    counter-increment: outline4;
  }
}

// 内容目录大纲编号 end
