
@import "../../../scss/theme/variable";

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

device-resizer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  color: $grey-color-800;
  background: $grey-color-50;
}

.device-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1.25rem;
  overflow: hidden;
  background: $white;
}

.device-brand {
  cursor: pointer;
}

.brand-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../images/perfect-logo-tiny.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.brand-name {
  display: inline-block;
  height: 2.25rem;
  margin-left: .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.device-url-container {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 1.5rem;
  padding: .375rem;
  border-radius: 2px;
  background: #eee;
  cursor: pointer;
  fill: currentColor;
}

.device-url-icon {
  [class*="icon-pure-"] {
    color: $grey-color-900;
    transform: scale(.8);
  }
}

.device-url-input {
  width: 100%;
  padding-left: 1rem;
  border: 0;
  font-size: .875rem;
  background: inherit;
  outline: 0;
}

.device-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.device-icon {
  margin: 6px 12px;
  cursor: pointer;
  [class*="icon-pure-"] {
    transform: scale(.9);
  }
}

.device-selector-wrapper {
  position: relative;
  height: 1rem;
  border-top: 1px solid $grey-color-300;
  border-bottom: 1px solid $grey-color-300;
  font-weight: 500;
  color: $grey-color-900;
  background: $white;
  white-space: nowrap;
}

.device-selector-topbar {
  position: absolute;
  left: -100px;
  right: -100px;
}

.device-selector-item {
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid $grey-color-300;
  border-right: 1px solid $grey-color-300;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1rem;
  color: #fff;
  cursor: pointer;

  &:focus,
  &:hover,
  &.active {
    background: $grey-color-200;
  }

  > .size {
    margin-left: 4px;
    margin-right: 4px;
    color: $grey-color-600;
  }
  > .left {
    float: left;
  }

  > .right {
    float: right;
  }
}

.device-selector-label {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  color: #212121;
  text-align: center;
  pointer-events: none;
}

// container 样式

device-view {
  position: relative;
  display: block;

  &[device="handset"] {
    border-width: 60px 16px;
    border-style: solid;
    border-color: #999;
    border-radius: 36px;
  }
  &[device="handset"][landscape] {
    border-width: 16px 60px;
  }
}

.device-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  overflow: auto;
}

.device-list {
  margin: auto;

  > device-view {
    display: none;
  }

  &[view="all"] {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1400px;
    height: calc(904px * .5);
    margin: 0 auto;

    > device-view {
      bottom: 0;
      box-sizing: content-box;
      display: block;
      transform: scale(.5);
    }
    > device-view[device="window"] {
      position: static;
      width: 1366px;
      height: 800px;
      margin-left: 10%;
      border-width: 24px 24px 80px;
      border-style: solid;
      border-color: #666;
      border-radius: 6px;
      transform-origin: top left;

      &::after {
        content: "";
        position: absolute;
        bottom: -56px;
        left: -140px;
        right: -140px;
        display: block;
        height: 56px;
        margin: -24px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background: #666;
      }
    }
    > device-view[device="table"] {
      position: absolute;
      right: 17%;
      width: 1024px;
      height: 768px;
      border-width: 16px 60px;
      border-style: solid;
      border-color: #757575;
      border-radius: 36px;
      transform-origin: bottom right;
    }
    > device-view[device="handset"] {
      position: absolute;
      right: 5%;
      width: 360px;
      height: 640px;
      border-width: 60px 16px;
      border-style: solid;
      border-color: #999;
      border-radius: 36px;
      transform-origin: bottom right;
    }
  }

  &[view="window"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    & > device-view[device="window"] {
      display: block;
    }
  }

  &[view="handset"] {
    margin: auto;

    & > device-view[device="handset"] {
      display: block;
      margin: 40px;
    }
  }
}

@media screen and (min-width: 1440px) and (min-height: 850px) {
  .device-list[view="all"] {
    max-width: 1700px;
    height: calc(904px * .75);

    > device-view {
      transform: scale(.75);
    }
  }

}

@media screen and (max-width: 1024px), screen and (max-height: 550px) {
  .device-list[view="all"] {
    max-width: 980px;
    height: calc(904px * .35);

    > device-view {
      transform: scale(.35);
    }
  }
}

@media screen and (max-width: 720px), screen and (max-height: 420px) {
  .device-list[view="all"] {
    max-width: 500px;
    height: calc(904px * .18);

    > device-view {
      transform: scale(.18);
    }
  }
}

.frame-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.frame-device {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  background: #fff;
}
