// 定义 docs 样式
// 样式以前缀 .doc-开头来书写
// 使用 Perfect 的变量和函数
@import "../../../scss/etc/variables";
@import "../../../scss/etc/mixins";

// Local docs variables
$doc-primary: #00bcd4;
$doc-primary-bright: lighten(saturate($doc-primary, 5%), 15%);
$doc-primary-light: lighten(saturate(#40c0cb, 5%), 35%);
$doc-graphite: #2a2730;
$doc-graphite-light: lighten($doc-graphite, 40%);
$doc-yellow: #fabe28;
$doc-error: #ff003c;
$doc-warning: #ff8a00;
$doc-info: #8fbe00;

// 公共的样式
// 字体样式
@import "iconfont";
@import "main";

// 目录样式
@import "catalogue";
// 色彩卡
@import "color-swatches";
// copy 样式
@import "copy";
// 例子样式
@import "example";
// 底部样式
@import "footer";
// 代码高亮样式，由 rouge生成
@import "highlight";
// 自定义代码高亮样式
@import "highlight-custom";
// 菜单样式
@import "menu";
// 头部样式
@import "navbar";
// fixed to the top
@import "navbar-top-fixed";

@import "layout";
