// 例子样式
.doc-example {
  position: relative;
  padding: 1rem;
  margin: 1rem (-$grid-gutter-width / 2);
  border: solid #f7f7f9;
  border-width: 2px 0 0;
  @include clearfix();
}

@media (min-width: 640px) {
  .doc-example {
    padding: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-width: .3rem .3rem 0;
  }
}

// 容器例子样式
.doc-example-container {
  .container-fluid,
  .container {
    padding: 20px;
    color: darken($purple, 20%);
    background-color: lighten($purple, 48%);
    text-align: center;
  }
}
