// 自定义 highlight 样式
.highlight {
  padding: 1rem;
  margin: 0 (-$grid-gutter-width / 2) 1rem;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #f7f7f9;

  @include media-breakpoint-up(sm) {
    padding: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}
.highlight pre code {
  font-size: inherit;
  color: $gray-dark; // Effectively the base text color
}
