
body {
  background-color: #fafafa;
}

.doc1-top-fixed {
  padding-top: 64px;
}

.doc1-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4002;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 256px;
}

@media screen and (max-width: 1479px) {
  .doc1-nav-wrapper {
    padding-left: 0;
  }
}

.doc1-header-nav {
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;

  > li {
    padding: 0 20px;
  }
}

.doc1-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4001;
  height: 64px;
  padding-left: 256px;
  background: #00bcd4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  transition: padding-left .2s cubic-bezier(.4, 0, .2, 1);
}

@media screen and (max-width: 1479px) {
  .doc1-header-wrapper {
    padding-left: 0;
  }
}

.doc1-header-title {
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  color: #fff;
  white-space: nowrap;
}

.doc1-menu-btn {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 48px;
  height: 48px;
  border: 0;
  background: transparent center center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  outline: 0;
}

.doc1-menu-icn {
  color: #fff;
}

.doc1-menu-icn::before {
  content: "\e604";
}

.doc1-logo-wrapper {
  padding: 12px 0 8px 24px;
  border-bottom: 1px solid #e0e0e0;
}

.doc1-logo {
  display: inline-block;
  width: 160px;
  height: 40px;
  background: url("../images/perfect-logo.svg") no-repeat;
}

.doc1-main {
  display: flex;
}

.doc1-side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 4004;
  width: 256px;
  border-right: 1px solid rgba(0, 0, 0, .14);
  background: #fff;
  transform: translateZ(0);
  transition-delay: .1s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .2s;
  transition-property: transform, left;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1479px) {
  .doc1-side {
    left: -241px;
    visibility: hidden;
    transform: translateX(-241px);
  }
}

@media screen and (max-width: 1479px) {
  .doc1-side-drawer-visible {
    left: -241px;
    transform: translateX(0);
  }
}

.doc1-side-drawer-visible {
  left: 0;
  visibility: visible;
  transform: translateX(0);
}

.doc1-side-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.doc1-menu-nav {
  padding: 12px 0 40px;
  font-size: 13px;
  transform: translateZ(0);
}

.doc1-content-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  padding-left: 256px;
  background: #fafafa;
  transition: padding-left .2s cubic-bezier(.4, 0, .2, 1);
}

@media screen and (max-width: 1479px) {
  .doc1-content-wrapper {
    padding-left: 0 !important;
  }
}

.doc1-content {
  padding: 20px;
}

.doc1-mask-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4003;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: .1;
  transform: translateZ(0);
  transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);

  &.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0;
  }
}
