// 这里之所以定义 html 为 position: relative; 主要为了实现，不论页面高度如何，底部始终在最下面显示
html {
  position: relative;
}

html, body {
  height: auto;
  min-height: 100%;
}

a {
  color: #337ab7;
  &:hover, &:active {
    color: #337ab7;
  }
}

.doc-main {
  min-height: 500px;
  padding-left: 20px;
  padding-right: 20px;
}
