.navbar-doc {
  padding: .5rem 2rem;
  border-color: #0e2132;
  color: #fff;
  background-image: linear-gradient(to bottom, #1f496e 0, #193c5a 100%);
  background-repeat: repeat-x;

  .navbar-brand,
  .navbar-toggler {
    color: #fff;

    @include hover-focus {
      color: #fff;
    }
  }

  .navbar-nav {
    .nav-link {
      color: #fff;

      @include hover-focus {
        color: #fff;
      }

      &.disabled {
        color: #fff;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: #fff;
    }
  }

  .navbar-toggler {
    border-color: $navbar-light-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-bg;
  }

  .navbar-text {
    color: #fff;
  }
}
