<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <title>重新采用新布局实现</title>
  <link href="/assets/css/perfect.css" rel="stylesheet">
  <link href="/assets/css/docs.css" rel="stylesheet">
</head>
<body class="doc1-top-fixed">

<!--<header class="doc1-nav-wrapper">
  <ul class="doc1-header-nav">
    <li><a href="">组件</a></li>
    <li><a href="">文档</a></li>
    <li><a href="">主题</a></li>
    <li><a href="">例子</a></li>
  </ul>
</header>-->

<header class="doc1-header-wrapper">
  <button class="doc1-menu-btn">
    <i class="icon doc1-menu-icn"></i>
  </button>
  <div class="doc1-header-title">
    Perfect 之旅 - 介绍
  </div>
</header>

<div class="doc1-main">
  <div class="doc1-side">
    <div class="doc1-side-wrapper">
      <div class="doc1-logo-wrapper">
        <i class="doc1-logo"></i>
      </div>
      <nav class="doc1-menu-nav">
        <ul class="menu">
          <li>
            <a href="#" class="menu-title menu-header">Perfect
              之旅</a>
            <ul class="menu" style="display: none;">
              <li><a href="/docs/getting-started/introduction/" class="menu-title active">介绍</a>
              </li>
              <li><a href="/docs/getting-started/download/" class="menu-title ">下载</a></li>
              <li><a href="/docs/getting-started/best-practices/" class="menu-title ">最佳实践</a></li>
              <li><a href="/docs/getting-started/css-module/" class="menu-title ">CSS 模块化支持</a></li>
              <li><a href="/docs/getting-started/javascript/" class="menu-title ">JavaScript 组件</a>
              </li>
              <li><a href="/docs/getting-started/theme/" class="menu-title ">自定义主题</a></li>
              <li><a href="/docs/getting-started/color-swatches/" class="menu-title ">七色卡</a></li>
              <li><a href="/docs/getting-started/compatibility/" class="menu-title ">兼容性</a></li>
              <li><a href="/docs/getting-started/build/" class="menu-title ">开发构建</a></li>


              <li><a href="/docs/getting-started/changelog/" class="menu-title ">历史版本</a></li>


              <li><a href="/docs/getting-started/issue/" class="menu-title ">问题和建议</a></li>


              <li><a href="/docs/getting-started/develop-guide/" class="menu-title ">Perfect
                开发指南</a></li>


              <li><a href="/docs/getting-started/browser-bug/" class="menu-title ">浏览器 bug</a></li>

            </ul>
          </li>


          <li>
            <a href="#" class="menu-title menu-header ">Perfect 设置</a>
            <ul class="menu" style="display: none;">


              <li><a href="/docs/setup/global-styles/" class="menu-title ">全局样式</a></li>


              <li><a href="/docs/setup/options/" class="menu-title ">配置项</a></li>


              <li><a href="/docs/setup/sass/" class="menu-title ">Sass</a></li>


              <li><a href="/docs/setup/javascript/" class="menu-title ">JavaScript</a></li>


              <li><a href="/docs/setup/flex/" class="menu-title ">Flex</a></li>


              <li><a href="/docs/setup/media-queries/" class="menu-title ">媒体查询</a></li>

            </ul>
          </li>


          <li>
            <a href="#" class="menu-title menu-header ">布局</a>
            <ul class="menu" style="display: none;">


              <li><a href="/docs/layout/container/" class="menu-title ">容器</a></li>


              <li><a href="/docs/layout/grid/" class="menu-title ">Grid</a></li>


              <li><a href="/docs/layout/responsive/" class="menu-title ">响应式布局</a></li>

            </ul>
          </li>


          <li>
            <a href="#" class="menu-title menu-header ">排版</a>
            <ul class="menu" style="display: none;">


              <li><a href="/docs/typography/typography/" class="menu-title ">段落</a></li>


              <li><a href="/docs/typography/color/" class="menu-title ">颜色</a></li>


              <li><a href="/docs/typography/code/" class="menu-title ">代码</a></li>


              <li><a href="/docs/typography/table/" class="menu-title ">表格</a></li>

            </ul>
          </li>


          <li>
            <a href="#" class="menu-title menu-header ">导航类样式</a>
            <ul class="menu" style="display: none;">


              <li><a href="/docs/navigation/nav/" class="menu-title ">导航</a></li>


              <li><a href="/docs/navigation/navbar/" class="menu-title ">导航栏</a></li>


              <li><a href="/docs/navigation/menu/" class="menu-title ">菜单</a></li>


              <li><a href="/docs/navigation/pagination/" class="menu-title ">分页</a></li>

            </ul>
          </li>


          <li>
            <a href="/docs/container/form/" class="menu-title menu-header ">容器类样式</a>
            <ul class="menu">


              <li><a href="/docs/container/form/" class="menu-title ">Form 表单</a></li>


              <li><a href="/docs/container/panel/" class="menu-title ">Panel 组件</a></li>


              <li><a href="/docs/container/tab/" class="menu-title ">Tab Panel 组件</a></li>


              <li><a href="/docs/container/card/" class="menu-title ">Card 组件</a></li>


              <li><a href="/docs/container/list/" class="menu-title ">List Panel 组件</a></li>


              <li><a href="/docs/container/dialog/" class="menu-title ">对话框窗口</a></li>

            </ul>
          </li>


          <li>
            <a href="/docs/components/button/" class="menu-title menu-header ">组件类样式</a>
            <ul class="menu">


              <li><a href="/docs/components/button/" class="menu-title ">Button 按钮</a></li>


              <li><a href="/docs/components/input/" class="menu-title ">Input 组件</a></li>


              <li><a href="/docs/components/dropdown/" class="menu-title ">DropDown 组件</a></li>


              <li><a href="/docs/components/progress/" class="menu-title ">Progress 组件</a></li>


              <li><a href="/docs/components/alert/" class="menu-title ">Alert 组件</a></li>


              <li><a href="/docs/components/crumb/" class="menu-title ">面包屑</a></li>


              <li><a href="/docs/components/tooltip/" class="menu-title ">Tooltip 组件</a></li>


              <li><a href="/docs/components/popover/" class="menu-title ">Popover 组件</a></li>


              <li><a href="/docs/components/image/" class="menu-title ">Image 组件</a></li>

            </ul>
          </li>


          <li>
            <a href="/docs/utils/float/" class="menu-title menu-header ">工具类样式</a>
            <ul class="menu">


              <li><a href="/docs/utils/float/" class="menu-title ">浮动</a></li>


              <li><a href="/docs/utils/position/" class="menu-title ">定位</a></li>


              <li><a href="/docs/utils/color/" class="menu-title ">颜色</a></li>


              <li><a href="/docs/utils/flex/" class="menu-title ">Flex</a></li>


              <li><a href="/docs/utils/spacing/" class="menu-title ">间距</a></li>


              <li><a href="/docs/utils/border/" class="menu-title ">边框</a></li>


              <li><a href="/docs/utils/align/" class="menu-title ">文本对齐</a></li>

            </ul>
          </li>


          <li>
            <a href="/docs/tag-property/tag/" class="menu-title menu-header ">Html 标签和样式属性</a>
            <ul class="menu">


              <li><a href="/docs/tag-property/tag/" class="menu-title ">Html 标签</a></li>


              <li><a href="/docs/tag-property/property/" class="menu-title ">样式属性</a></li>

            </ul>
          </li>


          <li>
            <a href="/docs/plugins/plugin1/" class="menu-title menu-header ">插件</a>
            <ul class="menu">


              <li><a href="/docs/plugins/plugin1/" class="menu-title ">插件1</a></li>

            </ul>
          </li>


          <li>
            <a class="menu-title menu-header ">辅助样式库</a>
            <ul class="menu">


              <li><a href="http://www.iconfont.cn/" target="_blank" class="menu-title ">阿里图标库</a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <div class="doc1-content">
    <div class="row no-gutters">
      <div class="doc-content col-24 col-lg-19 col-md-17">
        内容
      </div>
      <div class="col-24 col-lg-5 col-md-7">
        导航
      </div>
    </div>

    <footer>底部区域</footer>
  </div>
</div>

<div class="doc1-mask-modal"></div>

</body>
</html>
