// Colors

// 定义几种常用的颜色
$white: #fff !default;
$black: #000 !default;
$red: #ff003c !default;
$orange: #ff8a00 !default;
$yellow: #ffd500 !default;
$olive: #b5cc18 !default; // 橄榄色
$green: #5cb85c !default;
$cyan: #39cccc !default; //青色
$blue: #2185d0 !default;
$violet: #6435c9 !default; // 紫罗兰色
$purple: #a333c8 !default; // 紫色
$pink: #ff5b77 !default; // 粉色
$brown: #a5673f !default; // 棕色

/*---  Light Colors  ---*/
$light-red: #ff695e;
$light-orange: #ff851b;
$light-yellow: #ffe21f;
$light-green: #2ecc40;
$light-blue: #54c8ff;
$light-purple: #cdc6ff;
$light-pink: #ff8edf;

// 灰色颜色参考 Bootstrap 默认颜色
$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

//主题颜色
$theme-primary: #00a8c6 !default;
$theme-secondary: $blue !default;
$theme-info: #8fbe00 !default;
$theme-warning: #ff8a00 !default;
$theme-danger: #ff003c !default;
$theme-inverse: $gray-dark !default;

// body 默认背景和字体颜色
$body-bg: $white !default;
$body-color: $gray-dark !default;

// 浅色字体颜色
$text-muted: $gray-light !default;

//$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$mark-bg: $state-warning-bg !default;
//$state-warning-border: darken($state-warning-bg, 5%) !default;
