// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: .75rem !default;
$table-sm-cell-padding: .3rem !default;

$table-bg: transparent !default;

$table-inverse-bg: $gray-dark !default;
$table-inverse-color: $body-bg !default;

$table-bg-accent: rgba($black, .05) !default;
$table-bg-hover: rgba($black, .075) !default;
$table-bg-active: $table-bg-hover !default;

$table-head-bg: $gray-lighter !default;
$table-head-color: $gray !default;

$table-border-width: $border-width !default;
$table-border-color: $gray-lighter !default;
