// 列表
// 可用在 ul ol div 等标签上
@import "../../base/variables/border";
@import "../../base/mixins/hover";
@import "../../theme/mixin";
@import "variable";

// 基础样式
.list {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  // 对于 ul ol list-style-type 设为 none
  list-style-type: none;

  @include theme-prop(color, primary-on-background);
}

// 运用在 a 或 button 上 ，放在 .list-item 前书写，因为 .list-item 中 的 active 会覆盖样式
.list-item-action {
  width: 100%; // 把 button 的宽度设为 100%
  border: 0;
  text-align: inherit; // 重置 button
  cursor: pointer;

  @include theme-prop(color, primary-on-background);

  // Hover 一般用在 a 或 button 标签上
  @include hover-focus {
    background-color: $list-item-hover-bg;
    text-decoration: none;

    @include theme-prop(color, primary-on-background);
  }

  &:focus {
    outline: 0;
  }

  // 不可用样式
  &.disabled,
  &:disabled {
    &:hover {
      @include theme-prop(background-color, primary-on-dark);
    }
  }
}

// list 列表项
.list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: $list-item-padding-y $list-item-padding-x;

  @include theme-prop(background-color, primary-on-dark);

  // 活动样式
  &.active {
    background-color: $list-item-active-bg;
  }

  // 不可用样式
  &.disabled,
  &:disabled {
    @include theme-prop(color, disabled-on-background);
  }
}

// 紧凑的
.list-dense {
  font-size: .75rem;

  .list-item-icon-start,
  .list-item-icon-end {
    width: $list-item-icon-size * .8333;
    height: $list-item-icon-size * .8333;
    margin-right: $list-item-icon-margin;
  }

  .list-item-text-secondary {
    font-size: $list-dense-font-size;
  }

  > .list-item {
    padding: $list-dense-item-padding-y $list-item-padding-x;
  }
}

// 带边框的 list

// 所有边框
.list-border {
  .list-item {
    // 合并边框的一种解决方案
    margin-bottom: -$list-border-width;
    border: $list-border-width solid $list-border-color;
  }
}

// 内边框
.list-border-inner {
  .list-item {
    border-top: $list-border-width solid $list-border-color;

    &:first-child {
      border-top: 0;
    }
  }
}

// 中间带间距的
.list-spacing {
  .list-item {
    margin-bottom: $list-border-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// 行头和行尾图标，默认高宽度为 24px，即 16px + 8px = 1.5rem
// 使用时可以根据实际需要调整大小
.list-item-icon-start,
.list-item-icon-end {
  width: $list-item-icon-size;
  height: $list-item-icon-size;
}

.list-item-icon-start {
  margin-right: $list-item-icon-margin;
  margin-left: 0;
}

.list-item-icon-end {
  margin-left: auto;
}

// 头像 avatar
.list-item-avatar {
  width: $list-item-avatar-size;
  height: $list-item-avatar-size;
  margin-right: $list-item-avatar-margin;
  margin-left: 0;
  border-radius: 50%;
}

// 文本居中
.list-item-text-center {
  width: 100%;
  text-align: center;

  + .list-item-icon-end {
    position: absolute;
    right: $list-item-padding-x;
  }
}

// 右侧文本
.list-item-text-right {
  margin-right: $list-item-text-right-margin-right;
  margin-left: auto;
  font-size: $list-item-text-right-font-size;

  + .list-item-icon-end {
    margin-left: inherit;
  }
}

// 两行
.list-item-text {
  display: inline-flex;
  flex-direction: column;
}

.list-item-text-secondary {
  font-size: $list-item-text-secondary-font-size;
  font-weight: $list-item-text-secondary-font-weight;
  line-height: $list-item-text-line-height;

  @include theme-prop(color, secondary-on-background);
}

// 列表分隔线
.list-divider {
  width: 100%;
  height: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $list-divider-border-color;
}

.list-divider-inset {
  width: calc(100% - #{$list-divider-inset-left});
  margin-right: 0;
  margin-left: $list-divider-inset-left;
}

// 当列表前面设置 list-item-icon-start 时，使用该样式来作为分隔线
.list-divider-inset-icon {
  width: calc(100% - #{$list-divider-inset-icon-left});
  margin-right: 0;
  margin-left: $list-divider-inset-icon-left;
}

// 当列表前面设置 list-item-avatar 时，使用该样式来作为分隔线
.list-divider-inset-avatar {
  width: calc(100% - #{$list-divider-inset-avatar-left});
  margin-right: 0;
  margin-left: $list-divider-inset-avatar-left;
}

// 列表组
.list-group {
  padding: .5rem 0;

  @include theme-prop(background-color, primary-on-dark);

  &-header {
    margin: $list-group-header-padding-y $list-group-header-padding-x;
    font-size: $list-group-header-font-size;
    font-weight: $list-group-header-font-weight;

    @include theme-prop(color, primary-on-light);
  }
}

// 主题，todo
