@import "../../theme/mixin";
@import "../../theme/variable";
@import "../../base/variables/form";
@import "variable";

// Disabled
@mixin input-disabled {
  background-color: $input-disabled-background-color;
  pointer-events: none;

  @include theme-prop(color, disabled-on-light);
}

// Input 大小 mixin
@mixin input-size($font-size, $input-height, $input-padding-x, $input-padding-y,
$input-icon-field-padding: $input-icon-field-padding, $input-float-top: $input-float-top) {
  font-size: $font-size;

  .input-field {
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
  }

  .input-float-label {
    bottom: $input-padding-y;
    left: $input-padding-x;
  }

  &.input-icon-start {
    .input-field {
      padding-left: $input-icon-field-padding;
    }

    .input-float-label {
      left: $input-icon-field-padding;
    }
  }

  &.input.input-icon-end {
    .input-field {
      padding-right: $input-icon-field-padding;
    }

    .input-float-label {
      right: $input-icon-field-padding;
    }
  }

  &.input-float .input-field {
    height: auto;
    padding-top: $input-float-top;
  }
}

// 定义 input 主题
@mixin input-theme($theme) {
  .input-field {
    @if type-of($theme) == "color" {
      border-color: lighten($theme, 20%);

      &:focus {
        border-color: $theme;
      }
    } @else {
      @include theme-prop(border-color, #{$theme}-lighter);

      &:focus {
        @include theme-prop(border-color, #{$theme});
      }
    }
    // Disabled
    &:disabled,
    &[readonly] {
      border-color: $grey-color-100;
    }
  }
}
