// input 变量
@import "../../theme/variable";
@import "../../base/variables/font";

$input-margin-left: .5rem !default;

// label
$input-label-bottom: .5rem !default;

// sizing
$input-font-size-lg: 1rem !default;
$input-padding-x-lg: 1rem !default;
$input-padding-y-lg: .75rem !default;
$input-icon-top-lg: .75rem !default;

$input-font-size-sm: .75rem !default;
$input-padding-x-sm: .5rem !default;
$input-padding-y-sm: .25rem !default;
$input-icon-top-sm: .125rem !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认开启，需要的话可关闭
$enable-custom-theme-for-input: true !default;
