// input 变量
@import "../../theme/variable";
@import "../../base/variables/font";

$input-height: 2.25rem; // 36px
$input-margin-left: .5rem !default;

// input-float
$input-float-top: 1.5rem !default;

// input-icon
$input-icon-field-padding: 2.5rem !default;
$input-icon-pos-x: .5rem !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认开启，需要的话可关闭
$enable-custom-theme-for-input: true !default;
