// input style
@import "../../base/variables/options";
@import "../../animation/variable";
@import "../../base/variables/form";
@import "../../base/mixins/box-shadow";
@import "../../ripple/mixin";
@import "../../theme/mixin";
@import "../../theme/variable";
@import "../../shadow/mixin";
@import "variable";
@import "function";
@import "mixin";

// 定义在 Input 元素外层包裹上
.input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  // 如果加入 label 则设置间距
  label > .input-field,
  label + .input-field {
    margin-left: $input-margin-left;
  }
}

// 定义在 Input 元素上
.input-field {
  box-sizing: border-box;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: 1px solid $input-border-color;
  -webkit-font-smoothing: antialiased; // 抗锯齿效果
  -moz-osx-font-smoothing: grayscale; // 抗锯齿效果
  line-height: $input-line-height;
  background: none;
  background-clip: padding-box;
  will-change: opacity, transform, color;
  -webkit-appearance: none; // 去掉 input 默认的行为和样式表现

  @if $enable-rounded {
    border-radius: $input-border-radius;
  } @else {
    border-radius: 0;
  }

  // Placeholder
  &::placeholder {
    opacity: 1;
    transition: input-transition(opacity);

    @include theme-prop(color, hint-on-light);
  }

  // 定义 `:focus` 样式
  &:focus {
    border-color: $input-focus-border-color;
    outline: none;
    transition: input-transition(opacity);

    // 获取焦点时，隐藏 placeholder
    &::placeholder {
      opacity: 0;
    }
  }

  // Disabled
  &:disabled,
  &[readonly] {
    @include input-disabled;
  }

  // 设置 type="color" 样式
  &[type="color"] {
    padding: 0;
    border: 0;
  }

  // 滑块
  &[type="range"] {
    padding: 0;
    border: 0;
    -webkit-appearance: slider-horizontal;
  }
}

// 扁平化输入框，即只有一条底边框表单
.input-flat {
  .input-field {
    border-width: 0 0 1px;
    border-radius: 0;
  }
}

// full width input
.input-full {
  display: block;
  flex: 1;
  width: 100%;

  .input-field {
    display: block;
    width: 100%;
  }
}

// 点击input时提示文字缩小上移，并改变颜色为高亮色
.input-float {
  .input-field {
    height: auto;
    padding-top: $input-float-top;
    border-width: 0 0 1px;
    border-radius: 0;

    &::placeholder {
      opacity: 0;
    }
  }

  &-label {
    position: absolute;
    bottom: $input-padding-y;
    left: $input-padding-x;
    transform: translateY(-20%);
    transform-origin: left top;
    transition: input-transition(transform), input-transition(color), input-transition(font-size);
    cursor: text;
    pointer-events: none;

    @include theme-prop(color, hint-on-light);
  }

  // 当 input 输入框获取焦点时，label 向上移动
  // .input-field:-webkit-autofill + .input-float-label
  .input-field:focus + .input-float-label,
  .input-field-focused + .input-float-label,
  .input-field:-webkit-autofill + .input-float-label {
    transform: translateY(-90%) scale(.8, .8);
    cursor: auto;

    @include theme-prop(color, secondary-on-light);
  }

  // Disabled
  .input-field:disabled,
  .input-field[readonly] {
    + .input-float-label {
      @include theme-prop(color, disabled-on-light);
    }
  }
}

// textarea 样式
.input-textarea {
  .input-field {
    height: auto;
    resize: none;
  }
}

// 加入 .input 样式后，当获取焦点时，placeholder 内容隐藏
// 如果想恢复 input 默认行为时，即当获取焦点时，placeholder 内容不隐藏，只有输入内容后才隐藏
// 这时需要加上样式 .input-placeholder
.input-placeholder {
  .input-field {
    &::placeholder {
      transition: input-transition(color);
    }

    &:focus {
      &::placeholder {
        opacity: 1;

        @include theme-prop(color, secondary-on-light);
      }
    }
  }
}

// 表单校验无效时
.input-invalid {
  .input-field {
    @include theme-assist(border-color, error);
    @include theme-assist(color, error);
    // Placeholder
    &::placeholder {
      @include theme-assist(color, error);
    }

    &:disabled,
    &[readonly] {
      border-color: $grey-color-100;

      @include theme-prop(color, disabled-on-light);
      // Placeholder
      &::placeholder {
        @include theme-prop(color, disabled-on-light);
      }
    }
  }

  .input-float-label,
  .input-field:focus + .input-float-label,
  .input-field-focused + .input-float-label,
  .input-field:-webkit-autofill + .input-float-label {
    @include theme-assist(color, error);
  }
}

// 输入框带图标
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-icon-start {
  .input-field {
    padding-left: $input-icon-field-padding;
  }

  .input-icon {
    right: initial;
    left: $input-icon-pos-x;
  }

  .input-float-label {
    left: $input-icon-field-padding;
  }
}

.input.input-icon-end {
  .input-field {
    padding-right: $input-icon-field-padding;
  }

  .input-icon {
    right: $input-icon-pos-x;
    left: initial;
  }

  .input-float-label {
    right: $input-icon-field-padding;
  }
}

// Sizing
.input-lg {
  @include input-size($input-font-size-lg, $input-height-lg, $input-padding-x-lg, $input-padding-y-lg);
}

.input-sm {
  @include input-size($input-font-size-sm, $input-height-sm, $input-padding-x-sm, $input-padding-y-sm);
}

// 定义主题样式
@if ($enable-custom-theme and $enable-custom-theme-for-input) {
  // 主颜色
  @each $theme in ("primary", "secondary") {
    .input-#{$theme} {
      @include input-theme($theme);
    }
  }

  // 辅助颜色对应 input
  @each $theme in $theme-assist {
    .input-#{$theme} {
      @include input-theme($theme);
    }
  }
}
