// arrow 箭头样式

$arrow-size: 0.4375rem;
$arrow-color: #000;

@mixin arrow {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset $arrow-size;
}

.arrow-up {
  @include arrow;
  border-color: transparent transparent $arrow-color;
  border-top-width: 0;
  border-bottom-style: solid;
}

.arrow-down {
  @include arrow;
  border-color: $arrow-color transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
}

.arrow-left {
  @include arrow;
  border-color: transparent $arrow-color transparent transparent;
  border-left-width: 0;
  border-right-style: solid;
}

.arrow-right {
  @include arrow;
  border-color: transparent transparent transparent $arrow-color;
  border-left-style: solid;
  border-right-width: 0;
}
