// Positioning

.pos-abs {
  position: absolute !important;
}

.pos-top {
  position: absolute !important;
  top:      0;
}

.pos-bottom {
  position: absolute !important;
  bottom:   0;
}

.pos-left {
  position: absolute !important;
  left:     0;
}

.pos-right {
  position: absolute !important;
  right:    0;
}

// 水平垂直居中
.pos-center {
  position:  absolute !important;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
}

.pos-rel {
  position: relative !important;
}

.pos-fixed {
  position: fixed !important;
}

.pos-sta {
  position: static !important;
}

.fixed-top {
  position: fixed;
  top:      0;
  left:     0;
  right:    0;
  z-index:  $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  bottom:   0;
  left:     0;
  right:    0;
  z-index:  $zindex-fixed;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top:      0;
    z-index:  $zindex-sticky;
  }
}
