// Margin and Padding
@import "../base/variables/options";
@import "../base/variables/spacing";
@import "../responsive/variable";
@import "../responsive/mixin";

@mixin set-spacing($infix: '') {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in $spacers {

      .#{$abbrev}#{$infix}-#{$size} {
        #{$prop}: $length !important;
      }
      .#{$abbrev}-t#{$infix}-#{$size},
      .#{$abbrev}-y#{$infix}-#{$size} {
        #{$prop}-top: $length !important;
      }
      .#{$abbrev}-r#{$infix}-#{$size},
      .#{$abbrev}-x#{$infix}-#{$size} {
        #{$prop}-right: $length !important;
      }
      .#{$abbrev}-b#{$infix}-#{$size},
      .#{$abbrev}-y#{$infix}-#{$size} {
        #{$prop}-bottom: $length !important;
      }
      .#{$abbrev}-l#{$infix}-#{$size},
      .#{$abbrev}-x#{$infix}-#{$size} {
        #{$prop}-left: $length !important;
      }
    }
  }

  // margin auto 可用来自适应左右宽度
  .m#{$infix}-auto { margin: auto !important; }
  .m-t#{$infix}-auto,
  .m-y#{$infix}-auto {
    margin-top: auto !important;
  }
  .m-r#{$infix}-auto,
  .m-x#{$infix}-auto {
    margin-right: auto !important;
  }
  .m-b#{$infix}-auto,
  .m-y#{$infix}-auto {
    margin-bottom: auto !important;
  }
  .m-l#{$infix}-auto,
  .m-x#{$infix}-auto {
    margin-left: auto !important;
  }
}

@if ($enable-responsive) {
  @each $breakpoint in map-keys($responsive-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $responsive-breakpoints);
      @include set-spacing($infix);
    }
  }
} @else {
  @include set-spacing();
}

