// 水平方向
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

// 垂直方向
.text-baseline { // Browser default
  vertical-align: baseline !important;
}

.text-top {
  vertical-align: top !important;
}

.text-middle {
  vertical-align: middle !important;
}

.text-bottom {
  vertical-align: bottom !important;
}

.text-text-top {
  vertical-align: text-top !important;
}

.text-text-bottom {
  vertical-align: text-bottom !important;
}

