// 空心箭头

@import "./variable";
@import "./mixin";

.icon-pure-caret-right {
  &::before, &::after {
    position: absolute;
    bottom: 0;
    right: 4px;
    width: $icon-size / 2 * 1.4142135623730951 - 2px;
    height: 2px;
    margin: auto 0;
    box-shadow: inset 0 0 0 4px;
    transform-origin: right;
  }
  &::before {
    top: 2px;
    transform: rotate(45deg);
  }
  &::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

.icon-pure-caret-up {
  @extend .icon-pure-caret-right;
  transform: rotate(-90deg);
}

.icon-pure-caret-down {
  @extend .icon-pure-caret-right;
  transform: rotate(90deg);
}

.icon-pure-caret-left {
  @extend .icon-pure-caret-right;
  transform: rotate(180deg);
}
