// 加减图标

@import "./variable";
@import "./mixin";

// 减
.icon-pure-minus {
  &::before {
    width: $icon-size;
    height: 2px;

    @include icon-center-middle;
  }
}

// 加
.icon-pure-plus {
  &::after {
    width: 2px;
    height: $icon-size;

    @include icon-center-middle;
  }

  @extend .icon-pure-minus;
}
