// 目录和内容
@import "../../../../scss/responsive/mixin";
@import "../../../../scss/theme/mixin";
@import "../../../../scss/animation/mixin";

.doc-catalogue-menu:hover {
  .doc-catalogue-panel {
    transform: translate(0, 0);
  }
}

.doc-catalogue-panel {
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 1000;
  padding-top: .5rem;
  border-bottom: 1px solid;
  border-left: 1px solid;
  overflow: hidden;
  background-color: #fff;
  transform: translate(200%, 0);
  @include theme-prop(border-color, secondary-lightest);
  @include animation-transition(transform);
}

.doc-catalogue-icon {
  position: fixed;
  top: 4.5rem;
  right: .5rem;
  z-index: 1000;
  @include theme-prop(background-color, hint-on-dark);
  cursor: pointer;

  .icon-pure-catalogue {
    @include theme-prop(color, secondary);
  }
}

.doc-catalogue-menu-right {
  display: none;
}

@media screen and (min-width: 1600px) {
  .doc-catalogue-menu {
    display: none;
  }
  .doc-main {
    display: flex;
  }
  .doc-content {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }

  .doc-catalogue-menu-right {
    display: block;
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
    margin-left: 1rem;
    border-left: 1px solid $grey-color-300;
  }

  .doc-catalogue-panel {
    position: static;
    right: auto;
    margin-top: 1rem;
    border: 0;
    transform: translate(0, 0);
  }

  .doc-catalogue-header {
    &::before {
      content: '目录';
      padding-left: .5rem;
      color: #999;
    }
  }
}

.doc-catalogue {
  .menu-title {
    position: relative;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover::after,
    &.active::after {
      content: '';
      position: absolute;
      top: 25%;
      bottom: 20%;
      left: 0;
      border-left: 1px solid;
      @include theme-prop(border-left-color, secondary);
    }
    &.active::after {
      border-left-width: 2px;
    }
  }
}

// 内容目录大纲编号 start
.doc-content {
  counter-reset: outline1;
  h1, h2, h3, h4, h5, h6 {
    &::before {
      margin-right: .5rem;
    }
  }
}

// 如果大纲第一级别是 h1
.doc-content > h1 {
  counter-reset: outline2;
  &::before {
    content: counter(outline1, decimal) ". ";
    counter-increment: outline1;
  }
  ~ h2 {
    counter-reset: outline3;
  }
  ~ h2::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
    counter-increment: outline2;
  }
  ~ h2 ~ h3 {
    counter-reset: outline4;
  }
  ~ h2 ~ h3::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
    counter-increment: outline3;
  }

  ~ h2 ~ h3 ~ h4 {
    counter-reset: outline5;
  }

  ~ h2 ~ h3 ~ h4::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
    counter-increment: outline4;
  }

  ~ h2 ~ h3 ~ h4 ~ h5 {
    counter-reset: outline6;
  }

  ~ h2 ~ h3 ~ h4 ~ h5::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
    counter-increment: outline5;
  }

  ~ h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) "." counter(outline6, decimal) ".";
    counter-increment: outline6;
  }
}

// 如果大纲第一级别是 h2
.doc-content > h2 {
  counter-reset: outline2;
  &::before {
    content: counter(outline1, decimal) ".";
    counter-increment: outline1;
  }
  ~ h3 {
    counter-reset: outline3;
  }
  ~ h3::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
    counter-increment: outline2;
  }
  ~ h3 ~ h4 {
    counter-reset: outline4;
  }
  ~ h3 ~ h4::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
    counter-increment: outline3;
  }

  ~ h3 ~ h4 ~ h5 {
    counter-reset: outline5;
  }
  ~ h3 ~ h4 ~ h5::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
    counter-increment: outline4;
  }

  ~ h3 ~ h4 ~ h5 ~ h6::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
    counter-increment: outline5;
  }
}

// 如果大纲第一级别是 h3（h4以后的不再考虑）
.doc-content > h3 {
  counter-reset: outline2;
  &::before {
    content: counter(outline1, decimal) ".";
    counter-increment: outline1;
  }
  ~ h4 {
    counter-reset: outline3;
  }
  ~ h4::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
    counter-increment: outline2;
  }
  ~ h4 ~ h5 {
    counter-reset: outline4;
  }
  ~ h4 ~ h5::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
    counter-increment: outline3;
  }

  ~ h4 ~ h5 ~ h6::before {
    content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
    counter-increment: outline4;
  }
}

// 内容目录大纲编号 end
