// 目录和内容
@import "../../../../scss/responsive/mixin";
@import "../../../../scss/theme/mixin";
@import "../../../../scss/animation/mixin";

.doc-catalogue-menu:hover {
  .doc-catalogue-panel {
    transform: translate(0, 0);
  }
}

.doc-catalogue-panel {
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 1000;
  padding-top: .5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  overflow: hidden;
  background-color: #fff;
  transform: translate(200%, 0);
  @include theme-prop(border-color, secondary-lightest);
  @include animation-transition(transform);
}

.doc-catalogue-icon {
  position: fixed;
  top: 4.5rem;
  right: .5rem;
  z-index: 1000;
  @include theme-prop(background-color, hint-on-dark);
  cursor: pointer;

  .icon-pure-catalogue {
    @include theme-prop(color, secondary);
  }
}

.doc-catalogue-menu-right {
  display: none;
}

.doc-content {
  padding-top: 1rem;
  padding-bottom: 1rem;

  > h1 {
    font-size: 1.75rem;
  }

  > h2 {
    font-size: 1.5rem;
  }

  > h3 {
    font-size: 1.25rem;
  }

  > h3 {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1600px) {
  .doc-catalogue-menu {
    display: none;
  }
  .doc-main {
    display: flex;
  }
  .doc-content {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }

  .doc-catalogue-menu-right {
    display: block;
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
    margin-left: 1rem;
    border-left: 1px solid $grey-color-300;
  }

  .doc-catalogue-panel {
    position: static;
    right: auto;
    margin-top: 1rem;
    border: 0;
    transform: translate(0, 0);
  }

  .doc-catalogue-header {
    &::before {
      content: '目录';
      padding-left: .5rem;
      color: #999;
    }
  }
}

.doc-catalogue {
  .menu-title {
    position: relative;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover::after,
    &.active::after {
      content: '';
      position: absolute;
      top: 25%;
      bottom: 20%;
      left: 0;
      border-left: 1px solid;
      @include theme-prop(border-left-color, secondary);
    }
    &.active::after {
      border-left-width: 2px;
    }
  }
}
