// copy 到剪贴板样式
@import "../../../../scss/theme/mixin";

.doc-copy {
  position: relative;
}

.doc-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3rem .7rem;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none;

  @include theme-prop(background, primary);

  &:hover {
    @include theme-prop(background, primary-dark);
  }
}

.doc-copy + .highlight {
  margin-top: 0;
}
