@import "../../../../scss/theme/variable";
@import "../../../../scss/theme/mixin";

.drawer-content {
  overflow: hidden;
}

.doc-content-header {
  padding-right: 4rem;
  a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.doc-main {
  min-height: 500px;
  padding: 1.5rem 1rem;

  p, li {
    line-height: 2;
  }

  p {
    margin-bottom: 1rem;
  }

  h1, h2, h3 {
    margin-top: 2rem;
  }
}

.doc-table {
  width: 95%;
  margin-bottom: 1rem;

  tbody > tr:nth-of-type(odd) {
    @include theme-prop(background-color, secondary-lightest);
  }
  th {
    border-bottom: 1px solid;
    @include theme-prop(border-bottom-color, secondary-lighter);
  }

  th,
  td {
    padding: .5rem 1rem;
    border-top: 1px solid;
    border-left: 1px solid;
    @include theme-prop(border-color, secondary-lighter);

    &:last-child {
      border-right: 1px solid;
      @include theme-prop(border-color, secondary-lighter);
    }
  }
  tr:last-child > td {
    border-bottom: 1px solid;
    @include theme-prop(border-color, secondary-lighter);
  }
}
