@import "../../../scss/theme/variable";

// 重置背景颜色
.drawer-content {
  overflow: hidden;
}

.doc-content-header {
  padding-right: 4rem;
  a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.doc-main {
  min-height: 500px;
  padding: 1.5rem 1rem;

  p, li {
    line-height: 2;
  }

  h2, h3 {
    margin-top: 2rem;
    font-weight: 400;
  }
}

.doc-table {
  width: 80%;

  tr:nth-of-type(odd) {
    background: $grey-color-100;
  }
  th {
    border-bottom: 1px solid $grey-color-300;
  }

  th,
  td {
    padding: .5rem 1.5rem;
    border-top: 1px solid $grey-color-300;
    border-left: 1px solid $grey-color-300;

    &:last-child {
      border-right: 1px solid $grey-color-300;
    }
  }
  tr:last-child > td {
    border-bottom: 1px solid $grey-color-300;
  }
}
