@import "../../../../components/theme/variable";
@import "../../../../components/theme/mixin";
@import "../mixins/header";

.drawer-content {
  overflow: hidden;
}

.doc-content-header {
  padding-right: 4rem;
  a {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.doc-main {
  min-height: 500px;
  padding:    0 1rem;
}

.doc-content {
  padding-top:    1rem;
  padding-bottom: 1rem;
  @include header-font-size;
  @include header-margin;
  @include header-anchor;

  > p {
    margin-top:    1rem;
    margin-bottom: 1rem;
    line-height:   2;
  }

  a {
    margin-left:  .25rem;
    margin-right: .25rem;
  }

  > hr {
    border-top: 1px dashed;
    @include theme-prop(border-color, primary-light);
  }
}

.doc-table {
  width:         95%;
  margin-bottom: 1rem;

  tbody > tr:nth-of-type(odd) {
    @include theme-prop(background-color, secondary-lightest);
  }
  th {
    border-bottom: 1px solid;
    @include theme-prop(border-bottom-color, secondary-lighter);
  }

  th,
  td {
    padding:     .5rem 1rem;
    border-top:  1px solid;
    border-left: 1px solid;
    @include theme-prop(border-color, secondary-lighter);

    &:last-child {
      border-right: 1px solid;
      @include theme-prop(border-color, secondary-lighter);
    }
  }
  tr:last-child > td {
    border-bottom: 1px solid;
    @include theme-prop(border-color, secondary-lighter);
  }
}
