@import "../../../../scss/base/mixins/clearfix";
@import "../../../../scss/theme/variable";
@import "../../../../scss/theme/color_palette";

// 例子样式
.doc-example-render {
  position: relative;
  padding: 1rem;
  margin: 1rem .5rem;
  border: solid $theme-primary;
  border-width: 1px 0 0;
  @include clearfix();
}

@media (min-width: 640px) {
  .doc-example-render {
    padding: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px 1px 0;
  }
}

// 容器例子样式
.doc-example-container {
  .container-fluid,
  .container {
    padding: 20px;
    color: darken(#9c27b0, 20%);
    background-color: lighten(#9c27b0, 48%);
    text-align: center;
  }
}

// 栅格例子样式
.doc-example-row {
  .row + .row {
    margin-top: 1rem;
  }
  // 嵌套的样式
  .row .row {
    border: 1px solid;
  }
  [class*="col"] {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: $light-blue-300;
    text-align: center;

    &:nth-of-type(2n) {
      background: $blue-500;
    }
  }
}

.doc-example-row-flex-cols .row {
  min-height: 5rem;
  background: $light-blue-50;
}

.doc-example-row-gutters {
  .no-gutters {
    margin-top: 1rem;
  }
  [class^="col"] > div {
    background: $purple-300;
  }
}
