@import "../../../../components/base/mixins/clearfix";
@import "../../../../components/theme/variable";
@import "../../../../components/theme/mixin";
@import "../../../../components/animation/mixin";
@import "../mixins/grid";

// 例子样式
.doc-example {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 4px;
  transition: all .2s;

  @include theme-prop(border-color, secondary-lighter);

  &:hover {
    .icon-pure-code,
    .icon-pure-code-expand {
      @include theme-prop(color, secondary);
    }
  }
}

.doc-example-render {
  padding: 1rem 1rem 0;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.doc-example-expand {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: .5rem 2rem;
}

.icon-pure-code,
.icon-pure-code-expand {
  transform: rotate(-45deg) scale(.6);
  @include theme-prop(color, secondary-lighter);
}

.doc-code-icon {
  width: 2.5rem;
  cursor: pointer;

  &:hover {
    .icon-pure-code,
    .icon-pure-code-expand {
      @include theme-prop(color, secondary);
    }

    + .tooltip {
      top: -3rem;
      right: -.8rem;
      display: block;
      opacity: .8;
    }
  }
}

.doc-example-highlight.highlight {
  display: none;
  border: 0;
  border-top: 1px dashed;
  @include theme-prop(border-top-color, secondary-lighter);
  @include animation-transition(display);
}

.doc-code-copy {
  position: absolute;
  top: 1rem;
  right: 3rem;
  display: none;

  .icon-pure-copy {
    transform: scale(.4);
    cursor: pointer;
    @include theme-prop(color, secondary-lighter);
  }

  &:hover {
    .icon-pure-copy {
      @include theme-prop(color, secondary);
    }

    + .tooltip {
      top: -2rem;
      right: 1.5rem;
      display: block;
      opacity: .8;
    }
  }
}

.doc-example-highlight {
  position: relative;

  &:hover .doc-code-copy {
    display: block;

    .icon-pure-copy {
      @include theme-prop(color, secondary);
    }
  }
}

// 栅格例子样式
.doc-example-row {
  @include grid-example;
}

.doc-example-row-flex-cols .row {
  min-height: 5rem;
  @include theme-prop(background-color, primary-lightest);
}

.doc-example-row-gutters {
  .no-gutters {
    margin-top: 1rem;
  }

  [class^="col"] > div {
    @include theme-prop(background-color, secondary-light);
  }
}

//// 例子样式
// .doc-example-render {
//  position: relative;
//  padding: 1rem;
//  margin: 1rem .5rem;
//  border: solid $theme-primary;
//  border-width: 1px 0 0;
//  @include clearfix();
// }
//
// @media (min-width: 640px) {
//  .doc-example-render {
//    padding: 1.5rem;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    border-width: 1px 1px 0;
//  }
// }
//
//// 容器例子样式
// .doc-example-container {
//  .container-fluid,
//  .container {
//    padding: 20px;
//    color: darken(#9c27b0, 20%);
//    background-color: lighten(#9c27b0, 48%);
//    text-align: center;
//  }
// }
//

