// 自定义 highlight 样式
@import "../../../../components/responsive/mixin";
@import "../../../../components/theme/variable";
@import "../../../../components/theme/mixin";

.highlighter-rouge {
  margin-bottom: 1rem;

  &:hover {
    position: relative;

    .doc-code-copy {
      display: block;
    }
  }
}

.highlight {
  padding: 1rem;
  border: 1px solid;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: transparent;
  @include theme-prop(border-color, secondary-lighter);
}

.highlight pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.highlight pre code {
  font-size: inherit;
}
