// Navbar variable

$navbar-height: 3rem !default;
$navbar-padding-x: $spacer !default;
$navbar-brand-padding-y: .25rem !default;
$navbar-font-size: 1rem !default;
$navbar-toggler-padding-x: .75rem !default;
$navbar-toggler-padding-y: .25rem !default;
