@import "../../base/variables/font";
@import "variable";

// 动画圆点
@keyframes loading-dot {
  0% {
    transform: scale(0);
  }

  to {
    opacity: .6;
    transform: scale(1);
  }
}

// 两个圆点碰撞切换
@keyframes loading-dot-switch {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

// 窗帘式动画
@keyframes loading-curtain {
  0% {
    height: 0;
  }

  to {
    height: $loading-text-font-size * $line-height-base;
  }
}

// 图标动画
@keyframes loading-icon {
  0% {
    transform: rotate(0deg);
  }

  8.33333333% {
    transform: rotate(30deg);
  }

  16.66666667% {
    transform: rotate(60deg);
  }

  25% {
    transform: rotate(90deg);
  }

  33.33333333% {
    transform: rotate(120deg);
  }

  41.66666667% {
    transform: rotate(150deg);
  }

  50% {
    transform: rotate(180deg);
  }

  58.33333333% {
    transform: rotate(210deg);
  }

  66.66666667% {
    transform: rotate(240deg);
  }

  75% {
    transform: rotate(270deg);
  }

  83.33333333% {
    transform: rotate(300deg);
  }

  91.66666667% {
    transform: rotate(330deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
