<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="CSS3 Perfect">
<meta name="description"
      content="Perfect is a popular CSS framework based on the modern browser. It can bring you perfect experience and the newest css technology. It is a CSS framework in the future.">
<meta name="author" content="Linder Wang">
<title>
  List Menu 列表菜单 &middot; Perfect
</title>
<link rel="apple-touch-icon" href="/favicon.png">
<link rel="icon" href="/favicon.ico">
<link href="/assets/css/perfect.css" rel="stylesheet">
<link href="/assets/css/components.css" rel="stylesheet">
  </head>
  <body>
    <header id="perfect_header" class="navbar navbar-top navbar-expand navbar-primary flex-column flex-sm-row">
  <div class="drawer-toggle drawer-permanent-toggle" id="toggleDrawer">
    <i class="icon-pure-menu"></i>
  </div>
  <a class="navbar-brand m-r-0 m-r-sm-2" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="46.581421" viewBox="0 0 217.9 156.29">
      <defs>
        <style>.cls-1, .cls-2, .cls-4 { fill: none; stroke: #fff; stroke-linecap: round; }
        .cls-1 { stroke-miterlimit: 10; }
        .cls-1, .cls-2 { stroke-width: 20px; }
        .cls-2, .cls-4 { stroke-linejoin: round; }
        .cls-3 { fill: #fff; }
        .cls-4 { stroke-width: 3px; }</style>
      </defs>
      <title>Perfect</title>
      <g>
        <g>
          <path class="cls-1" d="M10,10h95.86a45.87,45.87,0,1,1,0,91.74h-58"/>
          <polyline class="cls-2" points="77.52 56.94 10 56.94 10 145.14"/>
          <circle class="cls-3" cx="106.43" cy="57.02" r="10.25"/>
          <path class="cls-4" d="M64.18,154.29v-26.9h18.5a8.09,8.09,0,1,1,0,16.17H73"/>
          <line class="cls-4" x1="80.36" y1="143.65" x2="91.51" y2="154.79"/>
          <line class="cls-4" x1="203.5" y1="154.23" x2="203.5" y2="127.83"/>
          <line class="cls-4" x1="190.62" y1="127.45" x2="216.4" y2="127.45"/>
          <path class="cls-4" d="M186.3,133.21a13.24,13.24,0,1,0-.08,15.38"/>
          <polyline class="cls-4" points="53.11 153.79 30.79 153.79 30.79 127.89 53.11 127.89"/>
          <line class="cls-4" x1="30.79" y1="140.84" x2="52.99" y2="140.84"/>
          <polyline class="cls-4" points="155.55 153.79 133.23 153.79 133.23 127.89 155.55 127.89"/>
          <line class="cls-4" x1="133.23" y1="140.84" x2="155.43" y2="140.84"/>
          <polyline class="cls-4" points="101.86 153.79 101.86 127.89 124.18 127.89"/>
          <line class="cls-4" x1="101.86" y1="140.84" x2="124.06" y2="140.84"/>
        </g>
      </g>
    </svg>
  </a>
  <div class="navbar-scroll">
    <ul class="navbar-nav">
      <li>
        <a class="ripple ripple-primary nav-link " href="/">首页</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link " href="/docs/perfect-tour/getting-started/">文档</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link active" href="/components/">组件</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link " href="/examples/">例子</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link " href="/device-view/">设备</a>
      </li>
    </ul>
  </div>
</header>
<script>
  (function () {
    const navLinks = document.querySelectorAll('#perfect_header .nav-link');
    for (let i = 0, len = navLinks.length; i < len; i++) {
      navLinks[i].addEventListener('click', function () {
        // 切换时，删除左侧菜单 nav-menus-translateY 值
        window.sessionStorage.removeItem('nav-menus-translateY');
      }, false);
    }
  })();
</script>
    <script src="/assets/js/perfect.js"></script>
    <aside id="drawer" class="drawer drawer-permanent navbar-top-adjust">
      <nav class="drawer-nav">
        <nav class="drawer-content">
<ul class="menu perfect-menu">
  <li class="menu-item">
    <a href="/components/theme/classes/" 
       class="menu-title menu-header " style="padding-left: 1rem;">theme 主题</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/theme/classes/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">主题 Classes</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/base/animation/" 
       class="menu-title menu-header " style="padding-left: 1rem;">基础</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/base/animation/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Animation 动画</a></li>
      <li class="menu-item">
        <a href="/components/base/ripple/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Ripple 波纹效果</a></li>
      <li class="menu-item">
        <a href="/components/base/shadow/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Shadow 阴影效果</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/typography/typography/" 
       class="menu-title menu-header " style="padding-left: 1rem;">Typography 排版</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/typography/typography/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Typography 排版</a></li>
      <li class="menu-item">
        <a href="/components/typography/code/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Code 代码</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/layout/box/" 
       class="menu-title menu-header " style="padding-left: 1rem;">Layout 布局</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/layout/box/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Box 盒子布局</a></li>
      <li class="menu-item">
        <a href="/components/layout/drawer/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Drawer 抽屉布局</a></li>
      <li class="menu-item">
        <a href="/components/layout/grid/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Grid 栅格</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/forms/input/" 
       class="menu-title menu-header " style="padding-left: 1rem;">表单组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/forms/input/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Input 输入框</a></li>
      <li class="menu-item">
        <a href="/components/forms/select/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Select 下拉选择框</a></li>
      <li class="menu-item">
        <a href="/components/forms/dropdown/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">DropDown 下拉菜单</a></li>
      <li class="menu-item">
        <a href="/components/forms/radio/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Radio 单选框</a></li>
      <li class="menu-item">
        <a href="/components/forms/checkbox/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Checkbox 复选框</a></li>
      <li class="menu-item">
        <a href="/components/forms/upload/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Upload 上传文件</a></li>
      <li class="menu-item">
        <a href="/components/forms/switch/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Switch 开关</a></li>
      <li class="menu-item">
        <a href="/components/forms/slider/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Slider 滑块</a></li>
      <li class="menu-item">
        <a href="/components/forms/button/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Button 按钮</a></li>
      <li class="menu-item">
        <a href="/components/forms/form-field/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Form Field 表单域</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/elements/menu/" 
       class="menu-title menu-header active" style="padding-left: 1rem;">元素组件</a>
    <ul class="menu" >
      <li class="menu-item">
        <a href="/components/elements/menu/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Menu 菜单</a></li>
      <li class="menu-item">
        <a href="/components/elements/list-menu/"
           class="menu-title menu-sub-title active" style="padding-left: 2rem;">List Menu 列表菜单</a></li>
      <li class="menu-item">
        <a href="/components/elements/tree/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tree 树形组件</a></li>
      <li class="menu-item">
        <a href="/components/elements/page/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Page 分页</a></li>
      <li class="menu-item">
        <a href="/components/elements/loading/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Loading 加载</a></li>
      <li class="menu-item">
        <a href="/components/elements/toast/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Toast 吐司提示</a></li>
      <li class="menu-item">
        <a href="/components/elements/tooltip/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tooltip 提示</a></li>
      <li class="menu-item">
        <a href="/components/elements/image/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Image 图像</a></li>
      <li class="menu-item">
        <a href="/components/elements/callout/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Callout 引线式标注</a></li>
      <li class="menu-item">
        <a href="/components/elements/progress/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Progress 进度条</a></li>
      <li class="menu-item">
        <a href="/components/elements/tag/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tag 标签</a></li>
      <li class="menu-item">
        <a href="/components/elements/badge/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Badge 角标</a></li>
      <li class="menu-item">
        <a href="/components/elements/back-top/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Back Top 返回顶部</a></li>
      <li class="menu-item">
        <a href="/components/elements/date-picker/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Date Picker 日期选择器</a></li>
      <li class="menu-item">
        <a href="/components/elements/color-picker/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Color Picker 颜色选择器</a></li>
      <li class="menu-item">
        <a href="/components/elements/timeline/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Timeline 时间轴</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/navigation/crumb/" 
       class="menu-title menu-header " style="padding-left: 1rem;">导航组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/navigation/crumb/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Crumb 面包屑</a></li>
      <li class="menu-item">
        <a href="/components/navigation/navbar/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Navbar 导航栏</a></li>
      <li class="menu-item">
        <a href="/components/navigation/steps/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Steps 步骤条</a></li>
      <li class="menu-item">
        <a href="/components/navigation/tabs/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tabs 标签页</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/container/list/" 
       class="menu-title menu-header " style="padding-left: 1rem;">容器组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/container/list/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">List 列表</a></li>
      <li class="menu-item">
        <a href="/components/container/table/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Table 表格</a></li>
      <li class="menu-item">
        <a href="/components/container/card/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Card 卡片</a></li>
      <li class="menu-item">
        <a href="/components/container/dialog/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Dialog 对话框</a></li>
      <li class="menu-item">
        <a href="/components/container/accordion/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Accordion 手风琴</a></li>
      <li class="menu-item">
        <a href="/components/container/carousel/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Carousel 轮播图</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/utils/align/" 
       class="menu-title menu-header " style="padding-left: 1rem;">工具样式</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/utils/align/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Align 文本对齐方式</a></li>
      <li class="menu-item">
        <a href="/components/utils/border/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Border 边框和圆角</a></li>
      <li class="menu-item">
        <a href="/components/utils/flex/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Flex 弹性布局</a></li>
      <li class="menu-item">
        <a href="/components/utils/sizing/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Sizing 元素大小</a></li>
      <li class="menu-item">
        <a href="/components/utils/spacing/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Spacing 间距</a></li>
      <li class="menu-item">
        <a href="/components/utils/text/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Text 文本修饰</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/icons/icon-pure-css/" 
       class="menu-title menu-header " style="padding-left: 1rem;">图标</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/icons/icon-pure-css/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">纯 CSS 图标</a></li>
    </ul>
  </li>
</ul>
<script>
  (function () {
    // 菜单超过一屏可以滚动查看
    const drawerContent = document.querySelector('.drawer-content');
    const perfectMenu = document.querySelector('.drawer-content > .perfect-menu');
    // 页面进入时，设置上次的 translateY
    const translateY = window.sessionStorage.getItem('nav-menus-translateY');
    if (translateY) {
      perfectMenu.style.transform = `translateY(${translateY}px)`;
    }
    perfectMenu.addEventListener('transitionend', function () {
      perfectMenu.style.transition = 'unset';
    });
    const menu = document.querySelector('.menu');
    menu.addEventListener('click', function (e) {
      const target = e.target;
      if (target.classList.contains('menu-header')) {
        e.preventDefault();
        const next = target.nextElementSibling;
        // 隐藏其他打开的菜单
        [].forEach.call(document.querySelectorAll('.menu .menu'), function (item) {
          if (item !== next) {
            item.style.display = 'none';
          }
        });
        // TODO 待修改成动画
        if (next.style.display === 'none') {
          next.style.display = '';
          setTimeout(function() {
            const menuPanelTop = drawerContent.getBoundingClientRect().top;
            const menuTop = perfectMenu.getBoundingClientRect().top;
            const currentElTop = target.getBoundingClientRect().top;
            if (currentElTop < menuPanelTop) {
              perfectMenu.style.transform = `translateY(${menuTop - currentElTop}px)`;
              perfectMenu.style.transition = 'transform 200ms ease-in-out';
            }
          });
        } else {
          next.style.display = 'none';
        }
      }
    }, false);
    const isWheel = (() => {
      const ua = navigator.userAgent;
      if (/gecko/i.test(ua) && !(/webkit/i.test(ua)) && (/firefox/i.test(ua))) { // Firefox
        return false;
      }
      return true;
    })();
    const reg = /translateY\(([-\w]+)\)/;
    // Fixme 需要处理触摸滚动限制回弹效果
    drawerContent.addEventListener(isWheel ? 'mousewheel' : 'DOMMouseScroll', function (event) {
      const {scrollHeight, clientHeight} = drawerContent;
      const maxOffset = scrollHeight - clientHeight; // 最大滚动的高度
      // 判断鼠标滑轮向上还是向下滑动
      let upDown;
      const {detail, wheelDelta} = event;
      if (detail) {
        if (detail < 0) { // up
          upDown = 'up';
        } else if (detail > 0) { // down
          upDown = 'down';
        }
      } else if (wheelDelta) { //
        if (wheelDelta > 0) { // up
          upDown = 'up';
        }
        if (wheelDelta < 0) { // down
          upDown = 'down';
        }
      }
      const speed = Math.abs(detail || wheelDelta);
      // 在 mac 系统下 如果 (speed % 120) === 0 是鼠标滑动，否则是触摸滑动
      const step = (speed % 120) === 0 ? 0.2 * speed : 5;
      const {transform} = perfectMenu.style;
      let y = reg.exec(transform);
      y = y ? parseFloat(y[1], 10) : 0;
      if ((upDown === 'up' && y === 0) || (upDown === 'down' && Math.abs(y) === maxOffset)) {
        return;
      }
      if (maxOffset > 0) {
        event.preventDefault();
        event.stopPropagation();
      }
      let translateY;
      if (upDown === 'up' && y < 0) {
        translateY = Math.min(y + step, 0);
      } else if (upDown === 'down' && Math.abs(y) < maxOffset) {
        translateY = Math.max(y - step, -maxOffset);
      }
      window.sessionStorage.setItem('nav-menus-translateY', translateY);
      perfectMenu.style.transform = `translateY(${translateY}px)`;
    }, false);
  })();
</script>
        </nav>
      </nav>
    </aside>
    <main class="drawer-main">
      <section class="component-wrap catalogue-counter">
        <h2>
<div class="anchor-header" id="anchor-1"></div>列表菜单<a class="anchor-link" href="#anchor-1">#</a>
</h2>
<h3>
<div class="anchor-header" id="anchor-1-1"></div>静态展示<a class="anchor-link" href="#anchor-1-1">#</a>
</h3>
<section class="component-container" style="height: 280px;">
  <div class="list-menu list-menu-open">
    <ul class="list-menu-items list">
      <li class="list-item">Undo</li>
      <li class="list-item">Redo</li>
      <li class="list-divider">
      <li class="list-item">Cut</li>
      <li class="list-item">Copy</li>
      <li class="list-item">Paste</li>
      <li class="list-divider">
      <li class="list-item">Paste from History...</li>
    </ul>
  </div>
</section>
<h3>
<div class="anchor-header" id="anchor-1-2"></div>显示菜单<a class="anchor-link" href="#anchor-1-2">#</a>
</h3>
<section class="component-container">
  <div class="d-inline-flex align-items-center">
    <label class="menu-demo-label">菜单位置:</label>
    <div class="form-field">
      <div class="radio radio-primary">
        <input class="radio-native-control" type="radio" name="position" value="top left" id="top_left" checked>
        <div class="radio-background">
          <div class="radio-circle-outer"></div>
          <div class="radio-circle-inner"></div>
        </div>
      </div>
      <label for="top_left">Top left</label>
    </div>
    <div class="form-field">
      <div class="radio radio-primary">
        <input class="radio-native-control" type="radio" name="position" value="top right" id="top_right">
        <div class="radio-background">
          <div class="radio-circle-outer"></div>
          <div class="radio-circle-inner"></div>
        </div>
      </div>
      <label for="top_right">Top right</label>
    </div>
    <div class="form-field">
      <div class="radio radio-primary">
        <input class="radio-native-control" type="radio" name="position" value="bottom left" id="bottom_left">
        <div class="radio-background">
          <div class="radio-circle-outer"></div>
          <div class="radio-circle-inner"></div>
        </div>
      </div>
      <label for="bottom_left">Bottom left</label>
    </div>
    <div class="form-field">
      <div class="radio radio-primary">
        <input class="radio-native-control" type="radio" name="position" value="bottom right" id="bottom_right">
        <div class="radio-background">
          <div class="radio-circle-outer"></div>
          <div class="radio-circle-inner"></div>
        </div>
      </div>
      <label for="bottom_right">Bottom right</label>
    </div>
  </div>
  <div class="menu-demo-panel">
    <div class="menu-demo-position">
      <button class="btn btn-secondary btn-raised" id="toggleMenu">显示菜单</button>
      <div class="list-menu" id="listMenuDemo">
        <ul class="list-menu-items list">
          <li class="list-item">Undo</li>
          <li class="list-item">Redo</li>
          <li class="list-divider">
          <li class="list-item">Cut</li>
          <li class="list-item">Copy</li>
          <li class="list-item">Paste</li>
          <li class="list-divider">
          <li class="list-item">Paste from History...</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="component-wrap">
  <section class="component-container">
    <h3> 普通菜单 </h3>
    <ul class="menu">
      <li>
        <a href="#" class="menu-title menu-header">menu-1</a>
        <ul class="menu">
          <li><a href="#" class="menu-title">menu-1-1</a></li>
          <li><a href="#" class="menu-title">menu-1-2</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-title menu-header">menu-2</a>
        <ul class="menu">
          <li><a href="#" class="menu-title">menu-2-1</a></li>
          <li>
            <a href="#" class="menu-title">menu-2-2</a>
            <ul class="menu">
              <li><a href="#" class="menu-title">menu-2-2-1</a></li>
              <li>
                <a href="#" class="menu-title">menu-2-2-2</a>
              </li>
              <li><a href="#" class="menu-title">menu-2-2-3</a></li>
            </ul>
          </li>
          <li><a href="#" class="menu-title">menu-2-3</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-title menu-header active">menu-3</a>
        <ul class="menu">
          <li><a href="#" class="menu-title">menu-3-1</a></li>
          <li><a href="#" class="menu-title">menu-3-2</a></li>
          <li><a href="#" class="menu-title">menu-3-3</a></li>
        </ul>
      </li>
    </ul>
    <h3> 下拉菜单 </h3>
    <ul class="menu menu-dropdown">
      <li>
        <a href="#" class="menu-title menu-header">menu-1</a>
        <ul class="menu">
          <li><a href="#" class="menu-title">menu-1-1</a></li>
          <li><a href="#" class="menu-title">menu-1-2</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-title menu-header">menu-2</a>
        <ul class="menu">
          <li><a href="#" class="menu-title">menu-2-1</a></li>
          <li>
            <a href="#" class="menu-title">menu-2-2</a>
            <ul class="menu">
              <li><a href="#" class="menu-title">menu-2-2-1</a></li>
              <li>
                <a href="#" class="menu-title">menu-2-2-2</a>
              </li>
              <li><a href="#" class="menu-title">menu-2-2-3</a></li>
            </ul>
          </li>
          <li><a href="#" class="menu-title">menu-2-3</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-title menu-header active">menu-3</a>
        <ul class="menu">
          <li><a href="#" class="menu-title">menu-3-1</a></li>
          <li><a href="#" class="menu-title">menu-3-2</a></li>
          <li><a href="#" class="menu-title">menu-3-3</a></li>
        </ul>
      </li>
    </ul>
    <h3> 目录菜单，最多支持6级目录结构 </h3>
    <ul class="menu menu-catalogue">
      <li>
        <a href="#" class="menu-title menu-header">menu-1</a>
        <ul class="menu menu-catalogue">
          <li><a href="#" class="menu-title">menu-1-1</a></li>
          <li><a href="#" class="menu-title">menu-1-2</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-title menu-header">menu-2</a>
        <ul class="menu menu-catalogue">
          <li><a href="#" class="menu-title">menu-2-1</a></li>
          <li>
            <a href="#" class="menu-title">menu-2-2</a>
            <ul class="menu menu-catalogue">
              <li><a href="#" class="menu-title">menu-2-2-1</a></li>
              <li>
                <a href="#" class="menu-title">menu-2-2-2</a>
              </li>
              <li><a href="#" class="menu-title">menu-2-2-3</a></li>
            </ul>
          </li>
          <li><a href="#" class="menu-title">menu-2-3</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="menu-title menu-header active">menu-3</a>
        <ul class="menu menu-catalogue">
          <li><a href="#" class="menu-title">menu-3-1</a></li>
          <li><a href="#" class="menu-title">menu-3-2</a></li>
          <li><a href="#" class="menu-title">menu-3-3</a></li>
        </ul>
      </li>
    </ul>
  </section>
</div>
<script>
  $(function () {
    // util start
    /** @type {string|undefined} */
    let storedTransformPropertyName_;
    /**
     * Returns the name of the correct transform property to use on the current browser.
     * @param {!Window} globalObj
     * @param {boolean=} forceRefresh
     * @return {string}
     */
    function getTransformPropertyName(globalObj, forceRefresh = false) {
      if (storedTransformPropertyName_ === undefined || forceRefresh) {
        const el = globalObj.document.createElement('div');
        const transformPropertyName = ('transform' in el.style ? 'transform' : 'webkitTransform');
        storedTransformPropertyName_ = transformPropertyName;
      }
      return storedTransformPropertyName_;
    }
    /**
     * Clamps a value between the minimum and the maximum, returning the clamped value.
     * @param {number} value
     * @param {number} min
     * @param {number} max
     * @return {number}
     */
    function clamp(value, min = 0, max = 1) {
      return Math.min(max, Math.max(min, value));
    }
    /**
     * Returns the easing value to apply at time t, for a given cubic bezier curve.
     * Control points P0 and P3 are assumed to be (0,0) and (1,1), respectively.
     * Parameters are as follows:
     * - time: The current time in the animation, scaled between 0 and 1.
     * - x1: The x value of control point P1.
     * - y1: The y value of control point P1.
     * - x2: The x value of control point P2.
     * - y2: The y value of control point P2.
     * @param {number} time
     * @param {number} x1
     * @param {number} y1
     * @param {number} x2
     * @param {number} y2
     * @return {number}
     */
    function bezierProgress(time, x1, y1, x2, y2) {
      return getBezierCoordinate_(solvePositionFromXValue_(time, x1, x2), y1, y2);
    }
    /**
     * Compute a single coordinate at a position point between 0 and 1.
     * c1 and c2 are the matching coordinate on control points P1 and P2, respectively.
     * Control points P0 and P3 are assumed to be (0,0) and (1,1), respectively.
     * Adapted from https://github.com/google/closure-library/blob/master/closure/goog/math/bezier.js.
     * @param {number} t
     * @param {number} c1
     * @param {number} c2
     * @return {number}
     */
    function getBezierCoordinate_(t, c1, c2) {
      // Special case start and end.
      if (t === 0 || t === 1) {
        return t;
      }
      // Step one - from 4 points to 3
      let ic0 = t * c1;
      let ic1 = c1 + t * (c2 - c1);
      const ic2 = c2 + t * (1 - c2);
      // Step two - from 3 points to 2
      ic0 += t * (ic1 - ic0);
      ic1 += t * (ic2 - ic1);
      // Final step - last point
      return ic0 + t * (ic1 - ic0);
    }
    /**
     * Project a point onto the Bezier curve, from a given X. Calculates the position t along the curve.
     * Adapted from https://github.com/google/closure-library/blob/master/closure/goog/math/bezier.js.
     * @param {number} xVal
     * @param {number} x1
     * @param {number} x2
     * @return {number}
     */
    function solvePositionFromXValue_(xVal, x1, x2) {
      const EPSILON = 1e-6;
      const MAX_ITERATIONS = 8;
      if (xVal <= 0) {
        return 0;
      } else if (xVal >= 1) {
        return 1;
      }
      // Initial estimate of t using linear interpolation.
      let t = xVal;
      // Try gradient descent to solve for t. If it works, it is very fast.
      let tMin = 0;
      let tMax = 1;
      let value = 0;
      for (let i = 0; i < MAX_ITERATIONS; i++) {
        value = getBezierCoordinate_(t, x1, x2);
        const derivative = (getBezierCoordinate_(t + EPSILON, x1, x2) - value) / EPSILON;
        if (Math.abs(value - xVal) < EPSILON) {
          return t;
        } else if (Math.abs(derivative) < EPSILON) {
          break;
        } else {
          if (value < xVal) {
            tMin = t;
          } else {
            tMax = t;
          }
          t -= (value - xVal) / derivative;
        }
      }
      // If the gradient descent got stuck in a local minimum, e.g. because
      // the derivative was close to 0, use a Dichotomy refinement instead.
      // We limit the number of interations to 8.
      for (let i = 0; Math.abs(value - xVal) > EPSILON && i < MAX_ITERATIONS; i++) {
        if (value < xVal) {
          tMin = t;
          t = (t + tMax) / 2;
        } else {
          tMax = t;
          t = (t + tMin) / 2;
        }
        value = getBezierCoordinate_(t, x1, x2);
      }
      return t;
    }
    // util end
    // 调整位置
    const radios = document.querySelectorAll('input[name="position"]');
    for (let i = 0; i < radios.length; i++) {
      radios[i].addEventListener('change', function (e) {
        if (e.target.checked) {
          const value = e.target.value;
          if (value) {
            const position = document.querySelector('.menu-demo-position');
            position.style.removeProperty('top');
            position.style.removeProperty('right');
            position.style.removeProperty('bottom');
            position.style.removeProperty('left');
            const vertical = value.split(' ')[0];
            const horizontal = value.split(' ')[1];
            position.style.setProperty(vertical, '1rem');
            position.style.setProperty(horizontal, '1rem');
          }
        }
      });
    }
    let animationRequestId;
    // Total duration of the menu animation.
    const TRANSITION_DURATION_MS = 300;
    // The time value the menu waits until the animation starts on the Y axis (0 - 1).
    const TRANSITION_SCALE_ADJUSTMENT_Y = 0.2;
    // The menu starts its open animation with the X axis at this time value (0 - 1).
    const TRANSITION_SCALE_ADJUSTMENT_X = 0.5;
    // The cubic bezier control points for the animation (cubic-bezier(0, 0, 0.2, 1)).
    const TRANSITION_X1 = 0;
    const TRANSITION_Y1 = 0;
    const TRANSITION_X2 = 0.2;
    const TRANSITION_Y2 = 1;
    const BOTTOM_LEFT = 'list-menu-bottom-left', BOTTOM_RIGHT = 'list-menu-bottom-right';
    const listMenu = $('#listMenuDemo');
    const itemsContainer = listMenu.find('.list-menu-items.list');
    const listMenuItems = listMenu.find('.list-item');
    let dimensions_ = null;
    let itemHeight_ = null;
    let scaleX_ = 0;
    let scaleY_ = 0;
    let startTime_ = null;
    let startScaleX_ = null;
    let startScaleY_ = null;
    let isOpen_ = false;
    let targetScale_ = 0;
    let running_ = false;
    let previousFocus_ = null;
    // 计算 menu 各 item 动画延迟时间
    function transitionDelays(dimensions) {
      const numItems = listMenuItems.length;
      const {height} = dimensions;
      const transitionDuration = TRANSITION_DURATION_MS / 1000;
      const start = TRANSITION_SCALE_ADJUSTMENT_Y;
      for (let index = 0; index < numItems; index++) {
        const {offsetTop: itemTop, offsetHeight: itemHeight} = listMenuItems[index];
        itemHeight_ = itemHeight;
        let itemDelayFraction = itemTop / height;
        if (listMenu.hasClass(BOTTOM_LEFT) || listMenu.hasClass(BOTTOM_RIGHT)) {
          itemDelayFraction = ((height - itemTop - itemHeight) / height);
        }
        const itemDelay = (start + itemDelayFraction * (1 - start)) * transitionDuration;
        // Use toFixed() here to normalize CSS unit precision across browsers
        listMenuItems[index].style.setProperty('transition-delay', `${itemDelay.toFixed(3)}s`);
      }
    }
    function autoPosition(dimensions) {
      // Defaults: open from the top left.
      let vertical = 'top';
      let horizontal = 'left';
      const anchorDimensions = listMenu[0].parentElement.getBoundingClientRect();
      const windowDimensions = {width: window.innerWidth, height: window.innerHeight};
      const topOverflow = anchorDimensions.top + dimensions.height - windowDimensions.height;
      const bottomOverflow = dimensions.height - anchorDimensions.bottom;
      const extendsBeyondTopBounds = topOverflow > 0;
      if (extendsBeyondTopBounds) {
        if (bottomOverflow < topOverflow) {
          vertical = 'bottom';
        }
      }
      const leftOverflow = anchorDimensions.left + dimensions.width - windowDimensions.width;
      const rightOverflow = dimensions.width - anchorDimensions.right;
      const extendsBeyondLeftBounds = leftOverflow > 0;
      if (extendsBeyondLeftBounds && rightOverflow < leftOverflow) {
        horizontal = 'right';
      }
      const position = {
        [horizontal]: '0',
        [vertical]: '0',
      };
      listMenu[0].style[`transform-origin`] = origin;
      listMenu[0].style.left = 'left' in position ? position.left : null;
      listMenu[0].style.right = 'right' in position ? position.right : null;
      listMenu[0].style.top = 'top' in position ? position.top : null;
      listMenu[0].style.bottom = 'bottom' in position ? position.bottom : null;
    }
    function animationLoop() {
      const time = window.performance.now();
      const currentTime = clamp((time - startTime_) / TRANSITION_DURATION_MS);
      // Animate X axis very slowly, so that only the Y axis animation is visible during fade-out.
      let currentTimeX = clamp(
        (currentTime - TRANSITION_SCALE_ADJUSTMENT_X) / (1 - TRANSITION_SCALE_ADJUSTMENT_X)
      );
      // No time-shifting on the Y axis when closing.
      let currentTimeY = currentTime;
      let startScaleY = startScaleY_;
      if (targetScale_ === 1) {
        // Start with the menu at the height of a single item.
        if (itemHeight_) {
          startScaleY = Math.max(itemHeight_ / dimensions_.height, startScaleY);
        }
        // X axis moves faster, so time-shift forward.
        currentTimeX = clamp(currentTime + TRANSITION_SCALE_ADJUSTMENT_X);
        // Y axis moves slower, so time-shift backwards and adjust speed by the difference.
        currentTimeY = clamp(
          (currentTime - TRANSITION_SCALE_ADJUSTMENT_Y) / (1 - TRANSITION_SCALE_ADJUSTMENT_Y)
        );
      }
      // Apply cubic bezier easing independently to each axis.
      const easeX = bezierProgress(currentTimeX, TRANSITION_X1, TRANSITION_Y1, TRANSITION_X2, TRANSITION_Y2);
      const easeY = bezierProgress(currentTimeY, TRANSITION_X1, TRANSITION_Y1, TRANSITION_X2, TRANSITION_Y2);
      // Calculate the scales to apply to the outer container and inner container.
      scaleX_ = startScaleX_ + (targetScale_ - startScaleX_) * easeX;
      const invScaleX = 1 / (scaleX_ === 0 ? 1 : scaleX_);
      scaleY_ = startScaleY + (targetScale_ - startScaleY) * easeY;
      const invScaleY = 1 / (scaleY_ === 0 ? 1 : scaleY_);
      // Apply scales.
      listMenu[0].style['transform'] = `scale(${scaleX_}, ${scaleY_})`;
      itemsContainer[0].style['transform'] = `scale(${invScaleX}, ${invScaleY})`;
      // Stop animation when we've covered the entire 0 - 1 range of time.
      if (currentTime < 1) {
        animationRequestId = requestAnimationFrame(() => animationLoop());
      } else {
        animationRequestId = 0;
        running_ = false;
        listMenu.removeClass('list-menu-animating');
      }
    }
    function animateMenu() {
      startTime_ = window.performance.now();
      startScaleX_ = scaleX_;
      startScaleY_ = scaleY_;
      targetScale_ = isOpen_ ? 1 : 0;
      if (!running_) {
        running_ = true;
        animationRequestId = requestAnimationFrame(() => animationLoop());
      }
    }
    function open() {
      listMenu.addClass('list-menu-animating');
      animationRequestId = requestAnimationFrame(() => {
        dimensions_ = {
          width: itemsContainer[0].offsetWidth,
          height: itemsContainer[0].offsetHeight
        };
        transitionDelays(dimensions_);
        autoPosition(dimensions_);
        animateMenu();
        listMenu.addClass('list-menu-open');
        //this.focusOnOpen_(focusIndex);
      });
    }
    function close() {
      listMenu.addClass('list-menu-animating');
      requestAnimationFrame(() => {
        const numItems = listMenuItems.length;
        for (let i = 0; i < numItems; i++) {
          listMenuItems[i].style.setProperty('transition-delay', null);
        }
        animateMenu();
        listMenu.removeClass('list-menu-open');
      });
      isOpen_ = false;
      if (previousFocus_) {
        previousFocus_.focus();
      }
    }
    document.body.addEventListener('click', () => {
      close();
    });
    $('#toggleMenu').click(function (e) {
      // 阻止冒泡
      e.stopPropagation();
      previousFocus_ = document.activeElement;
      if (isOpen_) {
        close();
      } else {
        open();
      }
      isOpen_ = !isOpen_;
    });
  });
</script>
      </section>
    </main>
    <script>
  (function () {
    const drawer = document.getElementById('drawer');
    drawer.addEventListener('transitionend', () => {
      drawer.classList.remove('drawer-animating');
    }, false);
    document.getElementById('toggleDrawer').addEventListener('transitionend', () => {
      const clientWidth = document.documentElement.clientWidth;
      if (clientWidth < 1200) {
        if (drawer.classList.contains('drawer-open')) {
          drawer.classList.remove('drawer-open');
        } else {
          drawer.classList.add('drawer-open');
        }
        if (document.body.classList.contains('drawer-scroll-lock')) {
          document.body.classList.remove('drawer-scroll-lock');
        } else {
          document.body.classList.add('drawer-scroll-lock');
        }
        drawer.classList.add('drawer-animating');
        drawer.classList.remove('drawer-close');
      } else {
        // 当超过1440px 时，利用该样式，隐藏显示处理
        if (drawer.classList.contains('drawer-close')) {
          drawer.classList.remove('drawer-close');
        } else {
          drawer.classList.add('drawer-close');
        }
        drawer.classList.add('drawer-animating');
        drawer.classList.remove('drawer-open');
      }
    }, false);
    drawer.addEventListener('click', () => {
      drawer.classList.remove('drawer-open');
      document.body.classList.remove('drawer-scroll-lock');
      drawer.classList.add('drawer-animating');
    }, false);
    document.querySelector('.drawer-content').addEventListener('click', (e) => {
      e.stopPropagation();
    }, false);
  })();
</script>
    <script>
  (function () {
    // 定时切换主题，TODO 为了调试方便，暂先改为10秒，等上线前改为 1分钟
    const themes = ['theme-red', 'theme-pink', 'theme-purple', 'theme-deep-purple',
      'theme-indigo', 'theme-blue', 'theme-light-blue', 'theme-cyan', 'theme-teal',
      'theme-green', 'theme-light-green', 'theme-lime', 'theme-amber',
      'theme-orange', 'theme-deep-orange', 'theme-brown', 'theme-grey', 'theme-blue-grey'];
    let lastTheme = '';
    setInterval(function () {
      const r = Math.floor(Math.random() * 16);
      const classList = document.body.classList;
      if (classList.length > 0 && lastTheme) {
        classList.remove(lastTheme);
      }
      classList.add(themes[r]);
      lastTheme = themes[r];
    }, 10000);
  })();
</script>
  </body>
</html>
