// radio 变量

$radio-outline-size: 40px !default; // radio 轮廓大小
$radio-size: 20px !default;

// sizing
$radio-outline-size-lg: 60px !default;
$radio-size-lg: 30px !default;

$radio-outline-size-sm: 30px !default;
$radio-size-sm: 15px !default;

// 动画持续时间
$radio-transition-duration: 120ms !default;

