// radio 组件
@import "../../ripple/mixin";
@import "../../theme/mixin";
@import "./function";
@import "./mixin";

// 基本样式
.radio {
  position:      relative;
  box-sizing:    border-box;
  display:       inline-block;
  border-radius: 50%;
  cursor:        pointer;
  will-change:   opacity, transform, border-color, background-color, color;

  // radio 圆形形状
  &-background {
    position:       absolute;
    box-sizing:     border-box;
    display:        inline-block;
    pointer-events: none;
    // 动画
    transition:     radio-leave(opacity), radio-leave(transform);
  }

  // 定义 radio 的大小封装成 mixin，方便定制化处理
  @include radio-size();

  &-circle-outer {
    position:      absolute;
    top:           0;
    left:          0;
    box-sizing:    border-box;
    width:         100%;
    height:        100%;
    border:        2px solid;
    @include theme-prop(border-color, secondary-on-light);
    border-radius: 50%;
    // 动画
    transition:    radio-leave(border-color);
  }

  &-circle-inner {
    position:      absolute;
    top:           0;
    left:          0;
    box-sizing:    border-box;
    width:         100%;
    height:        100%;
    border-radius: 50%;
    transform:     scale(0, 0);
    @include theme-prop(background-color, secondary-on-light);
    // 动画
    transition:    radio-leave(transform), radio-leave(background-color);
  }

  &-native-control {
    position: absolute;
    top:      0;
    left:     0;
    z-index:  1;
    width:    100%;
    height:   100%;
    padding:  0;
    margin:   0;
    cursor:   inherit;
    opacity:  0;

    // 获取焦点时
    &:focus {
      + .radio-background {
        .radio-circle-outer {
          @include theme-prop(border-color, primary-on-light);
        }
      }
    }
  }
}

// checked 和 disabled 动画效果
.radio-native-control:checked,
.radio-native-control:disabled {
  + .radio-background {
    transition: radio-enter(opacity), radio-enter(transform);

    .radio-circle-outer {
      transition: radio-enter(border-color);
    }

    .radio-circle-inner {
      transition: radio-enter(transform), radio-enter(background-color);
    }
  }
}

// 选中样式
.radio-native-control:checked {
  + .radio-background {
    .radio-circle-outer {
      @include theme-prop(border-color, primary-on-light);
    }

    .radio-circle-inner {
      @include theme-prop(background-color, primary-on-light);
      transform: scale(.5);
    }
  }
}

// 波纹效果时 ripple
.radio-ripple {
  .radio-background {
    &::before {
      content:        "";
      position:       absolute;
      top:            0;
      left:           0;
      width:          100%;
      height:         100%;
      border-radius:  50%;
      @include theme-prop(background-color, primary-on-light);
      pointer-events: none;
      opacity:        0;
      transform:      scale(0, 0);
      transition:     radio-leave(opacity), radio-leave(transform);
    }
  }

  // 获取焦点时
  .radio-native-control:focus {
    + .radio-background::before {
      opacity:    .16;
      transform:  scale(2, 2);
      transition: radio-enter(opacity), radio-enter(transform);
    }
  }
}

// disabled 样式
.radio-disabled {
  pointer-events: none;
  cursor:         default;
}

.radio-native-control:disabled {
  + .radio-background {
    cursor: default;

    .radio-circle-outer {
      border-color: rgba(#000, .26);
    }

    .radio-circle-inner {
      background-color: rgba(#000, .26);
    }
  }
}

// 获取焦点时
.radio-native-control:focus {
  + .radio-background {
    .radio-circle-outer {
      @include theme-prop(border-color, primary-on-light);
    }
  }
}

// 定义主题样式
@each $theme in ("primary", "secondary") {
  .radio-#{$theme} {
    @include radio-theme($theme);
  }
}

// 辅助颜色对应 radio
@each $theme in $theme-assist {
  .radio-#{$theme} {
    @include radio-theme($theme, $opacity: .64, $assist: true);
  }
}

// Sizing
.radio-lg {
  @include radio-size($radio-outline-size: $radio-outline-size-lg, $radio-size: $radio-size-lg);
}

.radio-sm {
  @include radio-size($radio-outline-size: $radio-outline-size-sm, $radio-size: $radio-size-sm);
}
