<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="CSS3 Perfect">
  <meta name="description"
        content="Perfect is a popular CSS framework based on the modern browser. It can bring you perfect experience and the newest css technology. It is a CSS framework in the future.">
  <meta name="author" content="Linder Wang">

  <title>
    Table 组件 &middot; Perfect
  </title>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="icon" href="/favicon.ico">

  <!-- Perfect CSS -->
  <link href="/assets/css/perfect.css" rel="stylesheet">

  <!-- Component CSS -->
  <link href="/assets/css/component.css" rel="stylesheet">
</head>
<body>
<script src="/assets/js/vendor/jquery.min.js"></script>
<div class="component-wrap">
  <section>
    <h3> 基本 Table </h3>
    <section class="component-container">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>姓</th>
          <th>名</th>
          <th>年龄</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>张</td>
          <td>三</td>
          <td>18</td>
        </tr>
        <tr>
          <th>2</th>
          <td>李</td>
          <td>四</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>王</td>
          <td>彦军</td>
          <td>30</td>
        </tr>
        </tbody>
      </table>
    </section>

    <h3>条纹</h3>
    <section class="component-container">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>姓</th>
          <th>名</th>
          <th>年龄</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>张</td>
          <td>三</td>
          <td>18</td>
        </tr>
        <tr>
          <th>2</th>
          <td>李</td>
          <td>四</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>王</td>
          <td>彦军</td>
          <td>30</td>
        </tr>
        </tbody>
      </table>
    </section>

    <h3> 带边框边框 </h3>
    <section class="component-container">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>姓</th>
          <th>名</th>
          <th>年龄</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>张</td>
          <td>三</td>
          <td>18</td>
        </tr>
        <tr>
          <th>2</th>
          <td>李</td>
          <td>四</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>王</td>
          <td>彦军</td>
          <td>30</td>
        </tr>
        </tbody>
      </table>
    </section>

    <h3> Hoverable 效果 </h3>
    <section class="component-container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>姓</th>
          <th>名</th>
          <th>年龄</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>1</th>
          <td>张</td>
          <td>三</td>
          <td>18</td>
        </tr>
        <tr>
          <th>2</th>
          <td>李</td>
          <td>四</td>
          <td>20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>王</td>
          <td>彦军</td>
          <td>30</td>
        </tr>
        </tbody>
      </table>
    </section>
  </section>

</div>


</body>
</html>
