// Positioning

.pos-a {
  position: absolute !important;
}

.pos-r {
  position: relative !important;
}

.pos-f {
  position: fixed !important;
}

.pos-s {
  position: static !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
}
