// animation mixin

@import "./variable";

@mixin animation-ease-out {
  animation-timing-function: $animation-ease-out;
}

@mixin animation-ease-in-out {
  animation-timing-function: $animation-ease-in-out;
}

@mixin animation-ease-in {
  animation-timing-function: $animation-ease-in;
}

@mixin animation-sharp {
  animation-timing-function: $animation-sharp;
}
