@import "../../../../components/theme/variable";
@import "../../../../components/shadow/mixin";
@import "../../../../components/shadow/function";
@import "../../../../components/theme/mixin";
@import "../../../../components/ripple/mixin";

// ripple
.ripple-demo {
  margin: 1rem;

  .ripple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
    @include shadow(5);

    + .ripple {
      margin-left: 2rem;
    }
  }

  /* stylelint-disable selector-no-qualifying-type */
  button.ripple {
    display: inline-block;
    border: 0;
    background: none;
    appearance: none;
  }

  .ripple-unbounded {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    box-shadow: none;
  }

  .ripple-unbounded:not(.ripple-impact)::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .d-flex .ripple {
    margin-right: 2rem;
  }

  // 自定义 ripple
  .ripple-custom1 {
    @include ripple-pseudo-theme ((background-color: #e91e63, opacity: .2));
  }

  .ripple-custom2 {
    @include ripple-pseudo-theme ((background-color: #9c27b0, opacity: .1));
  }
}

// shadow
.shadow-wrap {
  [class*="shadow"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 0 40px 60px;
    border-radius: 3px;
    color: $grey-color-500;
    background: $white;
  }
}

.shadow-custom {
  @for $z-value from 0 through 24 {
    /* stylelint-disable indentation */
    .shadow-#{$z-value} {
      @include theme-prop(color, primary);
      @include shadow($z-value, $umbra-color: var(--theme-primary-lighter),
      $penumbra-color: var(--theme-primary-lighter),
      $ambient-color: var(--theme-primary-lighter)
    );
    }
  }
}

.shadow-animation {
  @include shadow-transition;
}

.shadow-transition2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0 40px 60px;
  border-radius: 3px;
  transition: shadow-transition-rule(), opacity $shadow-transition-duration $shadow-transition-timing-function;
  will-change: box-shadow, opacity;
  @include theme-prop(background-color, secondary-lightest);
  @include shadow(15);
}

.shadow-custom-animation {
  opacity: .5;
  @include shadow(15, $umbra-color: var(--theme-primary-lighter),
  $penumbra-color: var(--theme-primary-lighter),
  $ambient-color: var(--theme-primary-lighter)
);
}
