// list wrap

@import "../../../../components/theme/variable";
@import "../../../../components/theme/mixin";

.list-wrap {
  max-width: 720px;
  padding: .5rem 1rem;
  border: 1px dashed;
  @include theme-prop(border-color, primary-light);
  + .list-wrap {
    margin-top: 1rem;
  }
}

@media (max-width: 720px) {
  .list-wrap {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    border-width: 1px 0;

    + .list-wrap {
      margin-top: 0;
    }
  }
}

