@import "../../../../components/theme/mixin";

.menu-demo-label {
  margin-bottom: .5rem;
}

.menu-demo-panel {
  position: relative;
  height:   240px;
  padding:  1rem;
  border:   1px solid;
  @include theme-prop(border-color, secondary-lighter);
}

.menu-anchor {
  position: absolute;
}

.menu-highlight {
  .menu-title {
    &:hover {
      @include theme-prop(color, primary-light);
    }
    &.active {
      @include theme-prop(color, primary);
    }
  }

  .menu-sub-title {
    &:hover {
      @include theme-prop(color, primary);
    }

    &.active {
      border-right: 3px solid;
      @include theme-prop(color, primary-darker);
      @include theme-prop(background-color, primary-lightest);
    }
  }
}


.menu-demo {
  $shadow: "";
  @for $i from 1 through 20 {
    $shadow: $shadow + "," + $i + "px 0";
  }
  @for $i from 1 through 10 {
    $shadow: $shadow + ", 20px " + $i + "px";
  }
  @for $i from 1 through 10 {
    $shadow: $shadow + "," + ($i + 20) + "px 10px";
  }
  @for $i from 1 through 10 {
    $shadow: $shadow + ", 30px " + $i + "px";
  }
  box-shadow: #{str-slice($shadow, 2)};
}
