// crumbss

$crumbs-padding-y: .75rem !default;
$crumbs-padding-x: 1rem !default;
$crumbs-item-padding: .5rem !default;

$crumbs-bg: $gray-lighter !default;
$crumbs-divider-color: $gray-light !default;
$crumbs-active-color: $gray-light !default;
$crumbs-divider: "/" !default;
