// input 变量

$input-margin-bottom: .5rem !default;
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-border-color: rgba($black, .15) !default;
$input-font-size: $font-size-base !default;
$input-line-height: 1.25 !default;
$input-color: $dark-black !default;
$input-bg: $white !default;

$input-border-radius: $border-radius !default;
$input-box-shadow: inset 0 1px 1px rgba($black, .075) !default;
$input-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;

// focus 样式
$input-focus-border-color: lighten(map-get($theme, "primary"), 25%) !default;
$input-focus-color: $input-color !default;
$input-focus-bg: $input-bg !default;
$input-focus-box-shadow: $input-box-shadow, 0 0 0 3px rgba(map-get($theme, "primary"), .25) !default;

// Placeholder
$input-placeholder-color: rgba(0, 0, 0, .38) !default;

// Disabled
$input-disabled-color: $grey-400 !default;

// label
$input-label-bottom: .5rem !default;
$input-label-above-bottom: 2rem !default;
$input-label-above-font-size: .875rem !default;
$input-label-above-color: $dark-black !default;
$input-label-above-invalid-color: $red-500 !default;
