// List 变量

$list-margin-top: .75rem !default;
$list-bg: $white !default;
$list-item-padding-y: .75rem !default;
$list-item-padding-x: 1rem !default;

// dense 紧凑的
$list-dense-font-size: .75rem !default;
$list-dense-item-padding-y: .5625rem !default;

// hover
$list-hover-bg: $grey-200 !default;
$list-active-color: $component-active-color !default;
$list-active-bg: $component-active-bg !default;

// disabled
$list-disabled-color: $grey-600 !default;
$list-disabled-bg: $list-bg !default;

// links and buttons style
$list-action-color: $grey-800 !default;
$list-action-hover-color: $list-action-color !default;

$list-action-active-color: $list-action-hover-color !default;
$list-action-active-bg: $grey-300 !default;

// border
$list-border-width: $border-width !default;
$list-border-color: rgba($black, .125) !default;

// detail
$list-item-detail-size: 1.5rem !default;
$list-item-detail-margin: .5rem !default;

// avatar
$list-item-avatar-size: 2.5rem !default;
$list-item-avatar-margin: 1rem !default;

// secondary
$list-item-text-secondary-font-size: .75rem !default;
$list-item-text-secondary-font-weight: 400 !default;

// divider
$list-divider-inset-left: $list-item-padding-x !default;
$list-divider-inset-detail-left: $list-item-padding-x + $list-item-detail-size + $list-item-detail-margin !default;
$list-divider-inset-avatar-left: $list-item-padding-x + $list-item-avatar-size + $list-item-avatar-margin !default;

// list group
$list-group-header-font-size: .875rem !default;
$list-group-header-font-weight: 500 !default;
$list-group-header-padding-y: .75rem !default;
$list-group-header-padding-x: 1rem !default;

// list spacing  16px * .625rem
$list-border-spacing: .625rem !default;

// right text
$list-item-text-right-margin-right: .5rem !default;
$list-item-text-right-font-size: .875rem !default;
