// Options
// 可以通过设为 true 或 false 来开启或关闭相关功能
// Quickly modify global styling by enabling or disabling optional features.

//是否使用响应式布局
$enable-responsive: true !default;
//是否使用圆角
$enable-rounded: true !default;
//是否开启阴影效果
$enable-shadows: false !default;
//是否开启 transition 动画
$enable-transitions: true !default;
//是否开启 gradients 渐变
$enable-gradients: false !default;
//？？
$enable-hover-media-query: false !default;
