// Theme 主题颜色

$theme-primary: $cyan-500; // 主颜色，使用青色 #00bcd4
$theme-secondary: $light-blue-500; // 次颜色 使用浅蓝色 #03a9f4
$theme-info: $light-green-500; // 一些提示信息颜色 使用浅绿色 #8bc34a
$theme-warning: $orange-500 ; // 警告颜色 使用橙色 #ff9800
$theme-danger: $red-500; // 显示错误或危险信息颜色
$theme-light: $grey-100; // 浅色
$theme-dark: $grey-800; // 深色主题

// body 默认背景和字体颜色
$body-bg: $white !default;
$body-color: $grey-900 !default;

// 以下这几个值应该去掉
$gray: $grey-900 !default;
$gray-dark: $grey-900 !default;
$gray-light: $grey-100 !default;
$gray-lighter: $grey-100 !default;
$gray-lightest: $grey-100 !default;
$text-muted: $grey-100 !default;
$theme-inverse: $grey-900 !default;

