$code-font-size: 90% !default;
$code-padding-y: .2rem !default;
$code-padding-x: .4rem !default;
$code-color: #bd4147 !default;
$code-bg: $gray-lightest !default;

$kbd-color: $white !default;
$kbd-bg: $gray-dark !default;

$pre-color: $gray-dark !default;
$pre-scroll-height: 300px !default;

$kbd-box-shadow: 0 -.1rem 0 rgba($black, .25) inset !default;
$nested-kbd-font-weight: $font-weight-bold !default;
