// Dialog 变量
@import "../../theme/variable";

$dialog-backdrop-bg: $grey-color-400 !default;
$dialog-panel-margin-x: 2rem !default;

$dialog-header-padding: 1rem !default;
$dialog-header-margin-bottom: 1rem !default;
$dialog-header-font-size: 1.25rem !default;
$dialog-header-font-weight: 400 !default;
$dialog-header-line-height: 1.5 !default;

$dialog-body-padding: 1rem !default;
$dialog-body-margin-top: .75rem !default;
$dialog-body-font-size: .875rem !default;
$dialog-body-font-weight: 400 !default;
$dialog-body-line-height: 1.25rem !default;

$dialog-footer-padding: 1rem !default;
