// Tab 变量

$tab-padding-x: .75rem !default;
$tab-padding-y: 1.5rem !default;
$tab-font-size: 1rem !default;
$tab-font-weight: 400 !default;
$tab-line-height: 1.5rem !default;

// active 和鼠标经过，边框减少宽度
$tab-active-width-subtract: 16px !default;
$tab-active-border: 2px !default;

// 动画持续时间
$tab-transition-duration: 240ms !default;

// Tab 大小
$tab-padding-x-lg: 1rem !default;
$tab-padding-y-lg: 2rem !default;
$tab-font-size-lg: 1.125rem !default;

$tab-padding-x-sm: .5rem !default;
$tab-padding-y-sm: 1rem !default;
$tab-font-size-sm: .875rem !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认关闭，需要的话可开启
$enable-custom-theme-for-tab: false !default;
