// Tab 变量

$tab-padding-x: .75rem !default;
$tab-padding-y: 1.5rem !default;
$tab-font-size: 1rem !default;
$tab-font-weight: 400 !default;
$tab-line-height: 1.5rem !default;

// active 和鼠标经过，边框减少宽度
$tab-active-width-subtract: 4px !default;
$tab-active-border: 2px !default;

// 动画持续时间
$tab-transition-duration: 1200ms !default;

$tab-font-size-sm: .875rem !default;
$tab-font-weight-sm: 500 !default;
