// Tab 变量

$tab-padding-x: .75rem !default;
$tab-padding-y: 1.5rem !default;
$tab-font-size: 1rem !default;
$tab-font-size: 1rem !default;
$tab-font-weight: 400 !default;
$tab-line-height: 1.5rem !default;
$tab-color: $light-black !default;

// 活动变量
$tab-hover-color: $dark-black !default;
$tab-active-color: $dark-black !default;
$tab-active-border-color: $dark-black !default;
// active 和鼠标经过，边框减少宽度
$tab-active-width-subtract: 4px !default;
$tab-active-border: 2px !default;


$tab-font-size-sm: .875rem !default;
$tab-font-weight-sm: 500 !default;
