// tab style
@import "./variable";
@import "../../theme/variable";
@import "../../theme/mixin";
@import "./mixin";
@import "../../animation/function";

// tabs 基本样式由 .tab-bar 和 .tab 组成
.tab-bar {
  position:       relative;
  display:        flex;
  flex-direction: row;

  &-left {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-right {
    justify-content: flex-end;
  }

  &-between {
    justify-content: space-between;

    .tab {
      flex: 1;
    }
  }

  @include tab-size();
}

.tab {
  position:                relative;
  display:                 inline-block;
  overflow:                hidden;
  text-align:              center;
  text-decoration:         none;
  white-space:             nowrap;
  vertical-align:          middle;
  cursor:                  pointer;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:  antialiased;
  @include theme-prop(color, secondary-on-light);

  &::after {
    content:        "";
    position:       absolute;
    bottom:         0;
    @include theme-prop(background-color, primary-on-light);
    pointer-events: none;
    transform:      scale(0);
    transition:     animation-leave-sharp(transform, $tab-transition-duration);
    will-change:    transform;
  }

  &.active {
    @include theme-prop(color, primary-on-light);

    // 当前为活动节点时，显示底部边框
    &::after {
      transform:  scale(1);
      transition: animation-enter(transform, $tab-transition-duration);
    }
  }

  &:hover {
    // a 标签
    text-decoration: none;
    @include theme-prop(color, primary-on-light);
  }

  &:focus {
    @include theme-prop(outline-color, secondary-on-light);
  }

  // disabled
  &.disabled {
    pointer-events: none;
    cursor:         default;
    @include theme-prop(color, disabled-on-light);
  }

}

// Tab 底部线条平滑的移动
.tab-bar-smooth {
  .tab::after {
    content: normal;
  }

  &-line {
    position:         absolute;
    bottom:           0;
    left:             0;
    height:           2px;
    visibility:       hidden;
    transform-origin: left top;
    transition:       animation-enter(transform, $tab-transition-duration);
    will-change:      transform;
    @include theme-prop(background-color, primary-on-light);
  }
}

// Tab 大小
.tab-bar-lg {
  @include tab-size($padding-x: $tab-padding-x-lg, $padding-y: $tab-padding-y-lg, $font-size: $tab-font-size-lg);
}

.tab-bar-sm {
  @include tab-size($padding-x: $tab-padding-x-sm, $padding-y: $tab-padding-y-sm, $font-size: $tab-font-size-sm);
}

// Tab 主题
@each $theme in ("primary", "secondary") {
  .tab-bar-#{$theme} {
    @include tab-theme($theme);
  }
}

// 辅助颜色对应 radio
// Fixme 没选中颜色有点发淡，待后续处理
@each $theme in $theme-assist {
  .tab-bar-#{$theme} {
    @include tab-theme($theme, $assist: true);
  }
}
