// font weight
/**
* 关于 font weight 的设置，跟字体粗细值有关
* 1. 在 Safari 和 IOS 系统下，默认字体粗细分为
    100-300   400-500  600-700  800-900  四种，对应为
    lighter 比从父元素继承来的值更细(处在字体可行的粗细值范围内)。
    normal 正常粗细，与400等值。
    bold 加粗， 与700等值
    bolder 比从父元素继承来的值更粗 (处在字体可行的粗细值范围内)。
 如果设为 -apple-system 或 "PingFang SC"时，就会有更多的字体粗细，
  100 200 300 400 500 600-900 六种粗细
  其中 lighter 对应 100    normal 对应 400    bold 对应 700    bolder 对应 700

*  2 在 Chrome 下，默认字体粗细只有两种
   100-400 500-900 对应为 normal 和 bold，如果设置为 lighter，则等价于 normal， 设为 bolder 等价于 bold
   如果设为 "PingFang SC" 同样有六种字体粗细，参考上面
* 所以 font-weight 字体粗细跟字体有关。关于字体粗细的回退机制可以参考以下文章
  https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-weight
**/

$font-weight-lighter: lighter !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

// 设置全局字体，使用系统自带的字体，参考 https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/

// sass-lint:disable indentation
$font-family:
    // 设置数字字体等宽，更紧凑美观，同时也会影响到超链接字体
  Helvetica Neue For Number,
    // Safari for OS X and iOS (San Francisco)
  -apple-system,
    // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
    // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
    // Windows
  "Segoe UI",
    // Android
  "Roboto",
    // 平方字体，字体对比度更强，更细长
  PingFang SC,
    // 备用字体
  Hiragino Sans GB,
    // 在 window 系统下备用字体
  Microsoft YaHei,
    // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

// 代码标签使用改字体，用在 code, kbd, pre, samp 中
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// 字体大小，基于 rem ，根字体不再设置，使用浏览器默认字体 16px
$font-size-base: .875rem !default; // 设置在 body 上，默认字体为 14px
$font-size: 1rem; // 16px;
$font-size-lg: 1.125rem !default; // 18px
$font-size-sm: .875rem !default; // 14px
$font-size-xs: .75rem !default; // 12px 一般浏览器支持的最小字体

// 默认行高，实际高度等于字体乘以行高
// 字体和行高对应关系
// 12px -> 18px
// 14px -> 21px
// 16px -> 24px
// 18px -> 27px
$line-height-base: 1.5 !default;

// dt font
$dt-font-weight: $font-weight-bold !default;

