// Options
// 可以通过设为 true 或 false 来开启或关闭相关功能

// 是否开启响应式布局
$enable-responsive: false !default;

// 是否开启圆角
$enable-rounded: true !default;

// 是否开启阴影效果
$enable-shadows: true !default;

// 是否使用透明色来处理灰色系列颜色值
$enable-transparent: true !default;

// 是否开启打印样式
$enable-print-styles: false !default;

// 是否开启定制的主题样式，包括主颜色和辅助颜色，默认关闭，需要的话可开启
// 定制主题会生成多余的主题类样式，如果嫌生成的 CSS 文件太大，可以关闭
// 该变量为全局控制主题开关，在各自的组件中又定义了自己的主题开关变量，格式为
// $enable-custom-theme-for-xxx: false !default; xxx 表示对应的组件名称
// 即使关闭了该配置项，我们也可以调用组件中封装好的主题 mixin 来设置想要的主题样式
$enable-custom-theme: false !default;

