@import "../../theme/mixin";
@import "../../ripple/mixin";
@import "./variable";

@mixin checkbox-size($checkbox-outline-size: $checkbox-outline-size, $checkbox-size: $checkbox-size) {
  // checkbox 渲染百分比
  $checkbox-pct: percentage($checkbox-size / $checkbox-outline-size);
  width:   $checkbox-outline-size;
  height:  $checkbox-outline-size;
  padding: ($checkbox-outline-size - $checkbox-size) / 2;

  .checkbox-background {
    left:   ($checkbox-outline-size - $checkbox-size) / 2;
    width:  $checkbox-pct;
    height: $checkbox-pct;
  }
}

// 定义主题 mixin，也可以通过此 mixin 自定义主题，只需传 $theme 颜色值即可
@mixin checkbox-theme($theme, $opacity: .16, $assist: false) {
  .checkbox-mark-outer {
    @if type-of($theme) == "color" {
      @include theme-prop(border-color, rgba($theme, $opacity));
    } @else {
      @if ($assist) {
        @include theme-assist(border-color, #{$theme}-light);
      } @else {
        @include theme-prop(border-color, #{$theme}-light);
      }
    }
  }

  .checkbox-mark-inner {
    @if type-of($theme) == "color" {
      @include theme-prop(background-color, rgba($theme, $opacity));
    } @else {
      @if ($assist) {
        @include theme-assist(background-color, #{$theme}-light);
      } @else {
        @include theme-prop(background-color, #{$theme}-light);
      }
    }
  }

  .checkbox-native-control {
    // 获取焦点时
    &:focus {
      + .checkbox-background {
        .checkbox-mark-outer {
          @if ($assist) {
            @include theme-assist(border-color, $theme);
          } @else {
            @include theme-prop(border-color, $theme);
          }
        }
      }
    }

    // 不包括 :disabled
    &:checked:not(:disabled),
    &:indeterminate:not(:disabled) {
      + .checkbox-background {
        .checkbox-mark-inner {
          @if ($assist) {
            @include theme-assist(background-color, $theme);
          } @else {
            @include theme-prop(background-color, $theme);
          }
        }
      }
    }
  }

  // 波纹效果时 ripple
  &.checkbox-ripple {
    .checkbox-background {
      &::before {
        @if type-of($theme) == "color" {
          @include theme-prop(background-color, rgba($theme, $opacity));
        } @else {
          @if ($assist) {
            @include theme-assist(background-color, #{$theme}-light);
          } @else {
            @include theme-prop(background-color, #{$theme}-light);
          }
        }
      }
    }

    // 获取焦点时
    .checkbox-native-control:focus {
      + .checkbox-background::before {
        opacity: $opacity;
      }
    }
  }

  // 波纹动效时
  &.ripple-impact {
    @if (type-of($theme) == color) {
      @include ripple-pseudo-theme ((background-color: rgba($theme, $opacity / 2)));
    } @else {
      @include ripple-pseudo-theme ((theme-style: #{$theme}-alpha, opacity: 1));
    }
  }
}
