// checkbox 变量
@import "../../base/variables/form";
@import "../../base/variables/font";

// checkbox 轮廓大小，跟 input 和 select 高度统一，字体 * 行高 + 上下 padding + 上下边框
$checkbox-outline-size: $font-size-base * $input-line-height + $input-padding-y * 2 + .125rem !default;

// 需要去掉2px
$checkbox-size: $checkbox-outline-size / 2 - .125rem !default;
$checkbox-size-circle: $checkbox-outline-size / 2 !default;

// sizing
$checkbox-outline-size-lg: $checkbox-outline-size * 1.5 !default;
$checkbox-size-lg: $checkbox-size * 1.5 !default;

$checkbox-outline-size-sm: $checkbox-outline-size * .875 !default;
$checkbox-size-sm: $checkbox-size * .875 !default;

// 动画持续时间
$checkbox-transition-duration: 120ms !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认关闭，需要的话可开启
$enable-custom-theme-for-checkbox: false !default;
