<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="CSS3 Perfect">
  <meta name="description"
        content="Perfect is a popular CSS framework based on the modern browser. It can bring you perfect experience and the newest css technology. It is a CSS framework in the future.">
  <meta name="author" content="Linder Wang">

  <title>
    List 组件 &middot; Perfect
  </title>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="icon" href="/favicon.ico">

  <!-- Perfect CSS -->
  <link href="/assets/css/perfect.css" rel="stylesheet">

  <!-- Component CSS -->
  <link href="/assets/css/component.css" rel="stylesheet">
</head>
<body>
<script src="/assets/js/vendor/jquery.min.js"></script>
<style>
  .arrow {
    position: relative;
  }

  .arrow:after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #bdbdbd;
    border-right: 2px solid #bdbdbd;
    transform: rotate(45deg);
  }
</style>

<div class="component-wrap">
  <p class="m-3">
    说明：以下例子中，为了演示更直观些，额外的设置了左右外边距 1rem，最大宽度设为 720px，即 max-width: 720px;
    同时设置了 1px 的边框，这些额外的样式不包含在基础 css 中。
    为了更好的演示效果，当屏幕缩小到 720px 后，会去掉左右外边距、边框以及 max-width 的限制。
  </p>

  <section>
    <h2>单行列表</h2>
    <section class="component-list">
      <h3>单行文本</h3>
      <ul class="list">
        <li class="list-item">List 组件 - 单行文本</li>
        <li class="list-item active">List 组件 - 单行文本(active)</li>
        <li class="list-item disabled">List 组件 - 单行文本(disabled)</li>
      </ul>
    </section>

    <section class="component-list">
      <h3>单行文本-紧凑的</h3>
      <ul class="list list-dense">
        <li class="list-item">List 组件 - 单行文本</li>
        <li class="list-item active">List 组件 - 单行文本(active)</li>
        <li class="list-item disabled">List 组件 - 单行文本(disabled)</li>
      </ul>
    </section>
  </section>

  <section>
    <h2>Links 或者 Buttons</h2>
    <section class="component-list">
      <h3>Links，使用样式 list-item-action</h3>
      <div class="list">
        <a class="list-item list-item-action" href="#">List 组件 - Links</a>
        <a class="list-item list-item-action active" href="#">List 组件 - Links(active)</a>
        <a class="list-item list-item-action disabled" href="#">List 组件 - Links(disabled)</a>
      </div>
    </section>

    <section class="component-list">
      <h3>Buttons，使用样式 list-item-action</h3>
      <div class="list">
        <button type="button" class="list-item list-item-action">List 组件 - Buttons</button>
        <button type="button" class="list-item list-item-action active">List 组件 - Buttons(active)
        </button>
        <button type="button" class="list-item list-item-action" disabled>List 组件 -
          Buttons(disabled)
        </button>
      </div>
    </section>
  </section>

  <section class="component-list">
    <h3>Buttons，使用样式 list-item-action</h3>
    <div class="list">
      <button type="button" class="list-item list-item-action">List 组件 - Buttons</button>
      <button type="button" class="list-item list-item-action active">List 组件 - Buttons(active)
      </button>
      <button type="button" class="list-item list-item-action" disabled>List 组件 -
        Buttons(disabled)
      </button>
    </div>
  </section>

  <section>
    <h2>带边框的 List 组件</h2>
    <section class="component-list">
      <h3>内外边框</h3>
      <ul class="list list-border">
        <li class="list-item">List 组件 - 内外边框</li>
        <li class="list-item">List 组件 - 内外边框</li>
        <li class="list-item">List 组件 - 内外边框</li>
      </ul>
    </section>

    <section class="component-list">
      <h3>内边框</h3>
      <ul class="list list-border-inner">
        <li class="list-item">List 组件 - 内边框</li>
        <li class="list-item">List 组件 - 内边框</li>
        <li class="list-item">List 组件 - 内边框</li>
      </ul>
    </section>
  </section>

  <section>
    <h2>有间距的 List 组件</h2>
    <section class="component-list" style="background-color: #f5f5f5;">
      <ul class="list list-spacing">
        <li class="list-item">List 组件 - 中间有间距</li>
        <li class="list-item">List 组件 - 中间有间距</li>
        <li class="list-item">List 组件 - 中间有间距</li>
      </ul>
    </section>

  </section>

  <section>
    <h2>行首行尾设置图标</h2>
    <p class="m-x-3">说明：这里我们用一个灰色的背景作为演示例子，实际项目中使用具体的图标替换</p>
    <section class="component-list">
      <h3>行首图标</h3>
      <ul class="list">
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 行首图标
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 行首图标
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 行首图标
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>行尾图标</h3>
      <ul class="list">
        <li class="list-item">List 组件 - 行尾图标<span class="list-item-end-detail grey-bg"></span></li>
        <li class="list-item">List 组件 - 行尾图标<span class="list-item-end-detail grey-bg"></span></li>
        <li class="list-item">List 组件 - 行尾图标<span class="list-item-end-detail grey-bg"></span></li>
      </ul>
    </section>

    <section class="component-list">
      <h3>行首图标（紧凑的）</h3>
      <ul class="list list-dense">
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 行首图标
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 行首图标
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 行首图标
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>行尾图标（紧凑的）</h3>
      <ul class="list list-dense">
        <li class="list-item">List 组件 - 行尾图标<span class="list-item-end-detail grey-bg"></span></li>
        <li class="list-item">List 组件 - 行尾图标<span class="list-item-end-detail grey-bg"></span></li>
        <li class="list-item">List 组件 - 行尾图标<span class="list-item-end-detail grey-bg"></span></li>
      </ul>
    </section>
  </section>

  <section>
    <h2>头像</h2>
    <section class="component-list">
      <ul class="list">
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 头像</li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 头像</li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 头像</li>
      </ul>
    </section>

    <section class="component-list">
      <h3>头像 + 行尾图标</h3>
      <ul class="list">
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 头像+行尾图标<span
          class="list-item-end-detail grey-bg"></span></li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 头像+行尾图标<span
          class="list-item-end-detail grey-bg"></span></li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 头像+行尾图标<span
          class="list-item-end-detail grey-bg"></span></li>
      </ul>
    </section>
  </section>

  <section>
    <h2>文本居中</h2>
    <section class="component-list">
      <ul class="list">
        <li class="list-item">
          <span class="list-item-text-center">List 组件 - 文本居中</span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-text-center">List 组件 - 文本居中</span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-text-center">List 组件 - 文本居中</span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
      </ul>
    </section>

  </section>

  <section>
    <h2>行首行尾都有文字</h2>
    <section class="component-list">
      <h3>只有文字</h3>
      <ul class="list">
        <li class="list-item">
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right">List 组件 - 行尾文本</span>
        </li>
        <li class="list-item">
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-primary">List 组件 - 行尾文本</span>
        </li>
        <li class="list-item">
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-success">List 组件 - 行尾文本</span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>行首行尾文字+行尾图标</h3>
      <ul class="list">
        <li class="list-item">
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
        <li class="list-item">
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-primary">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
        <li class="list-item">
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-success">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>行首图标 + 行首行尾文字+行尾图标</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-start-detail grey-bg"></span>
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
        <li class="list-item">
          <span class="list-item-start-detail grey-bg"></span>
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-primary">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
        <li class="list-item">
          <span class="list-item-start-detail grey-bg"></span>
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-success">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>头像 + 行首行尾文字+行尾图标</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-primary">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span>List 组件 - 行首文本</span>
          <span class="list-item-text-right text-success">List 组件 - 行尾文本</span>
          <span class="list-item-end-detail arrow"></span>
        </li>
      </ul>
    </section>

  </section>


  <section>
    <h2>两行列表</h2>
    <section class="component-list">
      <h3>只有文本</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>只有文本（紧凑的）</h3>
      <ul class="list list-dense">
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>头像 + 文本</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>文本 + 行尾图标</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>头像 + 文本 + 行尾图标</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>头像 + 文本 + 行尾文本 + 行尾图标</h3>
      <ul class="list">
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-text-right">行尾文本</span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-text-right">行尾文本</span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
        <li class="list-item">
          <span class="list-item-avatar grey-bg"></span>
          <span class="list-item-text">
            List 组件 - 两行列表
            <span class="list-item-text-secondary">List 组件 - 次要内容</span>
          </span>
          <span class="list-item-text-right">行尾文本</span>
          <span class="list-item-end-detail grey-bg"></span>
        </li>
      </ul>
    </section>
  </section>

  <section>
    <h2>列表分隔线</h2>
    <section class="component-list">
      <h3>100% 宽度</h3>
      <ul class="list">
        <li class="list-item">List 组件 - 小节 1</li>
        <li class="list-item">List 组件 - 小节 1</li>
        <li class="list-item">List 组件 - 小节 1</li>
        <li class="list-divider"></li>
        <li class="list-item">List 组件 - 小节 2</li>
        <li class="list-item">List 组件 - 小节 2</li>
        <li class="list-item">List 组件 - 小节 2</li>
      </ul>
    </section>

    <section class="component-list">
      <h3>inset </h3>
      <ul class="list">
        <li class="list-item">List 组件 - 小节 1</li>
        <li class="list-item">List 组件 - 小节 1</li>
        <li class="list-item">List 组件 - 小节 1</li>
        <li class="list-divider list-divider-inset"></li>
        <li class="list-item">List 组件 - 小节 2</li>
        <li class="list-item">List 组件 - 小节 2</li>
        <li class="list-item">List 组件 - 小节 2</li>
      </ul>
    </section>

    <section class="component-list">
      <h3>inset detail</h3>
      <ul class="list">
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 小节 1
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 小节 1
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 小节 1
        </li>
        <li class="list-divider list-divider-inset-detail"></li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 小节 2
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 小节 2
        </li>
        <li class="list-item"><span class="list-item-start-detail grey-bg"></span>List 组件 - 小节 2
        </li>
      </ul>
    </section>

    <section class="component-list">
      <h3>inset 头像(avatar)</h3>
      <ul class="list">
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 小节 1</li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 小节 1</li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 小节 1</li>
        <li class="list-divider list-divider-inset-avatar"></li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 小节 2</li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 小节 2</li>
        <li class="list-item"><span class="list-item-avatar grey-bg"></span>List 组件 - 小节 2</li>
      </ul>
    </section>

  </section>

  <section>
    <h2>列表组</h2>
    <section class="component-list">
      <h3>只有文本</h3>
      <div class="list-group">
        <h3 class="list-group-header">列表 1</h3>
        <ul class="list">
          <li class="list-item">List 组件 - 列表 1</li>
          <li class="list-item">List 组件 - 列表 1</li>
          <li class="list-item">List 组件 - 列表 1</li>
        </ul>
        <hr class="list-divider"/>
        <h3 class="list-group-header">列表 2</h3>
        <ul class="list">
          <li class="list-item">List 组件 - 列表 2</li>
          <li class="list-item">List 组件 - 列表 2</li>
          <li class="list-item">List 组件 - 列表 2</li>
        </ul>
      </div>
    </section>

    <section class="component-list">
      <h3>头像 + 文本 + 行尾图标 列表组</h3>
      <div class="list-group">
        <h3 class="list-group-header">列表 1</h3>
        <ul class="list">
          <li class="list-item">
            <span class="list-item-avatar grey-bg"></span>
            <span class="list-item-text">
              List 组件 - 列表 1
              <span class="list-item-text-secondary">List 组件 - 次要内容</span>
            </span>
            <span class="list-item-end-detail grey-bg"></span>
          </li>
          <li class="list-item">
            <span class="list-item-avatar grey-bg"></span>
            <span class="list-item-text">
              List 组件 - 列表 1
              <span class="list-item-text-secondary">List 组件 - 次要内容</span>
            </span>
            <span class="list-item-end-detail grey-bg"></span>
          </li>
          <li class="list-item">
            <span class="list-item-avatar grey-bg"></span>
            <span class="list-item-text">
              List 组件 - 列表 1
              <span class="list-item-text-secondary">List 组件 - 次要内容</span>
            </span>
            <span class="list-item-end-detail grey-bg"></span>
          </li>
        </ul>
        <hr class="list-divider list-divider-inset"/>
        <h3 class="list-group-header">列表 2</h3>
        <ul class="list">
          <li class="list-item">
            <span class="list-item-avatar grey-bg"></span>
            <span class="list-item-text">
              List 组件 - 列表 2
              <span class="list-item-text-secondary">List 组件 - 次要内容</span>
            </span>
            <span class="list-item-end-detail grey-bg"></span>
          </li>
          <li class="list-item">
            <span class="list-item-avatar grey-bg"></span>
            <span class="list-item-text">
              List 组件 - 列表 2
              <span class="list-item-text-secondary">List 组件 - 次要内容</span>
            </span>
            <span class="list-item-end-detail grey-bg"></span>
          </li>
          <li class="list-item">
            <span class="list-item-avatar grey-bg"></span>
            <span class="list-item-text">
              List 组件 - 列表 2
              <span class="list-item-text-secondary">List 组件 - 次要内容</span>
            </span>
            <span class="list-item-end-detail grey-bg"></span>
          </li>
        </ul>
      </div>
    </section>

  </section>

  <section>
    <h2>自定义列表内容</h2>
    <section class="component-list">
      <div class="list list-border-inner">
        <a href="#" class="list-item list-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="m-y-1">放飞梦想</h4>
            <small>100 年</small>
          </div>
          <p class="m-y-2">发挥你的创意想象力，挥挥手，毫无保留的留下一切吧，让心爱你的人来见证伟大奇迹的出现吧。</p>
          <small>体验未来</small>
        </a>
        <a href="#" class="list-item list-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="m-y-1">放飞梦想</h4>
            <small>100 年</small>
          </div>
          <p class="m-y-2">发挥你的创意想象力，挥挥手，毫无保留的留下一切吧，让心爱你的人来见证伟大奇迹的出现吧。</p>
          <small>体验未来</small>
        </a>
        <a href="#" class="list-item list-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="m-y-1">放飞梦想</h4>
            <small>100 年</small>
          </div>
          <p class="m-y-2">发挥你的创意想象力，挥挥手，毫无保留的留下一切吧，让心爱你的人来见证伟大奇迹的出现吧。</p>
          <small>体验未来</small>
        </a>
      </div>
    </section>
  </section>
</div>



</body>
</html>
