// grid style
@import "../../responsive/mixin";
@import "mixin";

// 列布局对应的容器行
.row {
  @include make-row();
}

// 当采用列布局时，不需要设置间距时，可以加上改样式
// 用法： <div class="row no-gutters"> </div>
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// 列样式，包括响应式列布局
@include make-grid-columns();
