// toast 样式

@import "../../theme/mixin";
@import "../../animation/mixin";
@import "../../theme/variable";
@import "../../animation/variable";
@import "./variable";

.toast {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2001;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  //防止阻挡下面元素的操作
  opacity: 0;
  will-change: opacity; /* 动画性能优化 https://www.w3cplus.com/css3/introduction-css-will-change-property.html */
  pointer-events: none;

  @include animation-transition(opacity, $toast-transition-duration-leave, ease-out);

  .toast-content {
    max-width: 80%;
    padding: $toast-padding-y $toast-padding-x;
    border-radius: $toast-border-radius;
    color: $white;
    opacity: 0;

    @include animation-transition(opacity, $toast-transition-duration-leave, ease-out);
    @include theme-prop(background-color, primary-on-light);
  }

  &.enter {
    opacity: 1;
    transition-duration: $toast-transition-duration-enter;
    transition-timing-function: $animation-ease-in-out;

    .toast-content {
      opacity: 1;
      transition-duration: $toast-transition-duration-enter;
      transition-timing-function: $animation-ease-in-out;
    }
  }
}

