// Buttons variable
@import "../../base/variables/font";
@import "../../theme/variable";

$btn-height: 2.25rem;
$btn-min-width: 5rem !default;
$btn-padding-x: 1.25rem !default;
$btn-font-weight: 500 !default;

// 定义 button ripple 背景颜色透明度
$btn-unfilled-ripple-opacity: .16;
$btn-filled-ripple-opacity: .32;

// btn 大小
$btn-height-lg: 2.5rem;
$btn-font-size-lg: $font-size-lg;

$btn-height-sm: 2rem;
$btn-font-size-sm: $font-size-sm;

// disabled 状态
$btn-bg-disabled: map-get($greys, 300) !default;

$btn-group-margin-x: .5rem !default;

// 是否开启定制主题，包括主颜色和辅助颜色，默认开启，需要的话可关闭
$enable-custom-theme-for-btn: true !default;
