// display

$display1-size: 3.5rem !default;
$display2-size: 4.5rem !default;
$display3-size: 5.5rem !default;
$display4-size: 6.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: 1.1 !default;
