// header

$headings-font-family: inherit !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

//对应 h1 到 h6 字体大小
$font-size-h1: 2.5rem !default; // 40px
$font-size-h2: 2rem !default; // 32px
$font-size-h3: 1.75rem !default; // 28px
$font-size-h4: 1.5rem !default; // 24px
$font-size-h5: 1.125rem !default; // 20px
$font-size-h6: 1rem !default; // 16px
