// checkbox 变量

$checkbox-outline-size: 40px !default; // checkbox 轮廓大小
$checkbox-size: 18px !default;
// checkbox 渲染百分比
$checkbox-pct: percentage($checkbox-size / $checkbox-outline-size) !default;
// 动画持续时间
$checkbox-transition-duration: 120ms !default;
