//
// 对排版元素 list 简单处理
//

.li-unstyled {
  list-style: none;
}

// 行内列表
.li-inline {
  list-style: none;
}
.li-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $li-inline-padding;
  }
}
