<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="CSS3 Perfect">
<meta name="description"
      content="Perfect is a popular CSS framework based on the modern browser. It can bring you perfect experience and the newest css technology. It is a CSS framework in the future.">
<meta name="author" content="Linder Wang">
<title>
  Border 边框和圆角 &middot; Perfect
</title>
<link rel="apple-touch-icon" href="/favicon.png">
<link rel="icon" href="/favicon.ico">
<link href="/assets/css/perfect.css" rel="stylesheet">
<link href="/assets/css/components.css" rel="stylesheet">
  </head>
  <body>
    <header id="perfect_header" class="navbar navbar-top navbar-expand navbar-primary flex-column flex-sm-row">
  <div class="drawer-toggle drawer-permanent-toggle" id="toggleDrawer">
    <i class="icon-pure-menu"></i>
  </div>
  <a class="navbar-brand m-r-0 m-r-sm-2" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="46.581421" viewBox="0 0 217.9 156.29">
      <defs>
        <style>.cls-1, .cls-2, .cls-4 { fill: none; stroke: #fff; stroke-linecap: round; }
        .cls-1 { stroke-miterlimit: 10; }
        .cls-1, .cls-2 { stroke-width: 20px; }
        .cls-2, .cls-4 { stroke-linejoin: round; }
        .cls-3 { fill: #fff; }
        .cls-4 { stroke-width: 3px; }</style>
      </defs>
      <title>Perfect</title>
      <g>
        <g>
          <path class="cls-1" d="M10,10h95.86a45.87,45.87,0,1,1,0,91.74h-58"/>
          <polyline class="cls-2" points="77.52 56.94 10 56.94 10 145.14"/>
          <circle class="cls-3" cx="106.43" cy="57.02" r="10.25"/>
          <path class="cls-4" d="M64.18,154.29v-26.9h18.5a8.09,8.09,0,1,1,0,16.17H73"/>
          <line class="cls-4" x1="80.36" y1="143.65" x2="91.51" y2="154.79"/>
          <line class="cls-4" x1="203.5" y1="154.23" x2="203.5" y2="127.83"/>
          <line class="cls-4" x1="190.62" y1="127.45" x2="216.4" y2="127.45"/>
          <path class="cls-4" d="M186.3,133.21a13.24,13.24,0,1,0-.08,15.38"/>
          <polyline class="cls-4" points="53.11 153.79 30.79 153.79 30.79 127.89 53.11 127.89"/>
          <line class="cls-4" x1="30.79" y1="140.84" x2="52.99" y2="140.84"/>
          <polyline class="cls-4" points="155.55 153.79 133.23 153.79 133.23 127.89 155.55 127.89"/>
          <line class="cls-4" x1="133.23" y1="140.84" x2="155.43" y2="140.84"/>
          <polyline class="cls-4" points="101.86 153.79 101.86 127.89 124.18 127.89"/>
          <line class="cls-4" x1="101.86" y1="140.84" x2="124.06" y2="140.84"/>
        </g>
      </g>
    </svg>
  </a>
  <div class="navbar-scroll">
    <ul class="navbar-nav">
      <li>
        <a class="ripple ripple-primary nav-link " href="/">首页</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link " href="/docs/perfect-tour/getting-started/">文档</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link active" href="/components/">组件</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link " href="/examples/">例子</a>
      </li>
      <li>
        <a class="ripple ripple-primary nav-link " href="/device-view/">设备</a>
      </li>
    </ul>
  </div>
</header>
<script>
  (function () {
    const navLinks = document.querySelectorAll('#perfect_header .nav-link');
    for (let i = 0, len = navLinks.length; i < len; i++) {
      navLinks[i].addEventListener('click', function () {
        // 切换时，删除左侧菜单 nav-menus-translateY 值
        window.sessionStorage.removeItem('nav-menus-translateY');
      }, false);
    }
  })();
</script>
    <script src="/assets/js/perfect.js"></script>
    <aside id="drawer" class="drawer drawer-permanent navbar-top-adjust">
      <nav class="drawer-nav">
        <nav class="drawer-content">
<ul class="menu perfect-menu">
  <li class="menu-item">
    <a href="/components/theme/classes/" 
       class="menu-title menu-header " style="padding-left: 1rem;">theme 主题</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/theme/classes/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">主题 Classes</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/base/animation/" 
       class="menu-title menu-header " style="padding-left: 1rem;">基础</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/base/animation/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Animation 动画</a></li>
      <li class="menu-item">
        <a href="/components/base/ripple/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Ripple 波纹效果</a></li>
      <li class="menu-item">
        <a href="/components/base/shadow/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Shadow 阴影效果</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/typography/typography/" 
       class="menu-title menu-header " style="padding-left: 1rem;">Typography 排版</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/typography/typography/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Typography 排版</a></li>
      <li class="menu-item">
        <a href="/components/typography/code/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Code 代码</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/layout/box/" 
       class="menu-title menu-header " style="padding-left: 1rem;">Layout 布局</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/layout/box/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Box 盒子布局</a></li>
      <li class="menu-item">
        <a href="/components/layout/drawer/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Drawer 抽屉布局</a></li>
      <li class="menu-item">
        <a href="/components/layout/grid/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Grid 栅格</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/forms/input/" 
       class="menu-title menu-header " style="padding-left: 1rem;">表单组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/forms/input/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Input 输入框</a></li>
      <li class="menu-item">
        <a href="/components/forms/select/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Select 下拉选择框</a></li>
      <li class="menu-item">
        <a href="/components/forms/dropdown/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">DropDown 下拉菜单</a></li>
      <li class="menu-item">
        <a href="/components/forms/radio/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Radio 单选框</a></li>
      <li class="menu-item">
        <a href="/components/forms/checkbox/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Checkbox 复选框</a></li>
      <li class="menu-item">
        <a href="/components/forms/upload/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Upload 上传文件</a></li>
      <li class="menu-item">
        <a href="/components/forms/switch/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Switch 开关</a></li>
      <li class="menu-item">
        <a href="/components/forms/slider/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Slider 滑块</a></li>
      <li class="menu-item">
        <a href="/components/forms/button/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Button 按钮</a></li>
      <li class="menu-item">
        <a href="/components/forms/form-field/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Form Field 表单域</a></li>
      <li class="menu-item">
        <a href="/components/forms/forms/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Form 综合</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/elements/list/" 
       class="menu-title menu-header " style="padding-left: 1rem;">元素组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/elements/list/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">List 列表</a></li>
      <li class="menu-item">
        <a href="/components/elements/menu/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Menu 菜单</a></li>
      <li class="menu-item">
        <a href="/components/elements/list-menu/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">List Menu 列表菜单</a></li>
      <li class="menu-item">
        <a href="/components/elements/tree/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tree 树形组件</a></li>
      <li class="menu-item">
        <a href="/components/elements/paging/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Paging 分页</a></li>
      <li class="menu-item">
        <a href="/components/elements/loading/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Loading 加载</a></li>
      <li class="menu-item">
        <a href="/components/elements/toast/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Toast 吐司提示</a></li>
      <li class="menu-item">
        <a href="/components/elements/tooltip/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tooltip 提示</a></li>
      <li class="menu-item">
        <a href="/components/elements/image/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Image 图像</a></li>
      <li class="menu-item">
        <a href="/components/elements/callout/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Callout 引线式标注</a></li>
      <li class="menu-item">
        <a href="/components/elements/progress/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Progress 进度条</a></li>
      <li class="menu-item">
        <a href="/components/elements/tag/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tag 标签</a></li>
      <li class="menu-item">
        <a href="/components/elements/badge/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Badge 角标</a></li>
      <li class="menu-item">
        <a href="/components/elements/back-top/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Back Top 返回顶部</a></li>
      <li class="menu-item">
        <a href="/components/elements/date-picker/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Date Picker 日期选择器</a></li>
      <li class="menu-item">
        <a href="/components/elements/color-picker/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Color Picker 颜色选择器</a></li>
      <li class="menu-item">
        <a href="/components/elements/timeline/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Timeline 时间轴</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/navigation/crumb/" 
       class="menu-title menu-header " style="padding-left: 1rem;">导航组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/navigation/crumb/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Crumb 面包屑</a></li>
      <li class="menu-item">
        <a href="/components/navigation/navbar/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Navbar 导航栏</a></li>
      <li class="menu-item">
        <a href="/components/navigation/steps/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Steps 步骤条</a></li>
      <li class="menu-item">
        <a href="/components/navigation/tabs/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Tabs 标签页</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/container/table/" 
       class="menu-title menu-header " style="padding-left: 1rem;">容器组件</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/container/table/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Table 表格</a></li>
      <li class="menu-item">
        <a href="/components/container/card/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Card 卡片</a></li>
      <li class="menu-item">
        <a href="/components/container/dialog/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Dialog 对话框</a></li>
      <li class="menu-item">
        <a href="/components/container/accordion/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Accordion 手风琴</a></li>
      <li class="menu-item">
        <a href="/components/container/carousel/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Carousel 轮播图</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/utils/align/" 
       class="menu-title menu-header active" style="padding-left: 1rem;">工具样式</a>
    <ul class="menu" >
      <li class="menu-item">
        <a href="/components/utils/align/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Align 文本对齐方式</a></li>
      <li class="menu-item">
        <a href="/components/utils/border/"
           class="menu-title menu-sub-title active" style="padding-left: 2rem;">Border 边框和圆角</a></li>
      <li class="menu-item">
        <a href="/components/utils/flex/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Flex 弹性布局</a></li>
      <li class="menu-item">
        <a href="/components/utils/sizing/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Sizing 元素大小</a></li>
      <li class="menu-item">
        <a href="/components/utils/spacing/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Spacing 间距</a></li>
      <li class="menu-item">
        <a href="/components/utils/text/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">Text 文本修饰</a></li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="/components/icons/icon-pure-css/" 
       class="menu-title menu-header " style="padding-left: 1rem;">图标</a>
    <ul class="menu"  style="display: none;" >
      <li class="menu-item">
        <a href="/components/icons/icon-pure-css/"
           class="menu-title menu-sub-title" style="padding-left: 2rem;">纯 CSS 图标</a></li>
    </ul>
  </li>
</ul>
<script>
  (function () {
    // 菜单超过一屏可以滚动查看
    const drawerContent = document.querySelector('.drawer-content');
    const perfectMenu = document.querySelector('.drawer-content > .perfect-menu');
    // 页面进入时，设置上次的 translateY
    const translateY = window.sessionStorage.getItem('nav-menus-translateY');
    if (translateY) {
      perfectMenu.style.transform = `translateY(${translateY}px)`;
    }
    perfectMenu.addEventListener('transitionend', function () {
      perfectMenu.style.transition = 'unset';
    });
    const menu = document.querySelector('.menu');
    menu.addEventListener('click', function (e) {
      const target = e.target;
      if (target.classList.contains('menu-header')) {
        e.preventDefault();
        const next = target.nextElementSibling;
        // 隐藏其他打开的菜单
        [].forEach.call(document.querySelectorAll('.menu .menu'), function (item) {
          if (item !== next) {
            item.style.display = 'none';
          }
        });
        // TODO 待修改成动画
        if (next.style.display === 'none') {
          next.style.display = '';
          setTimeout(function() {
            const menuPanelTop = drawerContent.getBoundingClientRect().top;
            const menuTop = perfectMenu.getBoundingClientRect().top;
            const currentElTop = target.getBoundingClientRect().top;
            if (currentElTop < menuPanelTop) {
              perfectMenu.style.transform = `translateY(${menuTop - currentElTop}px)`;
              perfectMenu.style.transition = 'transform 200ms ease-in-out';
            }
          });
        } else {
          next.style.display = 'none';
        }
      }
    }, false);
    const isWheel = (() => {
      const ua = navigator.userAgent;
      if (/gecko/i.test(ua) && !(/webkit/i.test(ua)) && (/firefox/i.test(ua))) { // Firefox
        return false;
      }
      return true;
    })();
    const reg = /translateY\(([-\w]+)\)/;
    // Fixme 需要处理触摸滚动限制回弹效果
    drawerContent.addEventListener(isWheel ? 'mousewheel' : 'DOMMouseScroll', function (event) {
      const {scrollHeight, clientHeight} = drawerContent;
      const maxOffset = scrollHeight - clientHeight; // 最大滚动的高度
      // 判断鼠标滑轮向上还是向下滑动
      let upDown;
      const {detail, wheelDelta} = event;
      if (detail) {
        if (detail < 0) { // up
          upDown = 'up';
        } else if (detail > 0) { // down
          upDown = 'down';
        }
      } else if (wheelDelta) { //
        if (wheelDelta > 0) { // up
          upDown = 'up';
        }
        if (wheelDelta < 0) { // down
          upDown = 'down';
        }
      }
      const speed = Math.abs(detail || wheelDelta);
      // 在 mac 系统下 如果 (speed % 120) === 0 是鼠标滑动，否则是触摸滑动
      const step = (speed % 120) === 0 ? 0.2 * speed : 5;
      const {transform} = perfectMenu.style;
      let y = reg.exec(transform);
      y = y ? parseFloat(y[1], 10) : 0;
      if ((upDown === 'up' && y === 0) || (upDown === 'down' && Math.abs(y) === maxOffset)) {
        return;
      }
      if (maxOffset > 0) {
        event.preventDefault();
        event.stopPropagation();
      }
      let translateY;
      if (upDown === 'up' && y < 0) {
        translateY = Math.min(y + step, 0);
      } else if (upDown === 'down' && Math.abs(y) < maxOffset) {
        translateY = Math.max(y - step, -maxOffset);
      }
      window.sessionStorage.setItem('nav-menus-translateY', translateY);
      perfectMenu.style.transform = `translateY(${translateY}px)`;
    }, false);
  })();
</script>
        </nav>
      </nav>
    </aside>
    <main class="drawer-main">
      <section class="component-wrap catalogue-counter">
        <h2>
<div class="anchor-header" id="anchor-1"></div>边框<a class="anchor-link" href="#anchor-1">#</a>
</h2>
<section class="component-container component-vertical-spacing">
  <div class="border-panel">
    <div class="border">.border</div>
    <div class="border-top">.border-top</div>
    <div class="border-bottom">.border-bottom</div>
    <div class="border-left">.border-left</div>
    <div class="border-right">.border-right</div>
  </div>
  <div class="border-panel border-panel-0">
    <div class="border-0">.border-0</div>
    <div class="border-top-0">.border-top-0</div>
    <div class="border-bottom-0">.border-bottom-0</div>
    <div class="border-left-0">.border-left-0</div>
    <div class="border-right-0">.border-right-0</div>
  </div>
</section>
<h2>
<div class="anchor-header" id="anchor-2"></div>各种主题边框颜色<a class="anchor-link" href="#anchor-2">#</a>
</h2>
<h3>
<div class="anchor-header" id="anchor-2-1"></div>主题颜色-主颜色<a class="anchor-link" href="#anchor-2-1">#</a>
</h3>
<section class="component-container">
  <div class="border-panel">
    <div class="border border-primary">.border-primary</div>
    <div class="border border-primary-light">.border-primary-light</div>
    <div class="border border-primary-lighter">.border-primary-lighter</div>
    <div class="border border-primary-lightest">.border-primary-lightest</div>
    <div class="border border-primary-dark">.border-primary-dark</div>
    <div class="border border-primary-darker">.border-primary-darker</div>
    <div class="border border-primary-darkest">.border-primary-darkest</div>
    <div class="border border-primary-alpha">.border-primary-alpha</div>
  </div>
</section>
<h3>
<div class="anchor-header" id="anchor-2-2"></div>主题颜色-次颜色<a class="anchor-link" href="#anchor-2-2">#</a>
</h3>
<section class="component-container">
  <div class="border-panel">
    <div class="border border-secondary">.border-secondary</div>
    <div class="border border-secondary-light">.border-secondary-light</div>
    <div class="border border-secondary-lighter">.border-secondary-lighter</div>
    <div class="border border-secondary-lightest">.border-secondary-lightest</div>
    <div class="border border-secondary-dark">.border-secondary-dark</div>
    <div class="border border-secondary-darker">.border-secondary-darker</div>
    <div class="border border-secondary-darkest">.border-secondary-darkest</div>
    <div class="border border-secondary-alpha">.border-secondary-alpha</div>
  </div>
</section>
<h3>
<div class="anchor-header" id="anchor-2-3"></div>辅助颜色-success颜色<a class="anchor-link" href="#anchor-2-3">#</a>
</h3>
<section class="component-container">
  <div class="border-panel">
    <div class="border border-success">.border-success</div>
    <div class="border border-success-light">.border-success-light</div>
    <div class="border border-success-lighter">.border-success-lighter</div>
    <div class="border border-success-dark">.border-success-dark</div>
    <div class="border border-success-alpha">.border-success-alpha</div>
  </div>
</section>
<h3>
<div class="anchor-header" id="anchor-2-4"></div>辅助颜色-info颜色<a class="anchor-link" href="#anchor-2-4">#</a>
</h3>
<section class="component-container">
  <div class="border-panel">
    <div class="border border-info">.border-info</div>
    <div class="border border-info-light">.border-info-light</div>
    <div class="border border-info-lighter">.border-info-lighter</div>
    <div class="border border-info-dark">.border-info-dark</div>
    <div class="border border-info-alpha">.border-info-alpha</div>
  </div>
</section>
<h3>
<div class="anchor-header" id="anchor-2-5"></div>辅助颜色-warning颜色<a class="anchor-link" href="#anchor-2-5">#</a>
</h3>
<section class="component-container">
  <div class="border-panel">
    <div class="border border-warning">.border-warning</div>
    <div class="border border-warning-light">.border-warning-light</div>
    <div class="border border-warning-lighter">.border-warning-lighter</div>
    <div class="border border-warning-dark">.border-warning-dark</div>
    <div class="border border-warning-alpha">.border-warning-alpha</div>
  </div>
</section>
<h3>
<div class="anchor-header" id="anchor-2-6"></div>辅助颜色-error颜色<a class="anchor-link" href="#anchor-2-6">#</a>
</h3>
<section class="component-container">
  <div class="border-panel">
    <div class="border border-error">.border-error</div>
    <div class="border border-error-light">.border-error-light</div>
    <div class="border border-error-lighter">.border-error-lighter</div>
    <div class="border border-error-dark">.border-error-dark</div>
    <div class="border border-error-alpha">.border-error-alpha</div>
  </div>
</section>
<h2>
<div class="anchor-header" id="anchor-3"></div>圆角<a class="anchor-link" href="#anchor-3">#</a>
</h2>
<section class="component-container component-vertical-spacing">
  <div class="border-panel">
    <div class="radius">.radius</div>
    <div class="radius-top">.radius-top</div>
    <div class="radius-bottom">.radius-bottom</div>
    <div class="radius-left">.radius-left</div>
    <div class="radius-right">.radius-right</div>
    <div class="radius-circle">.radius-circle</div>
    <div class="radius-0">.radius-0</div>
  </div>
  <div class="border-panel">
    <div class="radius-sm">.radius-sm</div>
    <div class="radius-top-sm">.radius-top-sm</div>
    <div class="radius-bottom-sm">.radius-bottom-sm</div>
    <div class="radius-left-sm">.radius-left-sm</div>
    <div class="radius-right-sm">.radius-right-sm</div>
  </div>
  <div class="border-panel">
    <div class="radius-lg">.radius-lg</div>
    <div class="radius-top-lg">.radius-top-lg</div>
    <div class="radius-bottom-lg">.radius-bottom-lg</div>
    <div class="radius-left-lg">.radius-left-lg</div>
    <div class="radius-right-lg">.radius-right-lg</div>
  </div>
</section>
      </section>
    </main>
    <script>
  (function () {
    const drawer = document.getElementById('drawer');
    const toggleDrawer = document.getElementById('toggleDrawer');
    drawer.addEventListener('transitionend', () => {
      drawer.classList.remove('drawer-animating');
    }, false);
    toggleDrawer.addEventListener('click', () => {
      const clientWidth = document.documentElement.clientWidth;
      if (clientWidth < 1200) {
        drawer.classList.toggle('drawer-open');
        document.body.classList.toggle('drawer-scroll-lock');
        drawer.classList.add('drawer-animating');
        drawer.classList.remove('drawer-close');
      } else {
        // 当超过1440px 时，利用该样式，隐藏显示处理
        drawer.classList.toggle('drawer-close');
        drawer.classList.add('drawer-animating');
        drawer.classList.remove('drawer-open');
      }
    }, false);
    drawer.addEventListener('click', () => {
      drawer.classList.remove('drawer-open');
      document.body.classList.remove('drawer-scroll-lock');
      drawer.classList.add('drawer-animating');
    }, false);
    document.querySelector('.drawer-content').addEventListener('click', (e) => {
      e.stopPropagation();
    }, false);
  })();
</script>
    <script>
  (function () {
    // 定时切换主题，TODO 为了调试方便，暂先改为10秒，等上线前改为 1分钟
    const themes = ['theme-red', 'theme-pink', 'theme-purple', 'theme-deep-purple',
      'theme-indigo', 'theme-blue', 'theme-light-blue', 'theme-cyan', 'theme-teal',
      'theme-green', 'theme-light-green', 'theme-lime', 'theme-amber',
      'theme-orange', 'theme-deep-orange', 'theme-brown', 'theme-grey', 'theme-blue-grey'];
    let lastTheme = '';
    // setInterval(function () {
    //   const r = Math.floor(Math.random() * 16);
    //   const classList = document.body.classList;
    //   if (classList.length > 0 && lastTheme) {
    //     classList.remove(lastTheme);
    //   }
    //   classList.add(themes[r]);
    //   lastTheme = themes[r];
    // }, 10000);
  })();
</script>
  </body>
</html>
