// 定义主题相关 function
@import "../base/functions/math/pow";
@import "../base/functions/rgba-to-rgb";

// sass 中只能精确到 15 位，即 precision 最大为15

// 颜色色彩系数
// 例如 coefficient(0) => 0   coefficient(1) => .000303526983549
// coefficient(2) => .000607053967098  coefficient(3) => .000910580950647
// 如果不用第三方 pow 函数求解，也可以使用提前用 JavaScript 计算好的数组
// 比如 $mdc-theme-linear-channel-values: 0 .0003035269835488375 .000607053967097675 .0009105809506465125;
// 注意 sass 中的数组下标是从 1 开始
@function coefficient($rgb) {
  $rgb: $rgb / 255;
  @return if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));
}

// 计算色彩的相对亮度
// 遵循 WCAG 2.0 规范 https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
// https://www.w3.org/Translations/WCAG20-zh/  页面中查找 相对亮度
// 颜色分为 R G B 三基色, 值从 0 到 255
// 对于sRGB色彩空间，色彩的相对亮度是指定义 L = 0.2126 * R + 0.7152 * G + 0.0722 * B，其中R，G和B的定义为
//  function f($color) {
//   $color = $color / 255;
//   return $color < 0.03928 ? $color / 12.92 : Math.pow(($color + 0.055) / 1.055, 2.4);
// }
// 该定义已封装为函数 coefficient
@function theme-luminance($color) {
  // 注意这里不需要加 1
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $r: coefficient($red);
  $g: coefficient($green);
  $b: coefficient($blue);
  @return .2126 * $r + .7152 * $g + .0722 * $b;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
@function theme-contrast-ratio($back, $front) {
  $back-luminance: theme-luminance($back) + .05;
  $fore-luminance: theme-luminance($front) + .05;
  // 明亮度最大除以最小得多对比度
  @return max($back-luminance, $fore-luminance) / min($back-luminance, $fore-luminance);
}

// 根据给定的颜色来判断色调是浅色还是深色
@function theme-tone($color) {
  //$alpha: alpha($color);
  //// 如果是透明色，需要先转换为对应的不透明色
  //@if ($alpha < 1) {
  //  $color: rgba-to-rgb($color, $background: rgb(red($color), green($color), blue($color)));
  //}
  // 最小对比度设为 3.1
  $minimum-contrast: 3.1;
  $light-contrast: theme-contrast-ratio($color, #fff);
  $dark-contrast: theme-contrast-ratio($color, rgba(#000, .87));

  // 当给定颜色与白色的对比度小于 3.1时，并且给定颜色与黑色的对比度大于给定颜色与白色的对比度时，
  // 返回 dark，否则 light

  @if ($light-contrast < $minimum-contrast) and ($dark-contrast > $light-contrast) {
    @return "light";
  } @else {
    @return "dark";
  }
}

// 颜色的对比色调，即深颜色对应的对比色调为浅颜色
// 如果$color是浅色，则返回深色 dark，否则为浅色 light
@function theme-contrast-tone($color) {
  @return if(theme-tone($color) == "dark", "light", "dark");
}

// 根据 $theme-contrast-tone-property-values 中的 key 计算对应的 CSS 变量名
// 比如 primary-on-primary 对应的变量名为 --theme-#{$theme-primary-contrast-tone}-primary
// --theme-light-primary
@function theme-contrast-tone-var($theme-contrast-tone-property) {
  $on-index: str-index($theme-contrast-tone-property, "-on-");
  $on-prev-str: str-slice($theme-contrast-tone-property, 0, $on-index - 1);
  $on-next-str: str-slice($theme-contrast-tone-property, $on-index + 4);
  $contrast-tone: null;

  // 这里 scss 不支持形如 js 取变量的方式，故需要处理多个判断
  @if ($on-next-str == "light") {
    $contrast-tone: dark;
  } @else if ($on-next-str == "dark") {
    $contrast-tone: light;
  } @else if ($on-next-str == "primary") {
    $contrast-tone: $theme-primary-contrast-tone;
  } @else if ($on-next-str == "primary-light") {
    $contrast-tone: $theme-primary-light-contrast-tone;
  } @else if ($on-next-str == "primary-lighter") {
    $contrast-tone: $theme-primary-lighter-contrast-tone;
  } @else if ($on-next-str == "primary-lightest") {
    $contrast-tone: $theme-primary-lightest-contrast-tone;
  } @else if ($on-next-str == "primary-dark") {
    $contrast-tone: $theme-primary-dark-contrast-tone;
  } @else if ($on-next-str == "primary-darker") {
    $contrast-tone: $theme-primary-darker-contrast-tone;
  } @else if ($on-next-str == "primary-darkest") {
    $contrast-tone: $theme-primary-darkest-contrast-tone;
  } @else if ($on-next-str == "secondary") {
    $contrast-tone: $theme-secondary-contrast-tone;
  } @else if ($on-next-str == "secondary-light") {
    $contrast-tone: $theme-secondary-light-contrast-tone;
  } @else if ($on-next-str == "secondary-lighter") {
    $contrast-tone: $theme-secondary-lighter-contrast-tone;
  } @else if ($on-next-str == "secondary-lightest") {
    $contrast-tone: $theme-secondary-lightest-contrast-tone;
  } @else if ($on-next-str == "secondary-dark") {
    $contrast-tone: $theme-secondary-dark-contrast-tone;
  } @else if ($on-next-str == "secondary-darker") {
    $contrast-tone: $theme-secondary-darker-contrast-tone;
  } @else if ($on-next-str == "secondary-darkest") {
    $contrast-tone: $theme-secondary-darkest-contrast-tone;
  } @else if ($on-next-str == "background") {
    $contrast-tone: $theme-background-contrast-tone;
  }

  @return #{$contrast-tone}-#{$on-prev-str};
}

