// theme mixin
@import "./variable";
@import "./function";

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

// 给属性 $property 设置颜色 $style 值
// 属性 $property 一般用在 color background-color border-color 等，也可用在任何可以设置颜色值的属性上
// $style 应该是 $theme-property-values 中某个 key
// 该 mixin 主要用来设置主题颜色值，并且设置了主题 css 变量值
// 用户通过修改 css 变量值可以动态的修改整个主题值，比如在 body 上修改 css 变量值
@mixin theme-color-prop($property, $style, $important) {
  @if $important {
    #{$property}: map-get($theme-property-values, $style) !important;
    #{$property}: var(--theme-#{$style}, map-get($theme-property-values, $style)) !important;
  } @else {
    #{$property}: map-get($theme-property-values, $style);
    #{$property}: var(--theme-#{$style}, map-get($theme-property-values, $style));
  }
}

// 用来设置主题色对应的对比色调值，浅色还是深色
// $style 应该是 $theme-tone-property-values 中某个 key
// 该 mixin 除了设置了对比色调值，还设置了对应的 css 变量值
@mixin theme-tone-prop($property, $style, $important) {
  // 根据 $style 返回变量，主要是 light 或 dark 变量
  $theme-var: theme-tone-var($style);
  @if $important {
    #{$property}: map-get($theme-tone-property-values, $style) !important;
    #{$property}: var(--theme-#{$theme-var}, map-get($theme-tone-property-values, $style)) !important;
  } @else {
    #{$property}: map-get($theme-tone-property-values, $style);
    #{$property}: var(--theme-#{$theme-var}, map-get($theme-tone-property-values, $style));
  }
}

// 糅合 theme-color-prop 和 theme-tone-prop
// 如果 $style 是颜色值，则直接设置颜色
@mixin theme-prop($property, $style, $important: false) {
  @if type-of($style) == "color" {
    @if $important {
      #{$property}: $style !important;
    } @else {
      #{$property}: $style;
    }
  } @else {
    $color: map-get($theme-property-values, $style);
    @if ($color) {
      @include theme-color-prop($property, $style, $important);
    } @else {
      $color: map-get($theme-tone-property-values, $style);
      @if ($color) {
        @include theme-tone-prop($property, $style, $important);
      } @else {
        @error "无效的主题属性值，#{$style} 必须是以下的某一 key #{map-keys($theme-property-values)}, #{map-keys($theme-tone-property-values)}";
      }
    }
  }
}

// 通过设置前后景来定制主题，该 mixin 只处理简单的 color 和 background-color ，对于更复制的需要组件单独定义
// $style 指 $theme-property-values 或 $theme-assist-colors 中属性值
// $fore true 指前景，false 指背景，默认 true
@mixin theme($style, $fore: true) {
  $themes: $theme-property-values;
  $themes: map-merge($theme-assist-colors, $themes);
  $color: map-get($themes, $style);

  @if ($color == null) {
    @error "无效的主题属性值，#{$style} 必须是以下的某一 key #{map-keys($theme-property-values)}, #{map-keys($theme-assist-colors)}";
  }

  // 色调，判断是深色还是浅色
  $tone: theme-light-or-dark($color);

  @if ($fore) {
    color: $color;
    color: var(--theme-#{$style}, $color);
    background-color: map-get($theme-tone-property-values, primary-on-#{$tone});
    background-color: var(--theme-#{$style}, map-get($theme-tone-property-values, primary-on-#{$tone}));
  } @else {
    color: map-get($theme-tone-property-values, primary-on-#{$tone});
    color: var(--theme-#{$style}, map-get($theme-tone-property-values, primary-on-#{$tone}));
    background-color: $color;
    background-color: var(--theme-#{$style}, $color);
  }
}

// 设置辅助颜色 mixin
// 根据给定的 $style ($theme-assist-colors 中的 key) 和 $opacity 设置颜色
@mixin theme-assist($property, $style, $opacity: 1) {
  @if type-of($style) == "color" {
    #{$property}: $style;
  } @else {
    $color: map-get($theme-assist-colors, $style);

    @if ($property == "backgroud-color" and $opacity != 1) {
      // 变量 --theme-#{$style} 在 theme.scss 中定义
      $css-var: var(--theme-#{$style}, $color);
      background-color: rgba($color, $opacity);

      // 可以动态的设置颜色透明度，属于 CSS 4 color 范畴，目前浏览器支持的不是很好
      // 可以用 rgba 来代替，但只能静态设置，不可以随着颜色和透明度的变化动态设置
      // https://drafts.csswg.org/css-color/#modifying-colors
      @supports (background-color: color(green a(10%))) {
        background-color: color(#{$css-var} a(#{percentage($opacity)}));
      }
    } @else {
      // 也可以使用 alpha($color); 区别是 function alpha 也可以处理 the proprietary Microsoft `alpha(opacity=20)
      // 而 function opacity 只支持颜色值，如果不是颜色值则报错
      $alpha: opacity($color);
      @if ($alpha != 1) {
        #{$property}: $color;
      } @else {
        #{$property}: rgba($color, $opacity);
      }
    }

    // 因为不支持以下写法，所以只处理 $opacity == 1 的情况
    // #{$property}: rgba(var(--theme-#{$style}, $color), $opacity);
    @if ($opacity == 1) {
      #{$property}: var(--theme-#{$style}, $color);
    }
  }
}

// 设置主题对应的背景和前景颜色 class
// 如果 $tone 设为 true，则会给出对应的前景或背景对比颜色色调值（深色或浅色），
// 这样可以突出对比度，方便阅读，在需要的地方可以调用该 mixin ，并且参数 $tone 设为 true 即可
@mixin theme-classes($tone: false) {

  // 设置 primary 和 secondary 以及浅色和深色背景颜色值
  // .theme-primary-bg {background-color: #2196f3; background-color: var(--theme-primary, #2196f3);}
  @each $style in map-keys($theme-property-values) {
    @if $style == "background" {
      // 背景色，用在背景上
      // .theme-background {background-color: #fff; background-color: var(--theme-background, #fff);}
      .theme-background {
        @include theme-prop(background-color, background, true);
        @if ($tone) {
          @include theme-prop(color, primary-on-background, true);
        }
      }
    } @else {
      .theme-#{$style}-bg {
        @include theme-prop(background-color, $style, true);
        @if ($tone) {
          @include theme-prop(color, primary-on-#{$style}, true);
        }
      }
    }
  }

  // 通过添加该样式值，改变文本主题前景颜色值，对于主题色调($theme-tone-property-values)，不单独设置
  // .theme-primary {color: #2196f3; color: var(--theme-primary, #2196f3);}
  @each $style in map-keys($theme-property-values) {
    @if $style != "background" {
      .theme-#{$style} {
        @include theme-prop(color, $style, true);
        @if ($tone) {
          @include theme-prop(background-color, primary-on-#{$style}, true);
        }
      }
    }
  }
}

// 设置辅助颜色对应的背景和前景颜色 class
// 如果 $tone 设为 true，则会给出对应的前景或背景对比颜色色调值（深色或浅色），
// 这样可以突出对比度，方便阅读，在需要的地方可以调用该 mixin ，并且参数 $tone 设为 true 即可
@mixin theme-assist-classes($tone: false) {
  // 辅助颜色背景色
  // .theme-success-bg {background-color: #4caf50; background-color: var(--theme-success, #4caf50);}
  @each $theme, $color in $theme-assist-colors {
    .theme-#{$theme}-bg {
      background-color: $color !important;
      background-color: var(--theme-#{$theme}, $color) !important;
      @if ($tone) {
        $light-or-dark: theme-light-or-dark($color);
        $tone-color: map-get(map-get($theme-text-colors, $light-or-dark), primary);
        color: $tone-color !important;
      }
    }
  }

  // 辅助颜色前景色
  // .theme-success {color: #4caf50; color: var(--theme-success, #4caf50);}
  @each $theme, $color in $theme-assist-colors {
    .theme-#{$theme} {
      color: $color !important;
      color: var(--theme-#{$theme}, $color) !important;
      @if ($tone) {
        $light-or-dark: theme-light-or-dark($color);
        $tone-color: map-get(map-get($theme-text-colors, $light-or-dark), primary);
        background-color: $tone-color !important;
      }
    }
  }
}

// 设置灰度颜色对应的背景和前景颜色 class
// 如果 $tone 设为 true，则会给出对应的前景或背景对比颜色色调值（深色或浅色），
// 这样可以突出对比度，方便阅读，在需要的地方可以调用该 mixin ，并且参数 $tone 设为 true 即可
@mixin theme-grey-classes($tone: false) {
  // 灰度颜色前景-背景颜色值
  @each $theme, $color in $greys {
    .theme-grey-#{$theme} {
      color: $color !important;
      @if ($tone) {
        $light-or-dark: theme-light-or-dark($color);
        $tone-color: map-get(map-get($theme-text-colors, $light-or-dark), primary);
        background-color: $tone-color !important;
      }
    }
    .theme-grey-bg-#{$theme} {
      background-color: $color !important;
      @if ($tone) {
        $light-or-dark: theme-light-or-dark($color);
        $tone-color: map-get(map-get($theme-text-colors, $light-or-dark), primary);
        color: $tone-color !important;
      }
    }
  }
}
