// 自定义主题颜色
@import "../base/variables/options";
@import "./function";

// 主题颜色，换肤一般改变这三个基本颜色即可
// 这三种基本颜色主题，会用在所有 CSS 组件上，
$theme-primary: #2196f3 !default; // 主颜色，使用蓝色 $blue-500 #2196f3
$theme-secondary: #e040fb !default; // 次颜色，也叫强调(accent)颜色，使用紫色 $purple-a-200 #e040fb
$theme-background: #fff !default; // 背景颜色，默认白色

// 主题颜色浅色
$theme-primary-light: #90caf9 !default; // 取 $blue-200
$theme-secondary-light: #ce93d8 !default; // 取 $purple-200

// 主题颜色深色
$theme-primary-dark: #1976d2 !default; // 取 $blue-700
$theme-secondary-dark: #d500f9 !default; // 取 $purple-a-400

// 色调，是用浅色还是深色 light or dark
$theme-primary-tone: theme-light-or-dark($theme-primary);
$theme-secondary-tone: theme-light-or-dark($theme-secondary);

// 浅色色调
$theme-primary-light-tone: theme-light-or-dark($theme-primary-light);
$theme-secondary-light-tone: theme-light-or-dark($theme-secondary-light);

// 深色色调
$theme-primary-dark-tone: theme-light-or-dark($theme-primary-dark);
$theme-secondary-dark-tone: theme-light-or-dark($theme-secondary-dark);

$theme-background-tone: theme-light-or-dark($theme-background);

// 定义文本默认颜色，默认颜色深色用黑色，浅色用白色
// 分为基本颜色、次要颜色、提示性颜色和禁用颜色，分别用在基础颜色、过渡颜色、提示或暗色和表单 disabled readonly 以及其他禁用
$theme-text-colors: (
  dark: (
    primary: rgba(0, 0, 0, .87),
    secondary: rgba(0, 0, 0, .54),
    hint: rgba(0, 0, 0, .38),
    disabled: rgba(0, 0, 0, .38)
  ),
  light: (
    primary: #ffffff,
    secondary: rgba(255, 255, 255, .7),
    hint: rgba(255, 255, 255, .5),
    disabled: rgba(255, 255, 255, .5)
  )
);

// 主题属性值
$theme-property-values: (
  // 主题颜色
  primary: $theme-primary,
  secondary: $theme-secondary,
  background: $theme-background,

  // 主题颜色浅色
  primary-light: $theme-primary-light, // 取 $blue-200
  secondary-light: $theme-secondary-light, // 取 $purple-200

  // 主题颜色深色
  primary-dark: $theme-primary-dark, // 取 $blue-700
  secondary-dark: $theme-secondary-dark, // 取 $purple-a-400
);

// 主题色调属性值，根据主题颜色计算是用浅色还是深色
$theme-tone-property-values: (
  // 可以用在 background-color border-color 或 color 等可以设置颜色的属性上
  // 当 map-get($theme-text-colors, $theme-primary-tone) 返回 light 时，对应浅色值
  // 当 map-get($theme-text-colors, $theme-primary-tone) 返回 dark 时，对应深色值

  // 用在 $theme-primary 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), primary),
  text-secondary-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), secondary),
  text-hint-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), hint),
  text-disabled-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), disabled),

  // 用在 $theme-primary-light 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), primary),
  text-secondary-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), secondary),
  text-hint-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), hint),
  text-disabled-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), disabled),

  // 用在 $theme-primary-dark 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), primary),
  text-secondary-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), secondary),
  text-hint-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), hint),
  text-disabled-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), disabled),

  // 用在 $theme-secondary 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), primary),
  text-secondary-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), secondary),
  text-hint-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), hint),
  text-disabled-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), disabled),

  // 用在 $theme-secondary-light 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), primary),
  text-secondary-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), secondary),
  text-hint-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), hint),
  text-disabled-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), disabled),

  // 用在 $theme-secondary-dark 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), primary),
  text-secondary-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), secondary),
  text-hint-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), hint),
  text-disabled-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), disabled),

  // 用在 $theme-background 上的 primary secondary hint 和 disabled 对比颜色
  text-primary-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), primary),
  text-secondary-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), secondary),
  text-hint-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), hint),
  text-disabled-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), disabled),

  // 用在浅色主题上的 primary secondary hint 和 disabled 对比颜色，浅色主题用深色对比色
  text-primary-on-light: map-get(map-get($theme-text-colors, dark), primary),
  text-secondary-on-light: map-get(map-get($theme-text-colors, dark), secondary),
  text-hint-on-light: map-get(map-get($theme-text-colors, dark), hint),
  text-disabled-on-light: map-get(map-get($theme-text-colors, dark), disabled),

  // 用在深色主题上的 primary secondary hint 和 disabled 对比颜色，深色主题用浅色对比色
  text-primary-on-dark: map-get(map-get($theme-text-colors, light), primary),
  text-secondary-on-dark: map-get(map-get($theme-text-colors, light), secondary),
  text-hint-on-dark: map-get(map-get($theme-text-colors, light), hint),
  text-disabled-on-dark: map-get(map-get($theme-text-colors, light), disabled)
);

// 基于 material design ，定义主题颜色，强调颜色(次颜色)和背景颜色三种颜色，用在所有 CSS 组件上，
// 另外又定义了成功 success 、信息 info、警告 warning 、错误 error 四种辅助颜色，这四种颜色主要用在背景，文本，按钮等上
// 主要用来区分文本颜色和背景，以及表单样式（比如校验失败和成功的颜色）等
$theme-assist: ("success", "info", "warning", "error") !default;

//具体颜色值
$theme-assist-colors: (
  success: #4caf50, // $green-500
  info: #00bcd4, // $cyan-500
  warning: #ff9800, // $orange-500
  error: #f44336, // $red-500

  // 辅助颜色浅色透明态
  success-light: rgba(#4caf50, .54),
  info-light: rgba(#00bcd4, .54),
  warning-light: rgba(#ff9800, .54),
  error-light: rgba(#f44336, .54),

  // 辅助颜色深色
  success-dark: #388e3c, // $green-700
  info-dark: #0097a7, // $cyan-700
  warning-dark: #f57c00, // $orange-700
  error-dark: #d32f2f, // $red-700
) !default;

// 常用灰色颜色，提供了黑色透明度和灰色本身颜色两种方案，根据配置项 $enable-transparent 来选择其中一种方案
// 默认使用黑色透明度，可以通过修改 base/variables/_options.scss 中变量 $enable-transparent 来选择不同的方案

// 灰色颜色，对于灰色颜色，这里没有采用 css 变量处理
$greys: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121
) !default;

// 灰色透明色
$greys-transparent: (
  50: rgba(0, 0, 0, .02), // 相当于 #fafafa;
  100: rgba(0, 0, 0, .04), // 相当于 #f5f5f5
  200: rgba(0, 0, 0, .065), // 相当于 #eeeeee
  300: rgba(0, 0, 0, .12), // 相当于 #e0e0e0
  400: rgba(0, 0, 0, .26), // 相当于 #bdbdbd
  500: rgba(0, 0, 0, .38), // 相当于 #9e9e9e
  600: rgba(0, 0, 0, .54), // 相当于 #757575
  700: rgba(0, 0, 0, .62), // 相当于 #616161
  800: rgba(0, 0, 0, .74), // 相当于 #424242
  900: rgba(0, 0, 0, .87) // 相当于 #212121
) !default;

// 定义常用几种灰度颜色值
$white: #ffffff !default;
$black: #000000 !default;
$transparent: rgba(0, 0, 0, 0) !default; // 透明色

$grey-color-50: if($enable-transparent, map-get($greys-transparent, 50), map-get($greys, 50));
$grey-color-100: if($enable-transparent, map-get($greys-transparent, 100), map-get($greys, 100));
$grey-color-200: if($enable-transparent, map-get($greys-transparent, 200), map-get($greys, 200));
$grey-color-300: if($enable-transparent, map-get($greys-transparent, 300), map-get($greys, 300));
$grey-color-400: if($enable-transparent, map-get($greys-transparent, 400), map-get($greys, 400));
$grey-color-500: if($enable-transparent, map-get($greys-transparent, 500), map-get($greys, 500));
$grey-color-600: if($enable-transparent, map-get($greys-transparent, 600), map-get($greys, 600));
$grey-color-700: if($enable-transparent, map-get($greys-transparent, 700), map-get($greys, 700));
$grey-color-800: if($enable-transparent, map-get($greys-transparent, 800), map-get($greys, 800));
$grey-color-900: if($enable-transparent, map-get($greys-transparent, 900), map-get($greys, 900));
