// 自定义主题颜色
@import "./color_palette";
@import "../base/variables/options";
@import "./function";

// 定义颜色透明度
$alpha: .08 !default;

// 主题颜色，换肤一般改变这三个基本颜色即可
// 这三种基本颜色主题，会用在所有 CSS 组件上，
$theme-primary: #2196f3 !default; // 主颜色，使用蓝色 $blue-500 #2196f3
$theme-secondary: #e040fb !default; // 次颜色，也叫强调(accent)颜色，使用紫色 $purple-a-200 #e040fb
$theme-background: #fff !default; // 背景颜色，默认白色

// 主题颜色浅色
$theme-primary-light: #64b5f6 !default; // 取 $blue-300
$theme-secondary-light: #ea80fc !default; // 取 $purple-a-100

// 主题颜色更浅色
$theme-primary-lighter: #bbdefb !default; // 取 $blue-100
$theme-secondary-lighter: #e1bee7 !default; // 取 $purple-100

// 主题颜色最浅色
$theme-primary-lightest: #e3f2fd !default; // 取 $blue-50
$theme-secondary-lightest: #f3e5f5 !default; // 取 $purple-50

// 主题颜色深色
$theme-primary-dark: #1976d2 !default; // 取 $blue-700
$theme-secondary-dark: #d500f9 !default; // 取 $purple-a-400

// 主题颜色更深色
$theme-primary-darker: #1565c0 !default; // 取 $blue-800
$theme-secondary-darker: #aa00ff !default; // 取 $purple-a-700

// 主题颜色最深色
$theme-primary-darkest: #0d47a1 !default; // 取 $blue-900
$theme-secondary-darkest: #4a148c !default; // 取 $purple-900

// 主题颜色透明色，有的地方需要设置透明的背景色，这时可以使用该变量，比如波纹组件中
// 如果浏览器支持了 CSS module，我们可以动态的修改 color 值，直接使用 $theme-primary 加透明参数值即可，只是目前浏览器还不支持。
// 关于 CSS Color Level 4 提供了大量关于 Color 的处理，只是好多还没有实现，未来这些功能都实现后，CSS Color 的处理将变得更方便，更灵活，期待中......
// https://www.w3.org/TR/2016/WD-css-color-4-20160705/
$theme-primary-alpha: rgba($theme-primary, $alpha) !default;
$theme-secondary-alpha: rgba($theme-secondary, $alpha) !default;

// 浅色或深色色调，给出基本颜色的对比色调， light or dark
$theme-primary-tone: theme-light-or-dark($theme-primary);
$theme-secondary-tone: theme-light-or-dark($theme-secondary);

// 主题颜色浅色对比色调
$theme-primary-light-tone: theme-light-or-dark($theme-primary-light);
$theme-secondary-light-tone: theme-light-or-dark($theme-secondary-light);

// 主题颜色更浅色对比色调
$theme-primary-lighter-tone: theme-light-or-dark($theme-primary-lighter);
$theme-secondary-lighter-tone: theme-light-or-dark($theme-secondary-lighter);

// 主题颜色最浅色对比色调
$theme-primary-lightest-tone: theme-light-or-dark($theme-primary-lightest);
$theme-secondary-lightest-tone: theme-light-or-dark($theme-secondary-lightest);

// 主题颜色深色对比色调
$theme-primary-dark-tone: theme-light-or-dark($theme-primary-dark);
$theme-secondary-dark-tone: theme-light-or-dark($theme-secondary-dark);

// 主题颜色更深色对比色调
$theme-primary-darker-tone: theme-light-or-dark($theme-primary-darker);
$theme-secondary-darker-tone: theme-light-or-dark($theme-secondary-darker);

// 主题颜色最深色对比色调
$theme-primary-darkest-tone: theme-light-or-dark($theme-primary-darkest);
$theme-secondary-darkest-tone: theme-light-or-dark($theme-secondary-darkest);

// 主题颜色透明色对比色调
$theme-primary-alpha-tone: theme-light-or-dark($theme-primary-alpha);
$theme-secondary-alpha-tone: theme-light-or-dark($theme-secondary-alpha);

// 背景色对比色调
$theme-background-tone: theme-light-or-dark($theme-background);

// 定义文本默认颜色，默认颜色深色用黑色，浅色用白色
// 分为基本颜色、次要颜色、提示性颜色和禁用颜色，分别用在基础颜色、过渡颜色、提示或暗色和表单 disabled readonly 以及其他禁用
$theme-text-colors: (
  dark: (
    primary: rgba(0, 0, 0, .87),
    secondary: rgba(0, 0, 0, .54),
    hint: rgba(0, 0, 0, .38),
    disabled: rgba(0, 0, 0, .38)
  ),
  light: (
    primary: #ffffff,
    secondary: rgba(255, 255, 255, .7),
    hint: rgba(255, 255, 255, .5),
    disabled: rgba(255, 255, 255, .5)
  )
);

// 主题属性值
$theme-property-values: (
  // 主题颜色
  primary: $theme-primary,
  secondary: $theme-secondary,
  background: $theme-background,

  // 主题颜色浅色
  primary-light: $theme-primary-light,
  secondary-light: $theme-secondary-light,

  // 主题颜色更浅色
  primary-lighter: $theme-primary-lighter,
  secondary-lighter: $theme-secondary-lighter,

  // 主题颜色最浅色
  primary-lightest: $theme-primary-lightest,
  secondary-lightest: $theme-secondary-lightest,

  // 主题颜色深色
  primary-dark: $theme-primary-dark,
  secondary-dark: $theme-secondary-dark,

  // 主题颜色更深色
  primary-darker: $theme-primary-darker,
  secondary-darker: $theme-secondary-darker,

  // 主题颜色最深色
  primary-darkest: $theme-primary-darkest,
  secondary-darkest: $theme-secondary-darkest,

  // 主题颜色透明色
  primary-alpha: $theme-primary-alpha,
  secondary-alpha: $theme-secondary-alpha,

) !default;

// 主题基本颜色对比色调值集合，根据主题基本颜色计算出对应的对比色调值，浅色还是深色色调值
$theme-tone-property-values: (
  // 可以用在 background-color border-color 或 color 等可以设置颜色的属性上
  // 当 map-get($theme-text-colors, $theme-primary-tone) 返回 light 时，对应浅色值
  // 当 map-get($theme-text-colors, $theme-primary-tone) 返回 dark 时，对应深色值

  // 用在 $theme-primary 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), primary),
  secondary-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), secondary),
  hint-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), hint),
  disabled-on-primary: map-get(map-get($theme-text-colors, $theme-primary-tone), disabled),

  // 用在 $theme-primary-light 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), primary),
  secondary-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), secondary),
  hint-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), hint),
  disabled-on-primary-light: map-get(map-get($theme-text-colors, $theme-primary-light-tone), disabled),

  // 用在 $theme-primary-lighter 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary-lighter: map-get(map-get($theme-text-colors, $theme-primary-lighter-tone), primary),
  secondary-on-primary-lighter: map-get(map-get($theme-text-colors, $theme-primary-lighter-tone), secondary),
  hint-on-primary-lighter: map-get(map-get($theme-text-colors, $theme-primary-lighter-tone), hint),
  disabled-on-primary-lighter: map-get(map-get($theme-text-colors, $theme-primary-lighter-tone), disabled),

  // 用在 $theme-primary-lightest 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary-lightest: map-get(map-get($theme-text-colors, $theme-primary-lightest-tone), primary),
  secondary-on-primary-lightest: map-get(map-get($theme-text-colors, $theme-primary-lightest-tone), secondary),
  hint-on-primary-lightest: map-get(map-get($theme-text-colors, $theme-primary-lightest-tone), hint),
  disabled-on-primary-lightest: map-get(map-get($theme-text-colors, $theme-primary-lightest-tone), disabled),

  // 用在 $theme-primary-dark 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), primary),
  secondary-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), secondary),
  hint-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), hint),
  disabled-on-primary-dark: map-get(map-get($theme-text-colors, $theme-primary-dark-tone), disabled),

  // 用在 $theme-primary-darker 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary-darker: map-get(map-get($theme-text-colors, $theme-primary-darker-tone), primary),
  secondary-on-primary-darker: map-get(map-get($theme-text-colors, $theme-primary-darker-tone), secondary),
  hint-on-primary-darker: map-get(map-get($theme-text-colors, $theme-primary-darker-tone), hint),
  disabled-on-primary-darker: map-get(map-get($theme-text-colors, $theme-primary-darker-tone), disabled),

  // 用在 $theme-primary-darkest 上的 primary secondary hint 和 disabled 对比色调
  primary-on-primary-darkest: map-get(map-get($theme-text-colors, $theme-primary-darkest-tone), primary),
  secondary-on-primary-darkest: map-get(map-get($theme-text-colors, $theme-primary-darkest-tone), secondary),
  hint-on-primary-darkest: map-get(map-get($theme-text-colors, $theme-primary-darkest-tone), hint),
  disabled-on-primary-darkest: map-get(map-get($theme-text-colors, $theme-primary-darkest-tone), disabled),

  // 用在主题颜色主颜色透明色 $theme-primary-alpha 上的 primary secondary hint 和 disabled 对比颜色，深色主题用浅色对比色调
  primary-on-primary-alpha: map-get(map-get($theme-text-colors, $theme-primary-alpha-tone), primary),
  secondary-on-primary-alpha: map-get(map-get($theme-text-colors, $theme-primary-alpha-tone), secondary),
  hint-on-primary-alpha: map-get(map-get($theme-text-colors, $theme-primary-alpha-tone), hint),
  disabled-on-primary-alpha: map-get(map-get($theme-text-colors, $theme-primary-alpha-tone), disabled),

  // 用在 $theme-secondary 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), primary),
  secondary-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), secondary),
  hint-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), hint),
  disabled-on-secondary: map-get(map-get($theme-text-colors, $theme-secondary-tone), disabled),

  // 用在 $theme-secondary-light 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), primary),
  secondary-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), secondary),
  hint-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), hint),
  disabled-on-secondary-light: map-get(map-get($theme-text-colors, $theme-secondary-light-tone), disabled),

  // 用在 $theme-secondary-lighter 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary-lighter: map-get(map-get($theme-text-colors, $theme-secondary-lighter-tone), primary),
  secondary-on-secondary-lighter: map-get(map-get($theme-text-colors, $theme-secondary-lighter-tone), secondary),
  hint-on-secondary-lighter: map-get(map-get($theme-text-colors, $theme-secondary-lighter-tone), hint),
  disabled-on-secondary-lighter: map-get(map-get($theme-text-colors, $theme-secondary-lighter-tone), disabled),

  // 用在 $theme-secondary-lightest 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary-lightest: map-get(map-get($theme-text-colors, $theme-secondary-lightest-tone), primary),
  secondary-on-secondary-lightest: map-get(map-get($theme-text-colors, $theme-secondary-lightest-tone), secondary),
  hint-on-secondary-lightest: map-get(map-get($theme-text-colors, $theme-secondary-lightest-tone), hint),
  disabled-on-secondary-lightest: map-get(map-get($theme-text-colors, $theme-secondary-lightest-tone), disabled),

  // 用在 $theme-secondary-dark 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), primary),
  secondary-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), secondary),
  hint-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), hint),
  disabled-on-secondary-dark: map-get(map-get($theme-text-colors, $theme-secondary-dark-tone), disabled),

  // 用在 $theme-secondary-darker 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary-darker: map-get(map-get($theme-text-colors, $theme-secondary-darker-tone), primary),
  secondary-on-secondary-darker: map-get(map-get($theme-text-colors, $theme-secondary-darker-tone), secondary),
  hint-on-secondary-darker: map-get(map-get($theme-text-colors, $theme-secondary-darker-tone), hint),
  disabled-on-secondary-darker: map-get(map-get($theme-text-colors, $theme-secondary-darker-tone), disabled),

  // 用在 $theme-secondary-darkest 上的 primary secondary hint 和 disabled 对比色调
  primary-on-secondary-darkest: map-get(map-get($theme-text-colors, $theme-secondary-darkest-tone), primary),
  secondary-on-secondary-darkest: map-get(map-get($theme-text-colors, $theme-secondary-darkest-tone), secondary),
  hint-on-secondary-darkest: map-get(map-get($theme-text-colors, $theme-secondary-darkest-tone), hint),
  disabled-on-secondary-darkest: map-get(map-get($theme-text-colors, $theme-secondary-darkest-tone), disabled),

  // 用在主题颜色次颜色透明色 $theme-secondary-alpha 上的 primary secondary hint 和 disabled 对比颜色，深色主题用浅色对比色调
  primary-on-secondary-alpha: map-get(map-get($theme-text-colors, $theme-secondary-alpha-tone), primary),
  secondary-on-secondary-alpha: map-get(map-get($theme-text-colors, $theme-secondary-alpha-tone), secondary),
  hint-on-secondary-alpha: map-get(map-get($theme-text-colors, $theme-secondary-alpha-tone), hint),
  disabled-on-secondary-alpha: map-get(map-get($theme-text-colors, $theme-secondary-alpha-tone), disabled),

  // 用在 $theme-background 上的 primary secondary hint 和 disabled 对比色调
  primary-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), primary),
  secondary-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), secondary),
  hint-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), hint),
  disabled-on-background: map-get(map-get($theme-text-colors, $theme-background-tone), disabled),

  // 用在浅色主题上的 primary secondary hint 和 disabled 对比色调，浅色主题用深色对比色调
  primary-on-light: map-get(map-get($theme-text-colors, dark), primary),
  secondary-on-light: map-get(map-get($theme-text-colors, dark), secondary),
  hint-on-light: map-get(map-get($theme-text-colors, dark), hint),
  disabled-on-light: map-get(map-get($theme-text-colors, dark), disabled),

  // 用在深色主题上的 primary secondary hint 和 disabled 对比颜色，深色主题用浅色对比色调
  primary-on-dark: map-get(map-get($theme-text-colors, light), primary),
  secondary-on-dark: map-get(map-get($theme-text-colors, light), secondary),
  hint-on-dark: map-get(map-get($theme-text-colors, light), hint),
  disabled-on-dark: map-get(map-get($theme-text-colors, light), disabled),
) !default;

// 除了三种基本颜色外，又定义了成功 success 、信息 info、警告 warning 、错误 error 四种辅助颜色，
// 这四种颜色主要用在背景，文本，按钮等上，用来区分文本颜色和背景，以及表单样式（比如校验失败和成功的颜色）等
$theme-assist: ("success", "info", "warning", "error") !default;

// 辅助颜色值
$theme-assist-colors: (
  success: #4caf50, // $green-500
  info: #00bcd4, // $cyan-500
  warning: #ff9800, // $orange-500
  error: #f44336, // $red-500

  // 辅助颜色浅色
  success-light: #c8e6c9, // $green-100
  info-light: #b2ebf2, // $cyan-100
  warning-light: #ffe0b2, // $orange-100
  error-light: #ffcdd2, // $red-100

  // 辅助颜色深色
  success-dark: #388e3c, // $green-700
  info-dark: #0097a7, // $cyan-700
  warning-dark: #f57c00, // $orange-700
  error-dark: #d32f2f, // $red-700

  // 辅助颜色透明色
  success-alpha: rgba(#4caf50, $alpha),
  info-alpha: rgba(#00bcd4, $alpha),
  warning-alpha: rgba(#ff9800, $alpha),
  error-alpha: rgba(#f44336, $alpha),
) !default;

// 常用灰色颜色，提供了黑色透明度和灰色本身颜色两种方案，根据配置项 $enable-transparent 来选择其中一种方案
// 默认使用黑色透明度，可以通过修改 base/variables/_options.scss 中变量 $enable-transparent 来选择不同的方案

// 灰色颜色，对于灰色颜色，这里没有采用 css 变量处理
$greys: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121
) !default;

// 灰色透明色
$greys-transparent: (
  50: rgba(0, 0, 0, .02), // 相当于 #fafafa;
  100: rgba(0, 0, 0, .04), // 相当于 #f5f5f5
  200: rgba(0, 0, 0, .065), // 相当于 #eeeeee
  300: rgba(0, 0, 0, .12), // 相当于 #e0e0e0
  400: rgba(0, 0, 0, .26), // 相当于 #bdbdbd
  500: rgba(0, 0, 0, .38), // 相当于 #9e9e9e
  600: rgba(0, 0, 0, .54), // 相当于 #757575
  700: rgba(0, 0, 0, .62), // 相当于 #616161
  800: rgba(0, 0, 0, .74), // 相当于 #424242
  900: rgba(0, 0, 0, .87) // 相当于 #212121
) !default;

// 白色、黑色和透明色
$white: #ffffff !default;
$black: #000000 !default;
$transparent: rgba(0, 0, 0, 0) !default; // 透明色

$grey-color-50: if($enable-transparent, map-get($greys-transparent, 50), map-get($greys, 50)) !default;
$grey-color-100: if($enable-transparent, map-get($greys-transparent, 100), map-get($greys, 100)) !default;
$grey-color-200: if($enable-transparent, map-get($greys-transparent, 200), map-get($greys, 200)) !default;
$grey-color-300: if($enable-transparent, map-get($greys-transparent, 300), map-get($greys, 300)) !default;
$grey-color-400: if($enable-transparent, map-get($greys-transparent, 400), map-get($greys, 400)) !default;
$grey-color-500: if($enable-transparent, map-get($greys-transparent, 500), map-get($greys, 500)) !default;
$grey-color-600: if($enable-transparent, map-get($greys-transparent, 600), map-get($greys, 600)) !default;
$grey-color-700: if($enable-transparent, map-get($greys-transparent, 700), map-get($greys, 700)) !default;
$grey-color-800: if($enable-transparent, map-get($greys-transparent, 800), map-get($greys, 800)) !default;
$grey-color-900: if($enable-transparent, map-get($greys-transparent, 900), map-get($greys, 900)) !default;
