// 定义主题 css 变量

@import "./mixin";

// 用 css 定义各种主题变量值
:root {
  @each $style in map-keys($theme-property-values) {
    // FIXME 由于 sass-lint 不支持 css variables，故这里用 #{} 包一层
    // https://github.com/sasstools/sass-lint/issues/877
    #{--theme-#{$style}}: map-get($theme-property-values, $style);
  }

  // 辅助颜色
  @each $theme, $color in $theme-assist-colors {
    // FIXME 由于 sass-lint 不支持 css variables，故这里用 #{} 包一层
    // https://github.com/sasstools/sass-lint/issues/877
    #{--theme-#{$theme}}: $color;
  }

  // 辅助颜色浅色透明态
  @each $theme, $color in $theme-assist-colors-light {
    // FIXME 由于 sass-lint 不支持 css variables，故这里用 #{} 包一层
    // https://github.com/sasstools/sass-lint/issues/877
    #{--theme-#{$theme}-light}: $color;
  }
}

// 背景色，用在背景上
// .theme-background {background-color: #fff; background-color: var(--theme-background, #fff);}
.theme-background {
  @include theme-prop(background-color, background);
}

// 设置 primary 和 accent 背景颜色值
// .theme-primary {background-color: #2196f3; background-color: var(--theme-primary, #2196f3);}
@each $style in ("primary", "accent") {
  .theme-#{$style}-bg {
    @include theme-prop(background-color, $style, true);
  }
}

// 辅助颜色背景色
// .theme-success-bg {background-color: #4caf50; background-color: var(--theme-success, #4caf50);}
@each $theme, $color in $theme-assist-colors {
  .theme-#{$theme}-bg {
    background-color: $color;
    background-color: var(--theme-#{$theme}, $color);
  }
}

// 通过添加该样式值，改变文本主题颜色值
// .theme-text-primary-on-primary {color: #2196f3; color: var(--theme-text-primary-on-primary, #2196f3);}
@each $style in map-keys($theme-property-values) {
  @if $style != "background" {
    .theme-#{$style} {
      @include theme-prop(color, $style, true);
    }
  }
}

// 辅助颜色前景色
// .theme-text-success {color: #4caf50; color: var(--theme-success, #4caf50);}
@each $theme, $color in $theme-assist-colors {
  .theme-text-#{$theme} {
    color: $color;
    color: var(--theme-#{$theme}, $color);
  }
}

