// 文本样式

@import "../base/mixins/text-ellipsis";
@import "../base/mixins/text-hide";

// 单行截取
.text-ellipsis {
  @include text-ellipsis;
}

// 强制换行
.text-wrap {
  word-break: break-all;
  white-space: pre-wrap !important;
}

// 强制不换行
.text-nowrap {
  word-break: keep-all;
  white-space: nowrap !important;
}

// 全部小写
.text-lowercase {
  text-transform: lowercase !important;
}

// 全部大写
.text-uppercase {
  text-transform: uppercase !important;
}

// 首字母大写
.text-capitalize {
  text-transform: capitalize !important;
}

// 隐藏文字内容，在元素需要被图片背景替换时
// http://nicolasgallagher.com/another-css-image-replacement-technique/
.text-hide {
  @include text-hide;
}

