@import "../../../../components/theme/mixin";
@import "../../../../components/animation/variable";

.anchor-link {
  font-weight: 400;
  transition: color .16s $animation-ease-out, opacity .16s $animation-ease-out;

  @include theme-prop(color, primary-light);

  &:hover {
    text-decoration: none;

    @include theme-prop(color, primary);
  }
}
