@import "../../../../components/theme/mixin";
@import "../../../../components/animation/variable";

.anchor-link {
  font-weight: 400;
  @include theme-prop(color, primary-light);
  transition:  color .16s $animation-ease-out, opacity .16s $animation-ease-out;

  &:hover {
    @include theme-prop(color, primary);
    text-decoration: none;
  }
}
