// 页面底部样式

@import "../../../../components/theme/variable";
@import "../../../../components/base/variables/font";

.footer-assist {
  // 此处的数值等于 footer 的高度 + 预留的间距
  margin-top: $font-size-base * $line-height-base + 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid $grey-color-300;
  color: map-get(map-get($theme-text-colors, dark), secondary);
  background: #fff;
}
