@import "../../../../components/theme/variable";
@import "../../../../components/theme/mixin";

.perfect-menu {
  &.menu, .menu {
    margin-left: 0;
  }

  .menu-title {
    padding: .5rem 1rem;

    &:hover {
      @include theme-prop(color, primary-light);
    }

    &.active {
      @include theme-prop(color, primary);
    }
  }

  .menu-sub-title {
    &:hover {
      @include theme-prop(color, primary);
    }

    &.active {
      border-right: 3px solid;
      @include theme-prop(color, primary-darker);
      @include theme-prop(background-color, primary-lightest);

      // 可以动态的设置颜色透明度，属于 CSS 4 color 范畴，目前浏览器都不支持
      // 可以用 rgba 来代替，但只能静态设置，不可以随着颜色和透明度的变化动态设置
      // https://drafts.csswg.org/css-color/#modifying-colors
      // https://www.w3cplus.com/css4/color-mod.html
      @supports (background-color: color(green a(10%))) {
        $bg-color: var(--theme-primary-lightest);
        $opacity: .8;

        background-color: color(#{$bg-color} a(#{percentage($opacity)}));
      }
    }
  }
}

