@import "../../../../components/theme/mixin";

@mixin grid-example {
  .row + .row {
    margin-top: 1rem;
  }
  // 嵌套的样式
  .row .row {
    border: 1px solid;
  }
  [class*="col"] {
    padding-top:    .5rem;
    padding-bottom: .5rem;
    color:          #fff;
    @include theme-prop(background-color, primary-light);
    text-align:     center;

    &:nth-of-type(2n) {
      @include theme-prop(background-color, primary);
    }
  }
}
