@charset "UTF-8";
/*---  Light Colors  ---*/
/**
 * Safari for OS X and iOS (San Francisco)
  -apple-system,
  Chrome for OS X (San Francisco)
  BlinkMacSystemFont,
  Windows
  "Segoe UI",
  Android
  "Roboto",
  Linux
  "Oxygen", // KDE
  "Ubuntu",
  "Cantarell", // GNOME
  Firefox OS [R.I.P.]
  "Fira Sans",
  Older Android
  "Droid Sans",
  Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;
**/
/**
* 关于 font weight 的设置，跟字体粗细值有关
* 1. 在 Safari 和 IOS 系统下，默认字体粗细分为
    100-300   400-500  600-700  800-900  四种，对应的
    lighter 比从父元素继承来的值更细(处在字体可行的粗细值范围内)。
    normal 正常粗细，与400等值。
    bold 加粗， 与700等值
    bolder 比从父元素继承来的值更粗 (处在字体可行的粗细值范围内)。
 如果设为 -apple-system 或 "PingFang SC"时，就会有更多的字体粗细，
  100 200 300 400 500 600-900 六种粗细
  其中 lighter 对应 100    normal 对应 400    bold 对应 700    bolder 页对应 700

*  2 在 Chrome 下，默认字体粗细只有两种
   100-400 500-900 对应为 normal 和 bold，如果设置为 lighter，则等价于 normal， 设为 bolder 等价于 bold
   如果设为 "PingFang SC" 同样有六种字体粗细，参加上面
* 所以 font-weight 字体粗细跟字体有关。关于字体粗细的回退机制可以参考以下文章
  https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-weight
**/
/**
* 响应式和媒体查询，设备大小分界点为
{
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}
 */
/**
* 返回响应式设备大小的下一个名称值
* $name 当前值
* $breakpoint 响应式布局列表值
* $breakpoint-names 对应的所有键
* 比如 breakpoint-next(sm)  结果为 md
* breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px)) 结果为 md
* breakpoint-next(sm, $breakpoint-names: (xs sm md)) 结果为 md
* breakpoint-next(md, $breakpoint-names: (xs sm md)) 结果为 null
 */
/**
* 根据键返回响应式对应的媒体查询区间值的最小值， 如果没找到或值为0返回 null
* breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px)) 结果为 576px
* breakpoint-min(xs, (xs: 0, sm: 576px, md: 768px)) 结果为 null
 */
/**
* 根据键返回响应式对应的媒体查询区间值的最大值（即为下一个拐点值 - 1px）， 如果没找到返回 null
* breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px)) 结果为 767px
* breakpoint-max(md, (xs: 0, sm: 576px, md: 768px)) 结果为 null
 */
/**
* 如果 $name 为响应式最小值对应的键，怎返回一个空字符串，否则返回键前面加一个破折号，
* breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px)) 结果为 ""
* breakpoint-infix(md, (xs: 0, sm: 576px, md: 768px)) 结果为 "-md"
 */
/**
* 如果 $name 为最小值，即 xs 时，则不用媒体查询输出样式，否则为媒体查询输出，
* 并设置其最小宽度，即当设备宽度达到该值时，应用定义的该样式
.test {
  @include media-breakpoint-up(sm) {
    color: red;
  }
}
输出结果为
@media (min-width: 576px) {
  .test {
    color: red;
  }
}

.test {
  @include media-breakpoint-up(sm) {
    color: red;
  }
}
输出结果为
.test {
  color: red;
}
 */
/**
* 跟 media-breakpoint-up 相反 如果 $name 为最大值，即 xl 时，则使用媒体查询输出样式，否则不用媒体查询输出，
* 并设置其最大宽度，即当设备宽度小于等于该值时，应用定义的该样式
.test {
  @include media-breakpoint-down(sm) {
    color: red;
  }
}
输出结果为
@media (max-width: 767px) {
  .test {
    color: red;
  }
}

.test {
  @include media-breakpoint-down(xl) {
    color: red;
  }
}
输出结果为
.test {
  color: red;
}
 */
/**
* 设置媒体查询最大和最小区间样式
.test {
  @include media-breakpoint-between(sm, lg) {
    color: red;
  }
}
输出结果为
@media (min-width: 576px) and (max-width: 1199px) {
  .test {
    color: red;
  }
}
 */
/**
* 设置某一媒体查询区间最大和最小区间样式，比如 sm 的区间为 576px  767px
.test {
  @include media-breakpoint-only(sm) {
    color: red;
  }
}
输出结果为
@media (min-width: 576px) and (max-width: 767px) {
  .test {
    color: red;
  }
}
 */
/* 如果我们不使用响应式布局时，即把变量值 $enable-breakpoint 设为 false 时，*/
@font-face {
  font-family: "icon";
  src: url("../fonts/iconfont.eot?t=1493977267384");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1493977267384#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1493977267384") format("woff"), url("../fonts/iconfont.ttf?t=1493977267384") format("truetype"), url("../fonts/iconfont.svg?t=1493977267384#iconfont") format("svg");
  /* iOS 4.1- */
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-catalogue::before {
  content: "\e601";
}

html {
  position: relative;
}

html, body {
  height: auto;
  min-height: 100%;
}

/*a {
  color: #337ab7;
  &:hover, &:active {
    color: #337ab7;
  }
}*/
.doc-main {
  min-height: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.doc-content > p {
  text-indent: 2em;
}

.doc-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.doc-content > h3 {
  margin-top: 1.5rem;
}

.doc-table {
  width: 80%;
}

.doc-table tr:nth-of-type(odd) {
  background: #f9f9f9;
}

.doc-table th {
  border-bottom: 1px solid #ddd;
}

.doc-table th,
.doc-table td {
  padding: .5rem 1.5rem;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.doc-table th:last-child,
.doc-table td:last-child {
  border-right: 1px solid #ddd;
}

.doc-table tr:last-child > td {
  border-bottom: 1px solid #ddd;
}

.doc-catalogue-header {
  position: relative;
}

.doc-catalogue-header::before {
  content: '目录';
  position: absolute;
  top: -25px;
  padding-left: 1rem;
  color: #999;
}

.doc-catalogue .menu-title {
  position: relative;
  width: 230px;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-catalogue .menu-title:hover::after, .doc-catalogue .menu-title.active::after {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 0;
  border-left: 1px solid #193c5a;
}

.doc-catalogue .menu-title.active::after {
  border-left: 2px solid #193c5a;
}

.doc-catalogue-panel {
  margin-top: 50px;
  margin-left: 20px;
}

.doc-content-header > a {
  margin: 0 .5rem;
}

.doc-content {
  counter-reset: outline1;
}

.doc-content h1::before, .doc-content h2::before, .doc-content h3::before, .doc-content h4::before, .doc-content h5::before, .doc-content h6::before {
  margin-right: .5rem;
}

.doc-content > h1 {
  counter-reset: outline2;
}

.doc-content > h1::before {
  content: counter(outline1, decimal) ". ";
  counter-increment: outline1;
}

.doc-content > h1 ~ h2 {
  counter-reset: outline3;
}

.doc-content > h1 ~ h2::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.doc-content > h1 ~ h2 ~ h3 {
  counter-reset: outline4;
}

.doc-content > h1 ~ h2 ~ h3::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 {
  counter-reset: outline5;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 ~ h5 {
  counter-reset: outline6;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
  counter-increment: outline5;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) "." counter(outline6, decimal) ".";
  counter-increment: outline6;
}

.doc-content > h2 {
  counter-reset: outline2;
}

.doc-content > h2::before {
  content: counter(outline1, decimal) ".";
  counter-increment: outline1;
}

.doc-content > h2 ~ h3 {
  counter-reset: outline3;
}

.doc-content > h2 ~ h3::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.doc-content > h2 ~ h3 ~ h4 {
  counter-reset: outline4;
}

.doc-content > h2 ~ h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.doc-content > h2 ~ h3 ~ h4 ~ h5 {
  counter-reset: outline5;
}

.doc-content > h2 ~ h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.doc-content > h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
  counter-increment: outline5;
}

.doc-content > h3 {
  counter-reset: outline2;
}

.doc-content > h3::before {
  content: counter(outline1, decimal) ".";
  counter-increment: outline1;
}

.doc-content > h3 ~ h4 {
  counter-reset: outline3;
}

.doc-content > h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.doc-content > h3 ~ h4 ~ h5 {
  counter-reset: outline4;
}

.doc-content > h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.doc-content > h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.doc-color-group {
  color: #fff;
}

.doc-primary-color {
  margin-bottom: .5rem;
}

.doc-color-title {
  padding: .75rem 1rem 2rem;
}

.doc-color {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: .75rem 1rem;
}

.doc-color-dark {
  color: rgba(0, 0, 0, 0.87);
}

.doc-color-a {
  margin-top: .5rem;
}

.doc-color-panel {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3rem;
}

.doc-color-panel > .col {
  padding-left: 0;
  padding-right: 0;
}

.doc-copy {
  position: relative;
}

.doc-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3rem .7rem;
  border: 0;
  color: #fff;
  background: #00bcd4;
  cursor: pointer;
  outline: none;
}

.doc-copy-btn:hover {
  background: #008fa1;
}

.doc-copy + .highlight {
  margin-top: 0;
}

.doc-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px;
  border: solid #f7f7f9;
  border-width: 2px 0 0;
}

.doc-example::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 640px) {
  .doc-example {
    padding: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-width: .3rem .3rem 0;
  }
}

.doc-example-container .container-fluid,
.doc-example-container .container {
  padding: 20px;
  color: #611e77;
  background-color: #faf4fc;
  text-align: center;
}

.doc-example-container .container-equal-height.exp1 {
  width: 500px;
  padding-left: 100px;
}

.doc-example-container .container-equal-height.exp1 .container-equal-height-nav {
  margin-left: -100px;
}

.doc-example-container .container-equal-height.exp2 {
  width: 500px;
  padding-right: 100px;
}

.doc-example-container .container-equal-height.exp2 .container-equal-height-nav {
  margin-right: -100px;
}

.doc-example-container .container-equal-height .container-equal-height-nav {
  width: 100px;
  background-color: #faf4fc;
}

.doc-example-container .container-equal-height .container-equal-height-main {
  background-color: #f4f4f4;
}

.doc-example-container .container-fluid-float .container-fluid-float-cell {
  background-color: #faf4fc;
}

.doc-example-container .container-fluid-float .container-fluid-float-full {
  background-color: #f4f4f4;
}

.doc-example-container .container-fluid-float.exp1 > div {
  padding: 10px;
}

.doc-example-container .container-fluid-float.exp2 .container-fluid-float-cell {
  padding: 10px;
}

.doc-example-container .container-fluid-float.exp2 .container-fluid-float-full .container-fluid-float-full {
  padding: 10px;
}

.doc-example-container .container-square-box {
  background-color: #faf4fc;
}

.doc-example-container .exp-square .inline-block {
  width: 200px;
  margin-right: 20px;
}

.footer-assist {
  padding-top: 7.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  padding: 1rem 0;
  border-bottom: 1px solid #0e2132;
  background-color: #193c5a;
  background-image: linear-gradient(to bottom, #1f496e 0, #193c5a 100%);
}

.footer-copyright {
  margin: .5rem 0;
  color: #818a91;
  background-color: #fff;
}

.links-item > a {
  display: inline-block;
  margin-right: 1rem;
  color: #fff;
}

.links-item > a:hover, .links-item > a:focus {
  color: #fff;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nl {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: #f8f8f8;
}

.highlight {
  padding: 1rem;
  margin: 1rem -15px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #f7f7f9;
}

@media (min-width: 640px) {
  .highlight {
    padding: 2.1rem 1.5rem 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}

.highlight pre code {
  font-size: inherit;
  color: #212121;
}

.doc-menu {
  background-color: #fafafa;
}

.product-teaser {
  display: inline-block;
  padding: 1rem;
  color: #00a8c6;
  background-color: #fff9ff;
}

.product-teaser:hover {
  color: #00a8c6;
}

.product-teaser::before {
  content: "";
  display: block;
  border-top: 1px solid #00c176;
}

.product-teaser::after {
  content: "";
  display: block;
  border-top: 1px solid #00a8c6;
}

.product-teaser.active {
  color: #ff003c;
  background-color: #ff8edf;
}

.product-teaser.active:hover {
  color: #d14;
}

@media screen and (max-width: 640px) {
  .product-teaser {
    display: block;
    font-size: 2em;
  }
}

.product-teaser + .main {
  font-size: 1.2em;
}

.product-teaser > .content > .title {
  font-size: 1.2em;
}

@media screen and (max-width: 640px) {
  .product-teaser > .content > .title {
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

.navbar-doc {
  padding: .5rem 2rem;
  border-color: #0e2132;
  color: #fff;
  background-image: linear-gradient(to bottom, #1f496e 0, #193c5a 100%);
  background-repeat: repeat-x;
}

.navbar-doc .navbar-brand,
.navbar-doc .navbar-toggler {
  color: #fff;
}

.navbar-doc .navbar-brand:focus, .navbar-doc .navbar-brand:hover,
.navbar-doc .navbar-toggler:focus,
.navbar-doc .navbar-toggler:hover {
  color: #fff;
}

.navbar-doc .navbar-nav .nav-link {
  color: #fff;
}

.navbar-doc .navbar-nav .nav-link:focus, .navbar-doc .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-doc .navbar-nav .nav-link.disabled {
  color: #fff;
}

.navbar-doc .navbar-nav .open > .nav-link,
.navbar-doc .navbar-nav .active > .nav-link,
.navbar-doc .navbar-nav .nav-link.open,
.navbar-doc .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-doc .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-doc .navbar-toggler-icon {
  background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23");
}

.navbar-doc .navbar-text {
  color: #fff;
}

/* 当采用顶部 fixed 布局时，需要设置 body padding-top */
body {
  /*padding-top: 4.5rem;*/
}

body {
  background-color: #fafafa;
}

.doc1-top-fixed {
  padding-top: 64px;
}

.doc1-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4002;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 256px;
}

@media screen and (max-width: 1479px) {
  .doc1-nav-wrapper {
    padding-left: 0;
  }
}

.doc1-header-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-left: 70px;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.doc1-header-nav > li {
  padding: 0 20px;
}

.doc1-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4001;
  height: 64px;
  padding-left: 256px;
  background: #00bcd4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1479px) {
  .doc1-header-wrapper {
    padding-left: 0;
  }
}

.doc1-header-title {
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 64px;
  color: #fff;
  white-space: nowrap;
}

.doc1-menu-btn {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 48px;
  height: 48px;
  border: 0;
  background: transparent center center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  outline: 0;
}

.doc1-menu-icn {
  color: #fff;
}

.doc1-menu-icn::before {
  content: "\e604";
}

.doc1-logo-wrapper {
  padding: 12px 0 8px 24px;
  border-bottom: 1px solid #e0e0e0;
}

.doc1-logo {
  display: inline-block;
  width: 160px;
  height: 40px;
  background: url("../images/perfect-logo.svg") no-repeat;
}

.doc1-main {
  display: -ms-flexbox;
  display: flex;
}

.doc1-side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 4004;
  width: 256px;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  background: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition-delay: .1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: .2s;
  transition-property: left, -webkit-transform;
  transition-property: transform, left;
  transition-property: transform, left, -webkit-transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media screen and (max-width: 1479px) {
  .doc1-side {
    left: -241px;
    visibility: hidden;
    -webkit-transform: translateX(-241px);
            transform: translateX(-241px);
  }
}

@media screen and (max-width: 1479px) {
  .doc1-side-drawer-visible {
    left: -241px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.doc1-side-drawer-visible {
  left: 0;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.doc1-side-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.doc1-menu-nav {
  padding: 12px 0 40px;
  font-size: 13px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.doc1-content-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  padding-left: 256px;
  background: #fafafa;
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1479px) {
  .doc1-content-wrapper {
    padding-left: 0 !important;
  }
}

.doc1-content {
  padding: 20px;
}

.doc1-mask-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4003;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: .1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.doc1-mask-modal.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0;
}

.device-view-body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

device-resizer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  overflow: hidden;
  color: #444;
  background: #f9f9f9;
}

.device-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 12px 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.device-brand {
  cursor: pointer;
}

.brand-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../images/perfect-logo-tiny.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.brand-name {
  display: inline-block;
  height: 36px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.device-url-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 400px;
  height: 24px;
  padding: 6px;
  border-radius: 2px;
  background: #eee;
  cursor: pointer;
  fill: currentColor;
}

.device-url-icon {
  color: #424242;
}

.device-url-input {
  width: 100%;
  padding-left: 12px;
  border: 0;
  font-size: 14px;
  background: inherit;
  outline: 0;
}

.device-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.device-icon {
  width: 24px;
  height: 24px;
  margin: 6px 12px;
  color: rgba(0, 0, 0, 0.4);
  fill: currentColor;
}

.device-icon.active {
  color: rgba(0, 0, 0, 0.8);
}

.device-selector-wrapper {
  position: relative;
  height: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  color: #212121;
  background: #fff;
  white-space: nowrap;
}

.device-selector-topbar {
  position: absolute;
  left: -100px;
  right: -100px;
}

.device-selector-item {
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
}

.device-selector-item:focus, .device-selector-item:hover {
  background: #eee;
}

.device-selector-item.active {
  background: #eee;
}

.device-selector-item > .size {
  margin-left: 4px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.54);
}

.device-selector-item > .left {
  float: left;
}

.device-selector-item > .right {
  float: right;
}

.device-selector-label {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #212121;
  text-align: center;
  pointer-events: none;
}

device-view {
  position: relative;
  display: block;
}

device-view[device="handset"] {
  border-color: #999;
  border-style: solid;
  border-width: 60px 16px;
  border-radius: 36px;
}

device-view[device="handset"][landscape] {
  border-width: 16px 60px;
}

.device-container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-align: center;
      align-items: center;
  overflow: auto;
}

.device-list {
  margin: auto;
}

.device-list > device-view {
  display: none;
}

.device-list[view="all"] {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1400px;
  height: calc(904px * .5);
  margin: 0 auto;
}

.device-list[view="all"] > device-view {
  bottom: 0;
  box-sizing: content-box;
  display: block;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.device-list[view="all"] > device-view[device="window"] {
  position: static;
  width: 1366px;
  height: 800px;
  margin-left: 10%;
  border-color: #666;
  border-style: solid;
  border-width: 24px 24px 80px;
  border-radius: 6px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.device-list[view="all"] > device-view[device="window"]::after {
  content: "";
  position: absolute;
  bottom: -56px;
  left: -140px;
  right: -140px;
  display: block;
  height: 56px;
  margin: -24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #666;
}

.device-list[view="all"] > device-view[device="table"] {
  position: absolute;
  right: 17%;
  width: 1024px;
  height: 768px;
  border-color: #757575;
  border-style: solid;
  border-width: 16px 60px;
  border-radius: 36px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.device-list[view="all"] > device-view[device="handset"] {
  position: absolute;
  right: 5%;
  width: 360px;
  height: 640px;
  border-color: #999;
  border-style: solid;
  border-width: 60px 16px;
  border-radius: 36px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.device-list[view="window"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.device-list[view="window"] > device-view[device="window"] {
  display: block;
}

.device-list[view="handset"] {
  margin: auto;
}

.device-list[view="handset"] > device-view[device="handset"] {
  display: block;
  margin: 40px;
}

@media screen and (min-width: 1440px) and (min-height: 850px) {
  .device-list[view="all"] {
    max-width: 1700px;
    height: calc(904px * .75);
  }
  .device-list[view="all"] > device-view {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media screen and (max-width: 1024px), screen and (max-height: 550px) {
  .device-list[view="all"] {
    max-width: 980px;
    height: calc(904px * .35);
  }
  .device-list[view="all"] > device-view {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
  }
}

@media screen and (max-width: 720px), screen and (max-height: 420px) {
  .device-list[view="all"] {
    max-width: 500px;
    height: calc(904px * .18);
  }
  .device-list[view="all"] > device-view {
    -webkit-transform: scale(0.18);
            transform: scale(0.18);
  }
}

.frame-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.frame-device {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  background: #fff;
}

/*# sourceMappingURL=maps/docs.css.map */
