<<<<<<< HEAD
@charset "UTF-8";
@font-face {
  font-family: "icon";
  src: url("../fonts/iconfont.eot?t=1493977267384");
  /* IE9*/
  src: url("../fonts/iconfont.eot?t=1493977267384#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff?t=1493977267384") format("woff"), url("../fonts/iconfont.ttf?t=1493977267384") format("truetype"), url("../fonts/iconfont.svg?t=1493977267384#iconfont") format("svg");
  /* iOS 4.1- */
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-catalogue::before {
  content: "\e601";
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
html {
  position: relative;
}

html, body {
  height: auto;
  min-height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.02);
}

.doc-journey {
  position: relative;
  padding: 2rem 15px;
}

.doc-journey h1 {
  line-height: 1;
}

.doc-journey .btn {
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1.125rem;
}

@media (min-width: 600px) {
  .doc-journey {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .doc-journey h1 {
    font-size: 3rem;
  }
  .doc-journey .btn {
    padding: 0.875rem 2rem;
    border-radius: 5px;
    font-size: 1.125rem;
  }
  .doc-journey .btn:first-child {
    margin-right: 2rem;
  }
}

@media (min-width: 1440px) {
  .doc-journey .btn {
    width: 40%;
  }
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
.drawer-content {
  background: rgba(0, 0, 0, 0.02);
}

.doc-main {
  min-height: 500px;
  padding: 1.5rem 1rem;
}

.doc-content-header > a {
  margin: 0 .5rem;
}

.doc-content {
  border-right: 1px solid rgba(0, 0, 0, 0.065);
}

.doc-content > h2 {
  margin-top: 2rem;
}

.doc-content > h3 {
  margin-top: 1.5rem;
}

.doc-table {
  width: 80%;
}

.doc-table tr:nth-of-type(odd) {
  background: #f9f9f9;
}

.doc-table th {
  border-bottom: 1px solid #ddd;
}

.doc-table th,
.doc-table td {
  padding: .5rem 1.5rem;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.doc-table th:last-child,
.doc-table td:last-child {
  border-right: 1px solid #ddd;
}

.doc-table tr:last-child > td {
  border-bottom: 1px solid #ddd;
}

.doc-catalogue-header {
  position: relative;
}

.doc-catalogue-header::before {
  content: '目录';
  position: absolute;
  top: -25px;
  padding-left: 1rem;
  color: #999;
}

.doc-catalogue {
  margin-left: 1rem;
}

.doc-catalogue.doc-catalogue-header {
  margin-left: .5rem;
}

.doc-catalogue .menu-title {
  position: relative;
  width: 230px;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-catalogue .menu-title:hover::after, .doc-catalogue .menu-title.active::after {
  content: '';
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 0;
  border-left: 1px solid #193c5a;
}

.doc-catalogue .menu-title.active::after {
  border-left: 2px solid #193c5a;
}

.doc-catalogue-panel {
  margin-top: 50px;
}

@media (max-width: 1023px) {
  .doc-catalogue-panel {
    display: none !important;
  }
}

.doc-content {
  counter-reset: outline1;
}

.doc-content h1::before, .doc-content h2::before, .doc-content h3::before, .doc-content h4::before, .doc-content h5::before, .doc-content h6::before {
  margin-right: .5rem;
}

.doc-content > h1 {
  counter-reset: outline2;
}

.doc-content > h1::before {
  content: counter(outline1, decimal) ". ";
  counter-increment: outline1;
}

.doc-content > h1 ~ h2 {
  counter-reset: outline3;
}

.doc-content > h1 ~ h2::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.doc-content > h1 ~ h2 ~ h3 {
  counter-reset: outline4;
}

.doc-content > h1 ~ h2 ~ h3::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 {
  counter-reset: outline5;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 ~ h5 {
  counter-reset: outline6;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
  counter-increment: outline5;
}

.doc-content > h1 ~ h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) "." counter(outline6, decimal) ".";
  counter-increment: outline6;
}

.doc-content > h2 {
  counter-reset: outline2;
}

.doc-content > h2::before {
  content: counter(outline1, decimal) ".";
  counter-increment: outline1;
}

.doc-content > h2 ~ h3 {
  counter-reset: outline3;
}

.doc-content > h2 ~ h3::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.doc-content > h2 ~ h3 ~ h4 {
  counter-reset: outline4;
}

.doc-content > h2 ~ h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.doc-content > h2 ~ h3 ~ h4 ~ h5 {
  counter-reset: outline5;
}

.doc-content > h2 ~ h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.doc-content > h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
  counter-increment: outline5;
}

.doc-content > h3 {
  counter-reset: outline2;
}

.doc-content > h3::before {
  content: counter(outline1, decimal) ".";
  counter-increment: outline1;
}

.doc-content > h3 ~ h4 {
  counter-reset: outline3;
}

.doc-content > h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.doc-content > h3 ~ h4 ~ h5 {
  counter-reset: outline4;
}

.doc-content > h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.doc-content > h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */
.doc-copy {
  position: relative;
}

.doc-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3rem .7rem;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none;
  background: #2196f3;
  background: var(--theme-primary, #2196f3);
}

.doc-copy-btn:hover {
  background: #1976d2;
  background: var(--theme-primary-dark, #1976d2);
}

.doc-copy + .highlight {
  margin-top: 0;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
.doc-example-render {
  position: relative;
  padding: 1rem;
  margin: 1rem .5rem;
  border: solid #2196f3;
  border-width: 1px 0 0;
}

.doc-example-render::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 640px) {
  .doc-example-render {
    padding: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px 1px 0;
  }
}

.doc-example-container .container-fluid,
.doc-example-container .container {
  padding: 20px;
  color: #52145d;
  background-color: #f1d6f6;
  text-align: center;
}

.doc-example-row .row + .row {
  margin-top: 1rem;
}

.doc-example-row .row .row {
  border: 1px solid;
}

.doc-example-row [class*="col"] {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background: #4fc3f7;
  text-align: center;
}

.doc-example-row [class*="col"]:nth-of-type(2n) {
  background: #2196f3;
}

.doc-example-row-flex-cols .row {
  min-height: 5rem;
  background: #e1f5fe;
}

.doc-example-row-gutters .no-gutters {
  margin-top: 1rem;
}

.doc-example-row-gutters [class^="col"] > div {
  background: #ba68c8;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nl {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: #f8f8f8;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
.highlight {
  padding: 1rem;
  margin: 1rem .5rem;
  border: 1px solid #2196f3;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #eeeeee;
}

@media (min-width: 600px) {
  .highlight {
    padding: 2.1rem 1.5rem 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.doc-example .highlight {
  border-top: 0;
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}

.highlight pre code {
  font-size: inherit;
  color: #212121;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */
.footer-assist {
  padding-top: 4.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #e0e0e0;
  color: rgba(0, 0, 0, 0.54);
}

.doc-color-group {
  color: #fff;
}

.doc-primary-color {
  margin-bottom: .5rem;
}

.doc-color-title {
  padding: .75rem 1rem 2rem;
}

.doc-color {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: .75rem 1rem;
}

.doc-color-dark {
  color: rgba(0, 0, 0, 0.87);
}

.doc-color-a {
  margin-top: .5rem;
}

.doc-color-panel {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3rem;
}

.doc-color-panel > .col {
  padding-left: 0;
  padding-right: 0;
}

=======
@charset "UTF-8";.drawer-toggle .icon-pure-menu{color:hsla(0,0%,100%,.7);color:var(--theme-light-secondary,hsla(0,0%,100%,.7))}.drawer-toggle:hover .icon-pure-menu{color:#fff;color:var(--theme-light-primary,#fff)}.footer-assist{padding-top:4.5rem}.footer{position:absolute;bottom:0;width:100%;padding:1rem 0;border-top:1px solid rgba(0,0,0,.12);color:rgba(0,0,0,.54)}.perfect-menu.menu,.perfect-menu .menu{margin-left:0}.perfect-menu .menu-title{padding:.5rem 1rem}.perfect-menu .menu-sub-title:hover{color:#2196f3;color:var(--theme-primary,#2196f3)}.perfect-menu .menu-sub-title.active{border-right:3px solid;color:#1565c0;color:var(--theme-primary-darker,#1565c0);background-color:#e3f2fd;background-color:var(--theme-primary-lightest,#e3f2fd)}@supports (background-color:color(green a(10%))){.perfect-menu .menu-sub-title.active{background-color:color(var(--theme-primary-lightest) a(80%))}}.catalogue-counter{counter-reset:a}.catalogue-counter>h1:before,.catalogue-counter>h2:before,.catalogue-counter>h3:before,.catalogue-counter>h4:before,.catalogue-counter>h5:before,.catalogue-counter>h6:before{margin-right:.5rem}.catalogue-counter>h1{counter-reset:b}.catalogue-counter>h1:before{content:counter(a,decimal) ". ";counter-increment:a}.catalogue-counter>h1~h2{counter-reset:c}.catalogue-counter>h1~h2:before{content:counter(a,decimal) "." counter(b,decimal) ".";counter-increment:b}.catalogue-counter>h1~h2~h3{counter-reset:d}.catalogue-counter>h1~h2~h3:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) ".";counter-increment:c}.catalogue-counter>h1~h2~h3~h4{counter-reset:e}.catalogue-counter>h1~h2~h3~h4:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) "." counter(d,decimal) ".";counter-increment:d}.catalogue-counter>h1~h2~h3~h4~h5{counter-reset:f}.catalogue-counter>h1~h2~h3~h4~h5:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) "." counter(d,decimal) "." counter(e,decimal) ".";counter-increment:e}.catalogue-counter>h1~h2~h3~h4~h5~h6:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) "." counter(d,decimal) "." counter(e,decimal) "." counter(f,decimal) ".";counter-increment:f}.catalogue-counter>h2{counter-reset:b}.catalogue-counter>h2:before{content:counter(a,decimal) ".";counter-increment:a}.catalogue-counter>h2~h3{counter-reset:c}.catalogue-counter>h2~h3:before{content:counter(a,decimal) "." counter(b,decimal) ".";counter-increment:b}.catalogue-counter>h2~h3~h4{counter-reset:d}.catalogue-counter>h2~h3~h4:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) ".";counter-increment:c}.catalogue-counter>h2~h3~h4~h5{counter-reset:e}.catalogue-counter>h2~h3~h4~h5:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) "." counter(d,decimal) ".";counter-increment:d}.catalogue-counter>h2~h3~h4~h5~h6:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) "." counter(d,decimal) "." counter(e,decimal) ".";counter-increment:e}.catalogue-counter>h3{counter-reset:b}.catalogue-counter>h3:before{content:counter(a,decimal) ".";counter-increment:a}.catalogue-counter>h3~h4{counter-reset:c}.catalogue-counter>h3~h4:before{content:counter(a,decimal) "." counter(b,decimal) ".";counter-increment:b}.catalogue-counter>h3~h4~h5{counter-reset:d}.catalogue-counter>h3~h4~h5:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) ".";counter-increment:c}.catalogue-counter>h3~h4~h5~h6:before{content:counter(a,decimal) "." counter(b,decimal) "." counter(c,decimal) "." counter(d,decimal) ".";counter-increment:d}html{position:relative}body,html{height:auto;min-height:100%}.drawer-content{overflow:hidden}.doc-content-header{padding-right:4rem}.doc-content-header a{margin-right:1rem}.doc-content-header a:last-child{margin-right:0}.doc-main{min-height:500px;padding:0 1rem}.doc-main li,.doc-main p{line-height:2}.doc-main p{margin-top:1rem;margin-bottom:1rem}.doc-main h1,.doc-main h2,.doc-main h3{margin-top:2rem}.doc-table{width:95%;margin-bottom:1rem}.doc-table tbody>tr:nth-of-type(odd){background-color:#f3e5f5;background-color:var(--theme-secondary-lightest,#f3e5f5)}.doc-table th{border-bottom:1px solid;border-bottom-color:#e1bee7;border-bottom-color:var(--theme-secondary-lighter,#e1bee7)}.doc-table td,.doc-table th{padding:.5rem 1rem;border-top:1px solid;border-left:1px solid;border-color:#e1bee7;border-color:var(--theme-secondary-lighter,#e1bee7)}.doc-table td:last-child,.doc-table th:last-child{border-right:1px solid;border-color:#e1bee7;border-color:var(--theme-secondary-lighter,#e1bee7)}.doc-table tr:last-child>td{border-bottom:1px solid;border-color:#e1bee7;border-color:var(--theme-secondary-lighter,#e1bee7)}.doc-catalogue-menu:hover .doc-catalogue-panel{transform:translate(0)}.doc-catalogue-panel{position:fixed;top:64px;right:0;z-index:1;padding-top:.5rem;border-bottom:1px solid;border-left:1px solid;overflow:hidden;background-color:#fff;transform:translate(200%);border-color:#f3e5f5;border-color:var(--theme-secondary-lightest,#f3e5f5);transition:transform .12s cubic-bezier(.4,0,.2,1)}.doc-catalogue-icon{position:fixed;top:4.5rem;right:.5rem;z-index:1;background-color:hsla(0,0%,100%,.5);background-color:var(--theme-light-hint,hsla(0,0%,100%,.5));cursor:pointer}.doc-catalogue-icon .icon-pure-catalogue{color:#e040fb;color:var(--theme-secondary,#e040fb)}.doc-catalogue-menu-right{display:none}.doc-content{padding-top:1rem;padding-bottom:1rem}.doc-content>h1{font-size:1.75rem}.doc-content>h2{font-size:1.5rem}.doc-content>h3{font-size:1.25rem;font-size:1.125rem}@media screen and (min-width:1600px){.doc-catalogue-menu{display:none}.doc-main{display:flex}.doc-content{flex:0 0 79.1666666667%;max-width:79.1666666667%}.doc-catalogue-menu-right{display:block;flex:0 0 20.8333333333%;max-width:20.8333333333%;margin-left:1rem;border-left:1px solid rgba(0,0,0,.12)}.doc-catalogue-panel{position:static;right:auto;margin-top:1rem;border:0;transform:translate(0)}.doc-catalogue-header:before{content:"目录";padding-left:.5rem;color:#999}}.doc-catalogue .menu-title{position:relative;min-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.doc-catalogue .menu-title.active:after,.doc-catalogue .menu-title:hover:after{content:"";position:absolute;top:25%;bottom:20%;left:0;border-left:1px solid;border-left-color:#e040fb;border-left-color:var(--theme-secondary,#e040fb)}.doc-catalogue .menu-title.active:after{border-left-width:2px}.doc-example{position:relative;margin-bottom:1rem;border:1px solid;border-color:#e1bee7;border-color:var(--theme-secondary-lighter,#e1bee7);border-radius:4px;transition:all .2s}.doc-example:hover .icon-pure-code,.doc-example:hover .icon-pure-code-expand{color:#e040fb;color:var(--theme-secondary,#e040fb)}.doc-example-render{padding:1rem 1rem 0}.doc-example-render p:last-of-type{margin-bottom:0}.doc-example-expand{position:relative;display:flex;justify-content:flex-end;margin:.5rem 2rem}.icon-pure-code,.icon-pure-code-expand{transform:rotate(-45deg) scale(.8);color:#e1bee7;color:var(--theme-secondary-lighter,#e1bee7)}.doc-code-icon{width:2.5rem;cursor:pointer}.doc-code-icon:hover .icon-pure-code,.doc-code-icon:hover .icon-pure-code-expand{color:#e040fb;color:var(--theme-secondary,#e040fb)}.doc-code-icon:hover+.tooltip{top:-3rem;right:-.8rem;display:block;opacity:.8}.doc-example-highlight.highlight{display:none;border:0;border-top:1px dashed;border-top-color:#e1bee7;border-top-color:var(--theme-secondary-lighter,#e1bee7);transition:display .12s cubic-bezier(.4,0,.2,1)}.doc-code-copy{position:absolute;top:1rem;right:3rem;display:none}.doc-code-copy .icon-pure-copy{cursor:pointer;transform:scale(.6);color:#e1bee7;color:var(--theme-secondary-lighter,#e1bee7)}.doc-code-copy:hover .icon-pure-copy{color:#e040fb;color:var(--theme-secondary,#e040fb)}.doc-code-copy:hover+.tooltip{top:-2rem;right:1.5rem;display:block;opacity:.8}.doc-example-highlight{position:relative}.doc-example-highlight:hover .doc-code-copy{display:block}.doc-example-highlight:hover .doc-code-copy .icon-pure-copy{color:#e040fb;color:var(--theme-secondary,#e040fb)}.doc-example-row .row+.row{margin-top:1rem}.doc-example-row .row .row{border:1px solid}.doc-example-row [class*=col]{padding-top:.5rem;padding-bottom:.5rem;color:#fff;background-color:#64b5f6;background-color:var(--theme-primary-light,#64b5f6);text-align:center}.doc-example-row [class*=col]:nth-of-type(2n){background-color:#2196f3;background-color:var(--theme-primary,#2196f3)}.doc-example-row-flex-cols .row{min-height:5rem;background-color:#e3f2fd;background-color:var(--theme-primary-lightest,#e3f2fd)}.doc-example-row-gutters .no-gutters{margin-top:1rem}.doc-example-row-gutters [class^=col]>div{background-color:#ea80fc;background-color:var(--theme-secondary-light,#ea80fc)}.highlight table td{padding:5px}.highlight table pre{margin:0}.highlight .cm{color:#998;font-style:italic}.highlight .cp{color:#999;font-weight:700}.highlight .c1{color:#998;font-style:italic}.highlight .cs{color:#999;font-weight:700;font-style:italic}.highlight .c,.highlight .cd{color:#998;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .gd{color:#000;background-color:#fdd}.highlight .ge{color:#000;font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000;background-color:#dfd}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:700}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr{color:#000;font-weight:700}.highlight .kt{color:#458;font-weight:700}.highlight .k,.highlight .kv{color:#000;font-weight:700}.highlight .il,.highlight .m,.highlight .mb,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .mx{color:#099}.highlight .s2,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .bp{color:#999}.highlight .nb{color:#0086b3}.highlight .nc{color:#458;font-weight:700}.highlight .no{color:teal}.highlight .nd{color:#3c5d5d;font-weight:700}.highlight .ni{color:purple}.highlight .ne,.highlight .nf,.highlight .nl{color:#900;font-weight:700}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi{color:teal}.highlight .o,.highlight .ow{color:#000;font-weight:700}.highlight .w{color:#bbb}.highlight{background-color:#f8f8f8}.highlighter-rouge:hover{position:relative}.highlighter-rouge:hover .doc-code-copy{display:block}.highlight{padding:1rem;border:1px solid;border-color:#e1bee7;border-color:var(--theme-secondary-lighter,#e1bee7);-ms-overflow-style:-ms-autohiding-scrollbar}.highlight,.highlight pre{background-color:transparent}.highlight pre{padding:0;margin-top:0;margin-bottom:0;border:0}.highlight pre code{font-size:inherit}.doc-color-group{color:#fff}.doc-primary-color{margin-bottom:.5rem}.doc-color-title{padding:.75rem 1rem 2rem}.doc-color{display:flex;justify-content:space-between;padding:.75rem 1rem}.doc-color-dark{color:rgba(0,0,0,.87)}.doc-color-a{margin-top:.5rem}.doc-color-panel{padding-left:10px;padding-right:10px;margin-bottom:3rem}.doc-color-panel>.col{padding-left:0;padding-right:0}
>>>>>>> 274d71830943ddf222d83be4859ecf2552378ea5
/*# sourceMappingURL=maps/docs.css.map */
