@charset "UTF-8";

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

.drawer-toggle .icon-pure-menu {
  color: rgba(255, 255, 255, 0.7);
  color: var(--theme-light-secondary, rgba(255, 255, 255, 0.7));
}

.drawer-toggle:hover .icon-pure-menu {
  color: #ffffff;
  color: var(--theme-light-primary, #ffffff);
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

.footer-assist {
  padding-top: 4.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

.perfect-menu.menu,
.perfect-menu .menu {
  margin-left: 0;
}

.perfect-menu .menu-title {
  padding: .5rem 1rem;
}

.perfect-menu .menu-title:hover {
  color: #64b5f6;
  color: var(--theme-primary-light, #64b5f6);
}

.perfect-menu .menu-title.active {
  color: #2196f3;
  color: var(--theme-primary, #2196f3);
}

.perfect-menu .menu-sub-title:hover {
  color: #2196f3;
  color: var(--theme-primary, #2196f3);
}

.perfect-menu .menu-sub-title.active {
  border-right: 3px solid;
  color: #1565c0;
  color: var(--theme-primary-darker, #1565c0);
  background-color: #e3f2fd;
  background-color: var(--theme-primary-lightest, #e3f2fd);
}

@supports (background-color: color(green a(10%))) {
  .perfect-menu .menu-sub-title.active {
    background-color: color(var(--theme-primary-lightest) a(80%));
  }
}

.catalogue-counter {
  counter-reset: outline1;
}

.catalogue-counter > h1::before,
.catalogue-counter > h2::before,
.catalogue-counter > h3::before,
.catalogue-counter > h4::before,
.catalogue-counter > h5::before,
.catalogue-counter > h6::before {
  margin-right: .5rem;
}

.catalogue-counter > h1 {
  counter-reset: outline2;
}

.catalogue-counter > h1::before {
  content: counter(outline1, decimal) ". ";
  counter-increment: outline1;
}

.catalogue-counter > h1 ~ h2 {
  counter-reset: outline3;
}

.catalogue-counter > h1 ~ h2::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.catalogue-counter > h1 ~ h2 ~ h3 {
  counter-reset: outline4;
}

.catalogue-counter > h1 ~ h2 ~ h3::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.catalogue-counter > h1 ~ h2 ~ h3 ~ h4 {
  counter-reset: outline5;
}

.catalogue-counter > h1 ~ h2 ~ h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.catalogue-counter > h1 ~ h2 ~ h3 ~ h4 ~ h5 {
  counter-reset: outline6;
}

.catalogue-counter > h1 ~ h2 ~ h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
  counter-increment: outline5;
}

.catalogue-counter > h1 ~ h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) "." counter(outline6, decimal) ".";
  counter-increment: outline6;
}

.catalogue-counter > h2 {
  counter-reset: outline2;
}

.catalogue-counter > h2::before {
  content: counter(outline1, decimal) ".";
  counter-increment: outline1;
}

.catalogue-counter > h2 ~ h3 {
  counter-reset: outline3;
}

.catalogue-counter > h2 ~ h3::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.catalogue-counter > h2 ~ h3 ~ h4 {
  counter-reset: outline4;
}

.catalogue-counter > h2 ~ h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.catalogue-counter > h2 ~ h3 ~ h4 ~ h5 {
  counter-reset: outline5;
}

.catalogue-counter > h2 ~ h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

.catalogue-counter > h2 ~ h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) "." counter(outline5, decimal) ".";
  counter-increment: outline5;
}

.catalogue-counter > h3 {
  counter-reset: outline2;
}

.catalogue-counter > h3::before {
  content: counter(outline1, decimal) ".";
  counter-increment: outline1;
}

.catalogue-counter > h3 ~ h4 {
  counter-reset: outline3;
}

.catalogue-counter > h3 ~ h4::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) ".";
  counter-increment: outline2;
}

.catalogue-counter > h3 ~ h4 ~ h5 {
  counter-reset: outline4;
}

.catalogue-counter > h3 ~ h4 ~ h5::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) ".";
  counter-increment: outline3;
}

.catalogue-counter > h3 ~ h4 ~ h5 ~ h6::before {
  content: counter(outline1, decimal) "." counter(outline2, decimal) "." counter(outline3, decimal) "." counter(outline4, decimal) ".";
  counter-increment: outline4;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

.anchor-link {
  font-weight: 400;
  color: #64b5f6;
  color: var(--theme-primary-light, #64b5f6);
  -webkit-transition: color 0.16s cubic-bezier(0, 0, 0.2, 1), opacity 0.16s cubic-bezier(0, 0, 0.2, 1);
  transition: color 0.16s cubic-bezier(0, 0, 0.2, 1), opacity 0.16s cubic-bezier(0, 0, 0.2, 1);
}

.anchor-link:hover {
  color: #2196f3;
  color: var(--theme-primary, #2196f3);
  text-decoration: none;
}

html {
  position: relative;
}

html,
body {
  height: auto;
  min-height: 100%;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

.drawer-content {
  overflow: hidden;
}

.doc-content-header {
  padding-right: 4rem;
}

.doc-content-header a {
  margin-right: 1rem;
}

.doc-content-header a:last-child {
  margin-right: 0;
}

.doc-main {
  min-height: 500px;
  padding: 0 1rem;
}

.doc-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.doc-content > h1 {
  font-size: 1.75rem;
}

.doc-content > h2 {
  font-size: 1.5rem;
}

.doc-content > h3 {
  font-size: 1.25rem;
}

.doc-content > h4 {
  font-size: 1.125rem;
}

.doc-content > h1,
.doc-content > h2 {
  margin-top: 3rem;
}

.doc-content > h3,
.doc-content > h4,
.doc-content > h5,
.doc-content > h6 {
  margin-top: 2rem;
}

.doc-content > h1:first-of-type,
.doc-content > h2:first-of-type {
  margin-top: 1rem;
}

.doc-content > h1 .anchor-header,
.doc-content > h2 .anchor-header,
.doc-content > h3 .anchor-header,
.doc-content > h4 .anchor-header,
.doc-content > h5 .anchor-header,
.doc-content > h6 .anchor-header {
  display: inline-block;
  height: 5.5rem;
  margin-top: -5.5rem;
  visibility: hidden;
}

.doc-content > h1 .anchor-link,
.doc-content > h2 .anchor-link,
.doc-content > h3 .anchor-link,
.doc-content > h4 .anchor-link,
.doc-content > h5 .anchor-link,
.doc-content > h6 .anchor-link {
  padding-left: 0.375rem;
  opacity: 0;
}

.doc-content > h1:hover > .anchor-link,
.doc-content > h1 .anchor-link:focus,
.doc-content > h2:hover > .anchor-link,
.doc-content > h2 .anchor-link:focus,
.doc-content > h3:hover > .anchor-link,
.doc-content > h3 .anchor-link:focus,
.doc-content > h4:hover > .anchor-link,
.doc-content > h4 .anchor-link:focus,
.doc-content > h5:hover > .anchor-link,
.doc-content > h5 .anchor-link:focus,
.doc-content > h6:hover > .anchor-link,
.doc-content > h6 .anchor-link:focus {
  opacity: 1;
}

.doc-content > p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2;
}

.doc-content a {
  margin-left: .25rem;
  margin-right: .25rem;
}

.doc-content > hr {
  border-top: 1px dashed;
  border-color: #64b5f6;
  border-color: var(--theme-primary-light, #64b5f6);
}

.doc-table {
  width: 95%;
  margin-bottom: 1rem;
}

.doc-table tbody > tr:nth-of-type(odd) {
  background-color: #f3e5f5;
  background-color: var(--theme-secondary-lightest, #f3e5f5);
}

.doc-table th {
  border-bottom: 1px solid;
  border-bottom-color: #e1bee7;
  border-bottom-color: var(--theme-secondary-lighter, #e1bee7);
}

.doc-table th,
.doc-table td {
  padding: .5rem 1rem;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #e1bee7;
  border-color: var(--theme-secondary-lighter, #e1bee7);
}

.doc-table th:last-child,
.doc-table td:last-child {
  border-right: 1px solid;
  border-color: #e1bee7;
  border-color: var(--theme-secondary-lighter, #e1bee7);
}

.doc-table tr:last-child > td {
  border-bottom: 1px solid;
  border-color: #e1bee7;
  border-color: var(--theme-secondary-lighter, #e1bee7);
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

/**
* 关于 font weight 的设置，跟字体粗细值有关
* 1. 在 Safari 和 IOS 系统下，默认字体粗细分为
    100-300   400-500  600-700  800-900  四种，对应为
    lighter 比从父元素继承来的值更细(处在字体可行的粗细值范围内)。
    normal 正常粗细，与400等值。
    bold 加粗， 与700等值
    bolder 比从父元素继承来的值更粗 (处在字体可行的粗细值范围内)。
 如果设为 -apple-system 或 "PingFang SC"时，就会有更多的字体粗细，
  100 200 300 400 500 600-900 六种粗细
  其中 lighter 对应 100    normal 对应 400    bold 对应 700    bolder 对应 700

*  2 在 Chrome 下，默认字体粗细只有两种
   100-400 500-900 对应为 normal 和 bold，如果设置为 lighter，则等价于 normal， 设为 bolder 等价于 bold
   如果设为 "PingFang SC" 同样有六种字体粗细，参考上面
* 所以 font-weight 字体粗细跟字体有关。关于字体粗细的回退机制可以参考以下文章
  https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-weight
**/

.doc-catalogue-menu:hover .doc-catalogue-panel {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.doc-catalogue-panel {
  position: fixed;
  top: 64px;
  right: 0;
  z-index: 1000;
  padding-top: .5rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  overflow: hidden;
  background-color: #fff;
  -webkit-transform: translate(200%, 0);
          transform: translate(200%, 0);
  border-color: #f3e5f5;
  border-color: var(--theme-secondary-lightest, #f3e5f5);
  -webkit-transition: -webkit-transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 120ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.doc-catalogue-icon {
  position: fixed;
  top: 4.5rem;
  right: .5rem;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: var(--theme-light-hint, rgba(255, 255, 255, 0.5));
  cursor: pointer;
}

.doc-catalogue-icon .icon-pure-catalogue {
  color: #e040fb;
  color: var(--theme-secondary, #e040fb);
}

.doc-catalogue-menu-right {
  display: none;
}

@media screen and (min-width: 1600px) {
  .doc-catalogue-menu {
    display: none;
  }

  .doc-main {
    display: -ms-flexbox;
    display: flex;
  }

  .doc-content {
    -ms-flex: 0 0 79.1666666667%;
        flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }

  .doc-catalogue-menu-right {
    display: block;
    -ms-flex: 0 0 20.8333333333%;
        flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
    margin-left: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  .doc-catalogue-panel {
    position: static;
    right: auto;
    margin-top: 1rem;
    border: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .doc-catalogue-header {
    position: relative;
    margin-top: 1.25rem;
  }

  .doc-catalogue-header::before {
    content: "\76EE\5F55";
    position: absolute;
    top: -2rem;
    padding-left: .5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

.doc-catalogue .menu-title {
  position: relative;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-catalogue .menu-title:hover::after,
.doc-catalogue .menu-title.active::after {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 20%;
  left: 0;
  border-left: 1px solid;
  border-left-color: #e040fb;
  border-left-color: var(--theme-secondary, #e040fb);
}

.doc-catalogue .menu-title.active::after {
  border-left-width: 2px;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

.doc-example {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid;
  border-color: #e1bee7;
  border-color: var(--theme-secondary-lighter, #e1bee7);
  border-radius: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.doc-example:hover .icon-pure-code,
.doc-example:hover .icon-pure-code-expand {
  color: #e040fb;
  color: var(--theme-secondary, #e040fb);
}

.doc-example-render {
  padding: 1rem 1rem 0;
}

.doc-example-render p:last-of-type {
  margin-bottom: 0;
}

.doc-example-expand {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: .5rem 2rem;
}

.icon-pure-code,
.icon-pure-code-expand {
  -webkit-transform: rotate(-45deg) scale(0.6);
          transform: rotate(-45deg) scale(0.6);
  color: #e1bee7;
  color: var(--theme-secondary-lighter, #e1bee7);
}

.doc-code-icon {
  width: 2.5rem;
  cursor: pointer;
}

.doc-code-icon:hover .icon-pure-code,
.doc-code-icon:hover .icon-pure-code-expand {
  color: #e040fb;
  color: var(--theme-secondary, #e040fb);
}

.doc-code-icon:hover + .tooltip {
  top: -3rem;
  right: -.8rem;
  display: block;
  opacity: .8;
}

.doc-example-highlight.highlight {
  display: none;
  border: 0;
  border-top: 1px dashed;
  border-top-color: #e1bee7;
  border-top-color: var(--theme-secondary-lighter, #e1bee7);
  -webkit-transition: display 120ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: display 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.doc-code-copy {
  position: absolute;
  top: 1rem;
  right: 3rem;
  display: none;
}

.doc-code-copy .icon-pure-copy {
  cursor: pointer;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  color: #e1bee7;
  color: var(--theme-secondary-lighter, #e1bee7);
}

.doc-code-copy:hover .icon-pure-copy {
  color: #e040fb;
  color: var(--theme-secondary, #e040fb);
}

.doc-code-copy:hover + .tooltip {
  top: -2rem;
  right: 1.5rem;
  display: block;
  opacity: .8;
}

.doc-example-highlight {
  position: relative;
}

.doc-example-highlight:hover .doc-code-copy {
  display: block;
}

.doc-example-highlight:hover .doc-code-copy .icon-pure-copy {
  color: #e040fb;
  color: var(--theme-secondary, #e040fb);
}

.doc-example-row .row + .row {
  margin-top: 1rem;
}

.doc-example-row .row .row {
  border: 1px solid;
}

.doc-example-row [class*="col"] {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #fff;
  background-color: #64b5f6;
  background-color: var(--theme-primary-light, #64b5f6);
  text-align: center;
}

.doc-example-row [class*="col"]:nth-of-type(2n) {
  background-color: #2196f3;
  background-color: var(--theme-primary, #2196f3);
}

.doc-example-row-flex-cols .row {
  min-height: 5rem;
  background-color: #e3f2fd;
  background-color: var(--theme-primary-lightest, #e3f2fd);
}

.doc-example-row-gutters .no-gutters {
  margin-top: 1rem;
}

.doc-example-row-gutters [class^="col"] > div {
  background-color: #ea80fc;
  background-color: var(--theme-secondary-light, #ea80fc);
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k,
.highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nl {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: #f8f8f8;
}

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * 计算两种颜色的对比度，一般指前景色和背景色
 * https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests 第3点
 */

/**
 * Applies the correct theme color style to the specified property.
 * $property is typically color or background-color, but can be any CSS property that accepts color values.
 * $style should be one of the map keys in $theme-property-values (_variables.scss).
 */

.highlighter-rouge {
  margin-bottom: 1rem;
}

.highlighter-rouge:hover {
  position: relative;
}

.highlighter-rouge:hover .doc-code-copy {
  display: block;
}

.highlight {
  padding: 1rem;
  border: 1px solid;
  border-color: #e1bee7;
  border-color: var(--theme-secondary-lighter, #e1bee7);
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: transparent;
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}

.highlight pre code {
  font-size: inherit;
}

.doc-color-group {
  color: #fff;
}

.doc-primary-color {
  margin-bottom: .5rem;
}

.doc-color-title {
  padding: .75rem 1rem 2rem;
}

.doc-color {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: .75rem 1rem;
}

.doc-color-dark {
  color: rgba(0, 0, 0, 0.87);
}

.doc-color-a {
  margin-top: .5rem;
}

.doc-color-panel {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3rem;
}

.doc-color-panel > .col {
  padding-left: 0;
  padding-right: 0;
}


/*# sourceMappingURL=docs.css.map*/