@charset "UTF-8";
/**
* 关于 font weight 的设置，跟字体粗细值有关
* 1. 在 Safari 和 IOS 系统下，默认字体粗细分为
    100-300   400-500  600-700  800-900  四种，对应为
    lighter 比从父元素继承来的值更细(处在字体可行的粗细值范围内)。
    normal 正常粗细，与400等值。
    bold 加粗， 与700等值
    bolder 比从父元素继承来的值更粗 (处在字体可行的粗细值范围内)。
 如果设为 -apple-system 或 "PingFang SC"时，就会有更多的字体粗细，
  100 200 300 400 500 600-900 六种粗细
  其中 lighter 对应 100    normal 对应 400    bold 对应 700    bolder 对应 700

*  2 在 Chrome 下，默认字体粗细只有两种
   100-400 500-900 对应为 normal 和 bold，如果设置为 lighter，则等价于 normal， 设为 bolder 等价于 bold
   如果设为 "PingFang SC" 同样有六种字体粗细，参考上面
* 所以 font-weight 字体粗细跟字体有关。关于字体粗细的回退机制可以参考以下文章
  https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-weight
**/
/**
* 响应式和媒体查询，设备大小分界点为
{
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}
 */
/**
* 返回响应式设备大小的下一个名称值
* $name 当前值
* $breakpoint 响应式布局列表值
* $breakpoint-names 对应的所有键
* 比如 breakpoint-next(sm)  结果为 md
* breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px)) 结果为 md
* breakpoint-next(sm, $breakpoint-names: (xs sm md)) 结果为 md
* breakpoint-next(md, $breakpoint-names: (xs sm md)) 结果为 null
 */
/**
* 根据键返回响应式对应的媒体查询区间值的最小值， 如果没找到或值为0返回 null
* breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px)) 结果为 576px
* breakpoint-min(xs, (xs: 0, sm: 576px, md: 768px)) 结果为 null
 */
/**
* 根据键返回响应式对应的媒体查询区间值的最大值（即为下一个拐点值 - 1px）， 如果没找到返回 null
* breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px)) 结果为 767px
* breakpoint-max(md, (xs: 0, sm: 576px, md: 768px)) 结果为 null
 */
/**
* 如果 $name 为响应式最小值对应的键，怎返回一个空字符串，否则返回键前面加一个破折号，
* breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px)) 结果为 ""
* breakpoint-infix(md, (xs: 0, sm: 576px, md: 768px)) 结果为 "-md"
 */
/**
* 如果 $name 为最小值，即 xs 时，则不用媒体查询输出样式，否则为媒体查询输出，
* 并设置其最小宽度，即当设备宽度达到该值时，应用定义的该样式
.test {
  @include media-breakpoint-up(sm) {
    color: red;
  }
}
输出结果为
@media (min-width: 576px) {
  .test {
    color: red;
  }
}

.test {
  @include media-breakpoint-up(sm) {
    color: red;
  }
}
输出结果为
.test {
  color: red;
}
 */
/**
* 跟 media-breakpoint-up 相反 如果 $name 为最大值，即 xl 时，则使用媒体查询输出样式，否则不用媒体查询输出，
* 并设置其最大宽度，即当设备宽度小于等于该值时，应用定义的该样式
.test {
  @include media-breakpoint-down(sm) {
    color: red;
  }
}
输出结果为
@media (max-width: 767px) {
  .test {
    color: red;
  }
}

.test {
  @include media-breakpoint-down(xl) {
    color: red;
  }
}
输出结果为
.test {
  color: red;
}
 */
/**
* 设置媒体查询最大和最小区间样式
.test {
  @include media-breakpoint-between(sm, lg) {
    color: red;
  }
}
输出结果为
@media (min-width: 576px) and (max-width: 1199px) {
  .test {
    color: red;
  }
}
 */
/**
* 设置某一媒体查询区间最大和最小区间样式，比如 sm 的区间为 576px  767px
.test {
  @include media-breakpoint-only(sm) {
    color: red;
  }
}
输出结果为
@media (min-width: 576px) and (max-width: 767px) {
  .test {
    color: red;
  }
}
 */
/* 如果我们不使用响应式布局时，即把变量值 $enable-breakpoint 设为 false 时，*/
/*// 自定义 pow 函数，实现 n 的 m 次方，n 和 m 为任意正数
@function pow2($n, $m) {
  @return pow($n, $m)
}*/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.vertical-baseline {
  vertical-align: baseline !important;
}

.vertical-top {
  vertical-align: top !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.vertical-bottom {
  vertical-align: bottom !important;
}

.vertical-text-bottom {
  vertical-align: text-bottom !important;
}

.vertical-text-top {
  vertical-align: text-top !important;
}

.bg-primary {
  background-color: #2196f3 !important;
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #0c7cd5 !important;
}

.bg-secondary {
  background-color: #757575 !important;
}

a.bg-secondary:focus, a.bg-secondary:hover {
  background-color: #5c5b5b !important;
}

.bg-success {
  background-color: #4caf50 !important;
}

a.bg-success:focus, a.bg-success:hover {
  background-color: #3d8b40 !important;
}

.bg-info {
  background-color: #00bcd4 !important;
}

a.bg-info:focus, a.bg-info:hover {
  background-color: #008fa1 !important;
}

.bg-warning {
  background-color: #ff9800 !important;
}

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #cc7a00 !important;
}

.bg-danger {
  background-color: #f44336 !important;
}

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #ea1c0d !important;
}

.bg-light {
  background-color: #eeeeee !important;
}

a.bg-light:focus, a.bg-light:hover {
  background-color: #d5d4d4 !important;
}

.bg-dark {
  background-color: #424242 !important;
}

a.bg-dark:focus, a.bg-dark:hover {
  background-color: #292828 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #eeeeee !important;
}

.border-top {
  margin-top: -1px;
  border-top: 1px solid #eeeeee !important;
}

.border-bottom {
  margin-bottom: -1px;
  border-bottom: 1px solid #eeeeee !important;
}

.border-left {
  margin-left: -1px;
  border-left: 1px solid #eeeeee !important;
}

.border-right {
  margin-right: -1px;
  border-right: 1px solid #eeeeee !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #2196f3 !important;
}

.border-secondary {
  border-color: #757575 !important;
}

.border-success {
  border-color: #4caf50 !important;
}

.border-info {
  border-color: #00bcd4 !important;
}

.border-warning {
  border-color: #ff9800 !important;
}

.border-danger {
  border-color: #f44336 !important;
}

.border-light {
  border-color: #eeeeee !important;
}

.border-dark {
  border-color: #424242 !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-0 {
  border-radius: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.d-print-block {
  display: none !important;
}

@media print {
  .d-print-block {
    display: block !important;
  }
}

.d-print-inline {
  display: none !important;
}

@media print {
  .d-print-inline {
    display: inline !important;
  }
}

.d-print-inline-block {
  display: none !important;
}

@media print {
  .d-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
}

.flex-row {
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
      flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
      justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
      justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
      align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
      align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
      align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
      align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
      align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
}

.pos-abs {
  position: absolute !important;
}

.pos-abs-top {
  position: absolute !important;
  top: 0;
}

.pos-abs-bottom {
  position: absolute !important;
  bottom: 0;
}

.pos-abs-left {
  position: absolute !important;
  left: 0;
}

.pos-abs-right {
  position: absolute !important;
  right: 0;
}

.pos-rel {
  position: relative !important;
}

.pos-fixed {
  position: fixed !important;
}

.pos-sta {
  position: static !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
  }
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-t-1 {
  margin-top: 0.25rem !important;
}

.m-r-1 {
  margin-right: 0.25rem !important;
}

.m-b-1 {
  margin-bottom: 0.25rem !important;
}

.m-l-1 {
  margin-left: 0.25rem !important;
}

.m-x-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-y-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-t-2 {
  margin-top: 0.5rem !important;
}

.m-r-2 {
  margin-right: 0.5rem !important;
}

.m-b-2 {
  margin-bottom: 0.5rem !important;
}

.m-l-2 {
  margin-left: 0.5rem !important;
}

.m-x-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-y-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-t-3 {
  margin-top: 1rem !important;
}

.m-r-3 {
  margin-right: 1rem !important;
}

.m-b-3 {
  margin-bottom: 1rem !important;
}

.m-l-3 {
  margin-left: 1rem !important;
}

.m-x-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-y-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-t-4 {
  margin-top: 1.5rem !important;
}

.m-r-4 {
  margin-right: 1.5rem !important;
}

.m-b-4 {
  margin-bottom: 1.5rem !important;
}

.m-l-4 {
  margin-left: 1.5rem !important;
}

.m-x-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.m-y-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-t-5 {
  margin-top: 3rem !important;
}

.m-r-5 {
  margin-right: 3rem !important;
}

.m-b-5 {
  margin-bottom: 3rem !important;
}

.m-l-5 {
  margin-left: 3rem !important;
}

.m-x-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.m-y-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-t-1 {
  padding-top: 0.25rem !important;
}

.p-r-1 {
  padding-right: 0.25rem !important;
}

.p-b-1 {
  padding-bottom: 0.25rem !important;
}

.p-l-1 {
  padding-left: 0.25rem !important;
}

.p-x-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.p-y-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-t-2 {
  padding-top: 0.5rem !important;
}

.p-r-2 {
  padding-right: 0.5rem !important;
}

.p-b-2 {
  padding-bottom: 0.5rem !important;
}

.p-l-2 {
  padding-left: 0.5rem !important;
}

.p-x-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.p-y-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-t-3 {
  padding-top: 1rem !important;
}

.p-r-3 {
  padding-right: 1rem !important;
}

.p-b-3 {
  padding-bottom: 1rem !important;
}

.p-l-3 {
  padding-left: 1rem !important;
}

.p-x-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.p-y-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-t-4 {
  padding-top: 1.5rem !important;
}

.p-r-4 {
  padding-right: 1.5rem !important;
}

.p-b-4 {
  padding-bottom: 1.5rem !important;
}

.p-l-4 {
  padding-left: 1.5rem !important;
}

.p-x-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.p-y-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.p-t-5 {
  padding-top: 3rem !important;
}

.p-r-5 {
  padding-right: 3rem !important;
}

.p-b-5 {
  padding-bottom: 3rem !important;
}

.p-l-5 {
  padding-left: 3rem !important;
}

.p-x-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.p-y-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.m-t-auto {
  margin-top: auto !important;
}

.m-r-auto {
  margin-right: auto !important;
}

.m-b-auto {
  margin-bottom: auto !important;
}

.m-l-auto {
  margin-left: auto !important;
}

.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  word-break: break-all;
  white-space: pre-wrap !important;
}

.text-nowrap {
  word-break: keep-all;
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #2196f3 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #0c7cd5 !important;
}

.text-secondary {
  color: #757575 !important;
}

a.text-secondary:focus, a.text-secondary:hover {
  color: #5c5b5b !important;
}

.text-success {
  color: #4caf50 !important;
}

a.text-success:focus, a.text-success:hover {
  color: #3d8b40 !important;
}

.text-info {
  color: #00bcd4 !important;
}

a.text-info:focus, a.text-info:hover {
  color: #008fa1 !important;
}

.text-warning {
  color: #ff9800 !important;
}

a.text-warning:focus, a.text-warning:hover {
  color: #cc7a00 !important;
}

.text-danger {
  color: #f44336 !important;
}

a.text-danger:focus, a.text-danger:hover {
  color: #ea1c0d !important;
}

.text-light {
  color: #eeeeee !important;
}

a.text-light:focus, a.text-light:hover {
  color: #d5d4d4 !important;
}

.text-dark {
  color: #424242 !important;
}

a.text-dark:focus, a.text-dark:hover {
  color: #292828 !important;
}

.text-muted {
  color: #f5f5f5 !important;
}

/*# sourceMappingURL=maps/perfect-utils.css.map */
