// 公共部分

@import "./variable";
@import "./mixin";

[class*="icon-pure-"] {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  font-style: normal;
  color: $icon-color;
  vertical-align: middle;

  &::before,
  &::after {
    content: '';
    pointer-events: none;
  }

  &:hover,
  &.active {
    color: $icon-active-color;
  }

  // 外围套上圆弧样式
  &[data-circle] {
    width: $icon-size * 1.5;
    height: $icon-size * 1.5;
    border: 2px solid;
    border-radius: 50%;
  }
}
