// 加减图标

@import "./variable";
@import "./mixin";

// 减
.icon-pure-minus {
  &::before {
    @include icon-center-middle;
    width: $icon-size;
    height: 2px;
  }
}

// 加
.icon-pure-plus {
  @extend .icon-pure-minus;

  &::after {
    @include icon-center-middle;
    width: 2px;
    height: $icon-size;
  }
}
