@import "../theme/variable";

// 定义几种图标大小
$icons-size: (
  xl: 32px,
  lg: 28px,
  md: 24px,
  sm: 20px,
  xs: 16px
) !default;

$icon-size: 20px;

$icon-color: map-get($greys, 600) !default;
$icon-active-color: map-get($greys, 900) !default;
