<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="CSS3 Perfect">
<meta name="description"
      content="Perfect is a popular CSS framework based on the modern browser. It can bring you perfect experience and the newest css technology. It is a CSS framework in the future.">
<meta name="author" content="Linder Wang">

<title>
  
  布局-页面布局 demo &middot; Perfect
  
</title>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/favicon.png">
<link rel="icon" href="/favicon.ico">

<!-- Perfect CSS -->
<link href="/assets/css/perfect.css" rel="stylesheet">
<link href="/assets/css/docs.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-doc navbar-toggleable-md fixed-top bd-navbar">
  <div class="d-flex justify-content-between d-lg-none">
    <a class="navbar-brand" href="/">
      Perfect
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav"
            aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bd-main-nav">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link "
        href="/">Perfect</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link "
           href="/docs/getting-started/introduction/">文档</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link "
        href="/examples/">例子</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link "
           href="/guide/css">规范</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link "
           href="/theme/">自定义主题</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link active"
           href="/draft/">草稿</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="col-24 col-lg-4 col-md-6 doc-menu">
      


<ul class="menu">
  
  
  

  
  
  <li>

    
    <a href="/draft/classname/" 
       class="menu-title menu-header ">常用 class 命名名称</a>
    
  </li>
  
  
  

  
  
  <li>

    
    <a href="/draft/color-swatches/" 
       class="menu-title menu-header ">七色卡</a>
    
  </li>
  
  
  

  
  
  <li>

    
    <a href="/draft/index/" 
       class="menu-title menu-header ">草稿文件</a>
    
  </li>
  
  
  

  
  
  <li>

    
    <a href="/draft/layout/layout/" 
       class="menu-title menu-header ">布局</a>
    <ul class="menu">
      
      

      
      <li><a href="/draft/layout/layout/"
             class="menu-title ">页面布局 demo</a></li>
      
      

      
      <li><a href="/draft/layout/layout2/"
             class="menu-title "></a></li>
      
    </ul>

    
  </li>
  
  
  

  
  
  <li>

    
    <a href="/draft/toc/" 
       class="menu-title menu-header ">table of content</a>
    
  </li>
  
  
  

  
  
  <li>

    
    <a href="/draft/tone/tone/" 
       class="menu-title menu-header ">色调</a>
    <ul class="menu">
      
      

      
      <li><a href="/draft/tone/tone/"
             class="menu-title ">色调1</a></li>
      
      

      
      <li><a href="/draft/tone/tone2/"
             class="menu-title ">色调2</a></li>
      
    </ul>

    
  </li>
  
</ul>


    </div>
    <div class="col-24 col-lg-20 col-md-18 doc-main">
      <h1>布局-页面布局 demo</h1>
      <p>页面布局 demo</p>
      <hr/>

      <nav class="navbar navbar-doc navbar-toggleable-md fixed-top bd-navbar" style="z-index: 1;">
  <div class="d-flex justify-content-between d-lg-none">
    <a class="navbar-brand" href="#">
      Perfect
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bd-main-nav"
            aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="bd-main-nav">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link" href="#">Perfect</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">Examples</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-24 col-lg-4 col-md-6 doc-menu">
      <ul class="menu">
        <li>
          <a href="#" class="menu-title menu-header">Perfect 之旅</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">介绍</a></li>
            <li><a href="#" class="menu-title">下载</a></li>
            <li><a href="#" class="menu-title">自定义主题</a></li>
            <li><a href="#" class="menu-title">兼容性</a></li>
            <li><a href="#" class="menu-title">开发构建</a></li>
            <li><a href="#" class="menu-title">历史版本</a></li>
            <li><a href="#" class="menu-title">问题和bug</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header">设置</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">全局样式</a></li>
            <li><a href="#" class="menu-title">Sass</a></li>
            <li><a href="#" class="menu-title">JavaScript</a></li>
            <li><a href="#" class="menu-title">FlexBox</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header active">布局</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">容器</a></li>
            <li><a href="#" class="menu-title">Grid</a></li>
            <li><a href="#" class="menu-title">响应式</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header">基础样式</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">排版</a></li>
            <li><a href="#" class="menu-title">代码</a></li>
            <li><a href="#" class="menu-title">表格</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header">导航类样式</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">导航</a></li>
            <li><a href="#" class="menu-title">菜单</a></li>
            <li><a href="#" class="menu-title">分页</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header">容器类样式</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">Accordion</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header">工具类样式</a>
          <ul class="menu">
            <li><a href="#" class="menu-title">浮动</a></li>
            <li><a href="#" class="menu-title">定位</a></li>
            <li><a href="#" class="menu-title">颜色</a></li>
            <li><a href="#" class="menu-title">Flexbox</a></li>
            <li><a href="#" class="menu-title">间距</a></li>
            <li><a href="#" class="menu-title">边框</a></li>
            <li><a href="#" class="menu-title">对齐样式</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu-title menu-header">插件</a>
          <ul class="menu">
            <li><a href="#" class="menu-title"></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-24 col-lg-20 col-md-18 doc-main">
      <h1>Perfect 之旅-介绍</h1>
      <p>Perfect 比较全面的提供了各种 CSS 样式库，用户可以一次性的导入，也可以单独导入需要的样式。 Perfect 借助强大的响应式布局，支持各种大小设备。 Perfect 框架充分利用了最新 css 特性来实现， 支持 css module，更方便用户使用。</p>
      <hr/>

      <div class="row no-gutters">
        <div class="doc-content col-24 col-lg-19 col-md-17">
          内容
        </div>
        <div class="col-24 col-lg-5 col-md-7">
          <div class="doc-catalogue-panel">
            <!--目录菜单-->
            <ul class="menu menu-catalogue">
              <li><a href="#" class="menu-title menu-header">一级菜单1</a></li>
              <li>
                <a href="#" class="menu-title menu-header active">一级菜单2</a>
                <ul class="menu menu-catalogue">
                  <li><a href="#" class="menu-title">二级菜单2-1</a></li>
                  <li><a href="#" class="menu-title">二级菜单2-2</a></li>
                  <li>
                    <a href="#" class="menu-title active">二级菜单2-3</a>
                    <ul class="menu menu-catalogue">
                      <li>
                        <a href="#" class="menu-title">三级菜单2-3-1</a>
                        <ul class="menu menu-catalogue">
                          <li>
                            <a href="#" class="menu-title">四级菜单2-3-1-1</a>
                            <ul class="menu menu-catalogue">
                              <li>
                                <a href="#" class="menu-title">五级菜单2-3-1-1-1</a>
                                <ul class="menu menu-catalogue">
                                  <li>
                                    <a href="#" class="menu-title">六级菜单2-3-1-1-1-1</a>
                                  </li>
                                  <li><a href="#" class="menu-title active">六级菜单2-3-1-1-1-2</a></li>
                                  <li><a href="#" class="menu-title">六级菜单2-3-1-1-1-3</a></li>
                                </ul>
                              </li>
                              <li><a href="#" class="menu-title active">五级菜单2-3-1-1-2</a></li>
                              <li><a href="#" class="menu-title">五级菜单2-3-1-1-2</a></li>
                            </ul>
                          </li>
                          <li><a href="#" class="menu-title active">四级菜单2-3-1-2</a></li>
                          <li><a href="#" class="menu-title">四级菜单2-3-1-3</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="menu-title active">三级菜单2-3-2</a></li>
                      <li><a href="#" class="menu-title">三级菜单2-3-3</a></li>
                    </ul>
                  </li>
                  <li><a href="#" class="menu-title">二级菜单2-4</a></li>
                </ul>
              </li>
              <li><a href="#" class="menu-title menu-header">一级菜单3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    </div>
  </div>
</div>

<div class="footer-assist"></div>
<footer class="footer">
  <div class="footer-links container-fluid">
    <div class="links-item text-center">
      <a href="https://github.com/enjoyfuture/perfect" target="_blank">GitHub 仓库</a>
      <a href="#" target="_blank">Npm 仓库</a>
      <a href="#" target="_blank">实例</a>
      <a href="#" target="_blank">主题</a>
      <a href="#" target="_blank">关于</a>
    </div>
  </div>

  <div class="footer-copyright container-fluid text-center">
    Copyright © 2016-2017 Powered by Perfect 团队
  </div>
</footer>

</body>
</html>
