// 导航栏
@import "../../theme/mixin";
@import "../../responsive/mixin";
@import "../../responsive/variable";
@import "../../animation/function";
@import "../../shadow/mixin";
@import "../../ripple/mixin";
@import "variable";

// 导航容器
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // 当导航过多时，允许折行处理
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 $navbar-padding-x $navbar-padding-y;

  // Navbar brand
  // 该样式用来设置 brand, project, or site 的名字，另一个就是当设备变小后，只显示该名称
  &-brand {
    display: inline-flex;
    box-sizing: border-box;
    margin-right: $navbar-brand-margin-right;
    font-size: $navbar-brand-font-size;
    line-height: inherit;
    white-space: nowrap;

    @include theme-prop(color, primary-on-light);

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  // 当小屏幕时，隐藏导航，通过该按钮显示导航
  &-toggler {
    display: inline-flex;
    align-items: center;
    box-sizing: content-box;
    height: $navbar-toggler-height;
    padding: $navbar-item-padding-y;
    border: 0; // remove default button style
    background: transparent; // remove default button style
    cursor: pointer;
    -webkit-appearance: none;

    @include theme-prop(color, secondary-on-light);

    &-icon {
      display: inline-block;
      width: 1.5rem;
      height: 2px;
      box-shadow: 0 -10px, 0 -2px, 0 6px;
    }

    &:hover {
      text-decoration: none;

      @include theme-prop(color, primary-on-light);
    }
  }

  // 控制导航显示
  &-collapse {
    display: none;
    flex-basis: 100%;
    align-items: center;
    opacity: 0;
    transition: animation-enter(opacity, 120ms);

    // 添加 show 样式来显示导航，TODO 需要实现动画，待处理，开始高度为0，再设置高度，
    &.show {
      display: block;
      opacity: 1;
    }
  }
}

// 当在移动端时，如果默认不想隐藏 nav 可以使用该样式
@include media-breakpoint-down(xs) {
  .navbar-brand {
    padding-top: $navbar-item-padding-y;
    padding-bottom: $navbar-item-padding-y;
  }

  .navbar-scroll {
    max-width: 100%;
    overflow: hidden;

    .navbar-nav {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
  }
}

// 导航列表栏，与 nav-link 一起使用
.navbar-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  font-size: $navbar-font-size;
  list-style: none;
}

.nav-link {
  display: inline-flex;
  box-sizing: border-box;
  margin-right: .25rem;
  padding: $navbar-item-padding-y $navbar-item-padding-x;
  border-bottom: $nav-link-border-width solid transparent;
  cursor: pointer;

  @include theme-prop(color, secondary-on-light);

  &:hover {
    text-decoration: none;

    @include theme-prop(color, primary-on-light);
    @include theme-prop(border-bottom-color, secondary-on-light);
  }

  &.active {
    @include theme-prop(color, primary-on-light);
    @include theme-prop(border-bottom-color, primary-on-light);
  }

  &.disabled {
    border-bottom-color: transparent;
    cursor: default;
    pointer-events: none;

    @include theme-prop(color, disabled-on-light);
  }
}

// 导航展开后，使用响应式处理
// .navbar-expand .navbar-expand-sm .navbar-expand-md .navbar-expand-lg .navbar-expand-xl
// 如果使用 .navbar-expand 则不会随着屏幕变小而改变
// 建议使用 .navbar-expand-sm，当屏幕小于 600px 时隐藏处理
.navbar-expand {
  @each $breakpoint in map-keys($responsive-breakpoints) {
    $next: breakpoint-next($breakpoint, $responsive-breakpoints);
    $infix: breakpoint-infix($next, $responsive-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;
        }

        .navbar-collapse {
          display: flex;
          opacity: 1;
        }

        .navbar-toggler {
          display: none;

          /* stylelint-disable max-nesting-depth */
          &.show {
            display: block;
          }
        }
      }
    }
  }
}

// 固定在顶部
.navbar-top {
  position: sticky;
  top: 0;
  // todo z-index 应该设置为变量，与页面中其他元素的层级待处理
  z-index: 100;
}

// 当导航设为 fixed 时，需要给 navbar 下面元素额外设置 margin-top
.navbar-top-adjust {
  margin-top: $navbar-height;
}

// 定义主题样式
@each $style in ("primary", "secondary") {
  $tone: theme-tone($theme-primary);

  .navbar-#{$style} {
    @include theme-prop(background-color, #{$style});

    .navbar-toggler {
      @include theme-prop(color, secondary-on-#{$tone});

      &:hover {
        @include theme-prop(color, primary-on-#{$tone});
      }
    }

    .navbar-brand {
      @include theme-prop(color, primary-on-#{$tone});
    }

    .nav-link {
      @include theme-prop(color, secondary-on-#{$tone});

      &:hover {
        @include theme-prop(color, primary-on-#{$tone});
        @include theme-prop(border-bottom-color, secondary-on-#{$tone});
      }

      &.active {
        @include theme-prop(color, primary-on-#{$tone});
        @include theme-prop(border-bottom-color, primary-on-#{$tone});
      }

      &.disabled {
        @include theme-prop(color, disabled-on-#{$tone});
      }
    }

    // ripple 效果
    .nav-link.ripple {
      &::before,
      &::after {
        // ripple 主题样式
        @include ripple-theme((theme-style: primary-on-#{$style}, opacity: .16));
      }
    }
  }
}
