// border variable

@import "../../theme/variable";

$border-color: $grey-color-200 !default;
$border-width: 1px !default;
$border-radius: .25rem !default; // 4px
$border-radius-lg: .5rem !default; // 8px
$border-radius-sm: .125rem !default; // 2px
