// border variable

@import "../../theme/variable";

$border-color: $grey-color-200 !default;
$border-width: 1px !default;
$border-radius: .25rem !default; // 4px
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
