// 导航栏，主要提供了顶部导航栏的功能，包括以下内容
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes

// Navbar

// 基础导航样式，在此基础上可以扩展成 full-width，fixed 和其他导航栏样式
.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $navbar-padding-y $navbar-padding-x;

  @if $enable-responsive {
    //小屏幕的把左右外边距设为 0
    @include media-breakpoint-up(nth(map-keys($responsive-breakpoints), 1)) {
      > .container {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

// Navbar brand
//
// 该导航用来设置 brand, project, or site 的名字，另一个就是当设备变小后，只显示该名称

.navbar-brand {
  display: inline-block;
  align-self: flex-start;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: $navbar-padding-x;
  font-size: $font-size-lg;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}

// Navbar nav
//
// 导航列表栏，与 nav-link 一起使用.

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

// Navbar text
// 一段描述内容的导航
//

.navbar-text {
  display: inline-block;
  padding-top: .425rem;
  padding-bottom: .425rem;
}

// Responsive navbar
// 响应式导航
@if $enable-responsive {
  // 响应式导航，当设备变小后，会显示该导航按钮，当点击或触摸时，会显示隐藏的导航列表，
  // 需要借助 JavaScript
  .navbar-toggler {
    align-self: flex-start; // Prevent toggler from growing to full width when it's the only visible navbar child
    padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
    border: $border-width solid transparent; // remove default button style
    font-size: $navbar-toggler-font-size;
    line-height: 1;
    background: transparent; // remove default button style
    @include border-radius($navbar-toggler-border-radius);

    @include hover-focus {
      text-decoration: none;
    }
  }

  // 用来定义一个图标来告知用户，当点击时可以展开下拉导航
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: no-repeat center center;
    background-size: 100% 100%;
    vertical-align: middle;
    content: "";
  }

  // Use `position` on the toggler to prevent it from being auto placed as a flex
  // item and allow easy placement.
  .navbar-toggler-left {
    position: absolute;
    left: $navbar-padding-x;
  }

  .navbar-toggler-right {
    position: absolute;
    right: $navbar-padding-x;
  }
  // Generate series of `.navbar-toggleable-*` responsive classes for configuring
  // where your navbar collapses.
  // 定义 `.navbar-toggleable-*` 来控制设备大小是多少时，来显示导航按钮
  // 如果我们添加 .navbar-toggleable-md，表示只有当设备小于 992px 才显示该按钮，下面是对应表
  /**
    样式                   小于多少才显示导航按钮
    .navbar-toggleable     576px
    .navbar-toggleable-xs(无该样式)
    .navbar-toggleable-sm  768px
    .navbar-toggleable-md  992px
    .navbar-toggleable-lg  1200px
    .navbar-toggleable-xl  一直隐藏
   */
  .navbar-toggleable {
    @each $breakpoints in map-keys($responsive-breakpoints) {
      $next: breakpoint-next($breakpoints, $responsive-breakpoints);
      $infix: breakpoint-infix($breakpoints, $responsive-breakpoints);

      &#{$infix} {
        @include media-breakpoint-down($breakpoints) {
          > .container {
            padding-left: 0;
            padding-right: 0;
          }
        }

        @include media-breakpoint-up($next) {
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;

          .navbar-nav {
            flex-direction: row;

            .nav-link {
              padding-left: .5rem;
              padding-right: .5rem;
            }
          }

          // For nesting containers, have to redeclare for alignment purposes
          > .container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
          }

          // scss-lint:disable ImportantRule
          .navbar-collapse {
            display: flex !important;
            width: 100%;
          }
          // scss-lint:enable ImportantRule

          .navbar-toggler {
            display: none;
          }
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-light-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
  }
}

// White links against a dark background
.navbar-inverse {
  .navbar-brand,
  .navbar-toggler {
    color: $navbar-inverse-active-color;

    @include hover-focus {
      color: $navbar-inverse-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-inverse-color;

      @include hover-focus {
        color: $navbar-inverse-hover-color;
      }

      &.disabled {
        color: $navbar-inverse-disabled-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $navbar-inverse-active-color;
    }
  }

  .navbar-toggler {
    border-color: $navbar-inverse-toggler-border;
  }

  .navbar-toggler-icon {
    background-image: $navbar-inverse-toggler-bg;
  }

  .navbar-text {
    color: $navbar-inverse-color;
  }
}
