// 波纹 涟漪效果，该效果可作用于 checkbox radio button 等

@import "../animation/variable";

@mixin ripple-keyframes {
  // 从里向外扩散
  @keyframes ripple-radius-in {
    from {
      animation-timing-function: $animation-ease-in-out;
      transform: translate(var(--ripple-translate-start, 0)) scale(1);
    }

    to {
      transform: translate(var(--ripple-translate-end, 0)) scale(var(--ripple-scale, 1));
    }
  }

  // 从外向里收缩
  @keyframes ripple-radius-out {
    from {
      transform: translate(var(--ripple-translate-end, 0)) scale(var(--ripple-scale, 1));
    }

    to {
      animation-timing-function: $animation-ease-in-out;
      transform: translate(var(--ripple-translate-start, 0)) scale(1);
    }
  }

  // 从透明到不透明
  @keyframes ripple-opacity-in {
    from {
      opacity: 0;
      animation-timing-function: linear;
    }

    to {
      opacity: 1;
    }
  }

  // 从不透明到透明
  @keyframes ripple-opacity-out {
    from {
      opacity: 1;
      animation-timing-function: linear;
    }

    to {
      opacity: 0;
    }
  }
}
