<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="CSS3 Perfect">
  <meta name="description"
        content="Perfect is a popular CSS framework based on the modern browser. It can bring you perfect experience and the newest css technology. It is a CSS framework in the future.">
  <meta name="author" content="Linder Wang">

  <title>
    Ripple 效果 &middot; Perfect
  </title>

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/favicon.png">
  <link rel="icon" href="/favicon.ico">

  <!-- Perfect CSS -->
  <link href="/assets/css/perfect.css" rel="stylesheet">

  <!-- Component CSS -->
  <link href="/assets/css/component.css" rel="stylesheet">
</head>
<body>
<script src="/assets/js/vendor/jquery.min.js"></script>
<style>
  .demo-ripple {
    display:             flex;
    align-items:         center;
    justify-content:     center;
    width:               200px;
    height:              100px;
    padding:             1rem;
    cursor:              pointer;
    user-select:         none;
    -webkit-user-select: none;
    box-shadow:          0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  button.demo-ripple {
    display:    inline-block;
    background: none;
    border:     0;
    appearance: none;
  }

  .ripple-unbounded {
    width:         40px;
    height:        40px;
    padding:       0;
    border-radius: 50%;
    box-shadow:    none;
  }

  .ripple-unbounded:not(.ripple-impact)::before {
    height: 100%;
    left:   0;
    top:    0;
    width:  100%;
  }

  .icon-demo {
    width:         20px;
    height:        20px;
    background:    rgba(0, 0, 0, .65);
    border-radius: 50%;
  }

  .d-flex .ripple {
    margin-right: 2rem;
  }

  .ripple-custom1.ripple-bg {
    --ripple-bg-color: rgba(0, 0, 0, .2);
  }

  .ripple-custom2.ripple-bg {
    --ripple-bg-color: rgba(3, 185, 244, .2);
  }
</style>

<div class="component-wrap">
  <section>
    <h2>Ripple </h2>
    <section class="component-container">
      <div class="m-t-4">
        <h4>有界的</h4>
        <div class="ripple ripple-impact demo-ripple" tabindex="0">
          点击看效果，结合 JavaScript 动态设置其 CSS 变量
        </div>
      </div>

      <div class="m-t-4">
        <h4>纯 CSS Ripple</h4>
        <div class="ripple demo-ripple" tabindex="0">
          纯 CSS 波纹效果
        </div>
      </div>

      <div class="m-t-4">
        <h4>无界的</h4>
        <div class="ripple ripple-unbounded demo-ripple"
             tabindex="0">
          <div class="icon-demo"></div>
        </div>
      </div>

      <div class="m-t-4">
        <h4>无界的动效</h4>
        <div class="ripple ripple-impact ripple-unbounded demo-ripple"
             tabindex="0">
          <div class="icon-demo"></div>
        </div>
      </div>

      <div class="m-t-4">
        <h4>取消当前活动态</h4>
        <div class="ripple ripple-impact ripple-impact-active demo-ripple inactive-demo"
             tabindex="0" style="--ripple-translate-start: 0; --ripple-translate-end: 50px;">
          点击看效果，结合 JavaScript 动态设置其 CSS 变量
        </div>
      </div>

      <h4>自定义背景</h4>
      <div class="d-flex">
        <div class="ripple ripple-bg ripple-custom1 demo-ripple" tabindex="0">
          自定义背景1
        </div>
        <div class="ripple ripple-bg ripple-custom2 demo-ripple" tabindex="0">
          自定义背景2
        </div>
        <div class="ripple ripple-impact ripple-bg ripple-custom2 demo-ripple" tabindex="0">
          自定义背景2-动画效果
        </div>
      </div>

      <h4>主题样式</h4>
      <h5>纯 CSS </h5>
      <div class="d-flex">
        <div class="ripple ripple-primary demo-ripple" tabindex="0">
          Primary
        </div>
        <div class="ripple ripple-accent demo-ripple" tabindex="0">
          Accent
        </div>
      </div>

      <h5>动效 </h5>
      <div class="d-flex">
        <div class="ripple ripple-primary ripple-impact demo-ripple" tabindex="0">
          Primary
        </div>
        <div class="ripple ripple-accent ripple-impact demo-ripple" tabindex="0">
          Accent
        </div>

      </div>

      <h4>辅助样式</h4>
      <h5>纯 CSS </h5>
      <div class="d-flex">
        <div class="ripple ripple-success demo-ripple" tabindex="0">
          成功
        </div>
        <div class="ripple ripple-info demo-ripple" tabindex="0">
          信息
        </div>
        <div class="ripple ripple-warning demo-ripple" tabindex="0">
          警告
        </div>
        <div class="ripple ripple-error demo-ripple" tabindex="0">
          错误
        </div>
      </div>

      <h5>动效 </h5>
      <div class="d-flex">
        <div class="ripple ripple-success ripple-impact demo-ripple" tabindex="0">
          成功
        </div>
        <div class="ripple ripple-info ripple-impact demo-ripple" tabindex="0">
          信息
        </div>
        <div class="ripple ripple-warning ripple-impact demo-ripple" tabindex="0">
          警告
        </div>
        <div class="ripple ripple-error ripple-impact demo-ripple" tabindex="0">
          错误
        </div>
      </div>

      <h4>用在 button 标签上</h4>
      <div class="d-flex">
        <button type="button" class="ripple demo-ripple">
          button
        </button>
        <button type="button" class="ripple ripple-impact demo-ripple">
          impact button
        </button>
      </div>

    </section>
  </section>

</div>

<script>
  $(function () {

    /**
     * 计算事件坐标
     * @param {!Event} ev
     * @param {!{x: number, y: number}} pageOffset
     * @param {!ClientRect} clientRect
     * @return {!{x: number, y: number}}
     */
    function getNormalizedEventCoords(ev, clientRect) {
      const x = window.pageXOffset;
      const y = window.pageYOffset;
      const documentX = x + clientRect.left;
      const documentY = y + clientRect.top;

      let normalizedX;
      let normalizedY;
      // Determine touch point relative to the ripple container.
      if (ev.type === 'touchstart') {
        normalizedX = ev.changedTouches[0].pageX - documentX;
        normalizedY = ev.changedTouches[0].pageY - documentY;
      } else {
        normalizedX = ev.pageX - documentX;
        normalizedY = ev.pageY - documentY;
      }

      return {x: normalizedX, y: normalizedY};
    }

    // 返回其大小
    function getCssVariableValue($el) {
      // 动态的修改 css variable
      const width = $el.outerWidth();
      const height = $el.outerHeight();

      const maxDim = Math.max(width, height);
      const diameter = Math.sqrt(Math.pow(width, 2) + Math.pow(height, 2));

      // 60%
      const size = maxDim * 0.6;
      // 直径多加 10
      const radius = diameter + 10;

      const scale = radius / size;

      return {
        width,
        height,
        size,
        scale
      };
    }


    function setCssVariable($el, {width, height, size, scale}) {
      $el[0].style.setProperty('--ripple-width', width + 'px');
      $el[0].style.setProperty('--ripple-height', height + 'px');
      $el[0].style.setProperty('--ripple-size', size + 'px');
      $el[0].style.setProperty('--ripple-scale', scale);

      if ($el.hasClass('ripple-unbounded')) {
        const left = Math.round((width / 2) - (size / 2));
        const top = Math.round((height / 2) - (size / 2));

        $el[0].style.setProperty('--ripple-left', `${left}px`);
        $el[0].style.setProperty('--ripple-top', `${top}px`);
      }
    }

    $('.ripple-impact:not(.inactive-demo)').mousedown((e) => {
      const $el = $(e.currentTarget);

      const value = getCssVariableValue($el);

      setCssVariable($el, value);

      // 如果是 unbounded
      if (!$el.hasClass('ripple-unbounded')) {
        const {width, height, size} = value;

        const clientRect = $el[0].getBoundingClientRect();
        let startPoint = getNormalizedEventCoords(e, clientRect);

        startPoint = {
          x: startPoint.x - (size / 2),
          y: startPoint.y - (size / 2),
        };

        const endPoint = {
          x: (width / 2) - (size / 2),
          y: (height / 2) - (size / 2),
        };

        const translateStart = `${startPoint.x}px, ${startPoint.y}px`;
        const translateEnd = `${endPoint.x}px, ${endPoint.y}px`;

        $el[0].style.setProperty('--ripple-translate-start', translateStart);
        $el[0].style.setProperty('--ripple-translate-end', translateEnd);
      }

      $el.addClass('ripple-impact-active');

    });

    $('.ripple-impact:not(.inactive-demo)').on('mouseup', (e) => {
      const $el = $(e.currentTarget);
      // 延迟260ms 执行
      setTimeout(() => {
        $el.removeClass('ripple-impact-active ripple-impact-focused');
      }, 260);
    });

    $('.ripple-impact:not(.inactive-demo)').on('focus', (e) => {
      const $el = $(e.currentTarget);
      $el.addClass('ripple-impact-focused');
    });

    $('.ripple-impact:not(.inactive-demo)').on('blur', (e) => {
      const $el = $(e.currentTarget);
      $el.removeClass('ripple-impact-focused');
    });


    // 初始化ripple-impact css variable
    $('.ripple-impact').each(function (index, el) {
      const $el = $(el);
      const value = getCssVariableValue($el);
      setCssVariable($el, value);
    });

    $('.inactive-demo').click(function (e) {
      const $el = $(e.currentTarget);
      $el[0].style.setProperty('--ripple-scale', 1);

      $el.addClass('ripple-impact-inactive');
    });
  });
</script>

</body>
</html>
