// ripple style
@import "../animation/function";
@import "../theme/mixin";
@import "./mixin";
@import "./variable";

.ripple {
  position: relative;
  outline: none;
  overflow: hidden;

  @include ripple-base;
  // 设置 ripple 双层背景 ::before 用来产生动画效果，::after 为动画效果提供渲染背景舞台
  @include ripple-bg((pseudo: "::before"));
  @include ripple-bg((pseudo: "::after"));
}

// 动画效果更明显，需要结合 JavaScript
.ripple-impact {
  @include ripple-impact();
  // 动画效果
  @include ripple-bg-impact((pseudo: "::before"));
}

// 无界限的波纹效果
@include ripple-unbounded();

// 定义主题样式
@if ($enable-custom-theme and $enable-custom-theme-for-ripple) {
  // 主颜色
  @each $theme in ("primary", "secondary") {
    .ripple-#{$theme} {
      @include ripple-pseudo-theme ((theme-style: #{$theme}-alpha, opacity: 1));
    }
  }

  // 辅助颜色对应 ripple
  @each $theme in $theme-assist {
    .ripple-#{$theme} {
      @include ripple-pseudo-theme ((theme-style: #{$theme}-alpha, opacity: 1));
    }
  }
}
