// 进度条组件
@import "../../base/variables/font";
@import "../../theme/mixin";
@import "../../animation/mixin";
@import "../../base/mixins/gradients";
@import "./variable";
@import "./function";

// 进度条的实现：由两层结构实现，外层定义总宽度，内层定义进度
.progress {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: $progress-height;
  border-radius: $progress-border-radius;
  overflow: hidden;
  background-color: $progress-bg;

  &-inner {
    position: relative;
    display: flex;
    flex-direction: column; // 用来设置多行文本
    align-items: center;
    justify-content: center;
    transition: progress-transition(width);

    @include theme-prop(color, secondary-on-dark);
    @include theme-prop(background-color, secondary-on-light);
  }

  // 有条纹的进度条
  &-inner-striped {
    background-size: $progress-height $progress-height;

    @include gradient-striped();
  }

  // 带动画有条纹的进度条
  &-inner-animated {
    animation: progress-inner-stripes $progress-bar-animation-timing;
  }
}

@keyframes progress-inner-stripes {
  from { background-position: $progress-height 0; }
  to { background-position: 0 0; }
}

// 在进度条上面或下面显示内容
.progress-text {
  overflow: visible;

  .progress-inner {
    align-items: flex-end;
  }

  // 内容
  &-inner-top,
  &-inner-bottom {
    position: absolute;
    font-size: $font-size-sm;
    transform: translateX(50%);

    @include theme-prop(color, secondary-on-light);
  }

  &-inner-top {
    top: -$progress-height * 1.5;
  }

  &-inner-bottom {
    top: $progress-height * 1.5;
  }
}

// 进度条设为 .progress-text 时，额外提供两个圆角类，根据需要设置
.progress-radius-left {
  border-top-left-radius: $progress-border-radius;
  border-bottom-left-radius: $progress-border-radius;
}

.progress-radius-right {
  border-top-right-radius: $progress-border-radius;
  border-bottom-right-radius: $progress-border-radius;
}

// 带点的进度条
.progress-dot {
  position: relative;
  height: $progress-dot-height;
  overflow: visible;

  &-inner {
    position: absolute;
    top: -$progress-dot-size / 4;
    box-sizing: border-box;
    width: $progress-dot-size;
    height: $progress-dot-size;
    border: $progress-dot-size / 4 solid #eee;
    border-radius: 100%;
    background-color: #fff;
    transform: translateX(-$progress-dot-size / 2);
    transition: progress-transition(left);

    &.active {
      @include theme-prop(border-color, primary-lighter);
      @include theme-prop(background-color, primary);
    }
  }
}

// 运动的进度条待实现 todo

