// 对话框样式

@import "./variable";

@import "../../shadow/mixin";
@import "../../theme/mixin";

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $dialog-backdrop-bg;
  opacity: 0;
}

.dialog-panel {
  width: calc(100% - #{$dialog-panel-margin-x});
  border-radius: 2px;
  background-color: #fff;
  opacity: 0;
  transform: $dialog-panel-transform;
  @include shadow(23);
}

.dialog-header {
  padding: $dialog-header-padding $dialog-header-padding 0;
  text-align: $dialog-header-text-align;
}

.dialog-header-title {
  margin: 0;
  font-size: $dialog-header-font-size;
  font-weight: $dialog-header-font-weight;
  line-height: $dialog-header-line-height;
  letter-spacing: .02em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.dialog-body {
  padding: $dialog-body-padding $dialog-body-padding 0;
  font-size: $dialog-body-font-size;
  font-weight: $dialog-body-font-weight;
  line-height: $dialog-body-line-height;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @include theme-prop(color, text-secondary-on-light);
}

.dialog-scrollable {
  max-height: 195px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  overflow-x: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.dialog-footer {
  padding: $dialog-footer-padding-top $dialog-footer-padding-x $dialog-footer-padding-bottom;
}

.dialog-footer-button {
  margin-left: 0;
  margin-right: 8px;

  &:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}

// 展示
.dialog-open {
  visibility: visible;

  .dialog-backdrop {
    opacity: .7;
  }

  .dialog-panel {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.dialog-scroll-lock {
  height: 100vh;
  overflow: hidden;
}

// 动画效果
.dialog-animating {
  visibility: visible;

  .dialog-backdrop {
    transition: opacity 120ms 0ms cubic-bezier(0, 0, .2, 1);
  }

  .dialog-open .dialog-panel {
    transition: opacity 120ms 0ms cubic-bezier(0, 0, .2, 1), transform 120ms 0ms cubic-bezier(0, 0, .2, 1);
  }
}
