// Alerts

@mixin alert-variant($background, $border, $body-color) {
  border-color: $border;
  color: $body-color;
  background-color: $background;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($body-color, 10%);
  }
}
