// button mixin

// 根据颜色值返回颜色对比色
@mixin color-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $contrast: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($contrast >= 150) {
    color: $grey-900;
  } @else {
    color: $white;
  }
}

// 定义 button 主题
@mixin button-theme($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%)) {
  @include color-contrast($background);
  border-color: $border;
  background-color: $background;

  &:hover {
    @include color-contrast($background);
    border-color: $active-border;
    background-color: $active-background;
  }

  &.disabled,
  &:disabled {
    border-color: $border;
    background-color: $background;
  }

  &:active,
  &.active {
    border-color: $active-border;
    background-color: $active-background;
  }
}

@mixin button-outline-theme($color, $color-hover: #fff) {
  border: 1px solid $color;
  color: $color;
  background-color: #fff;
  background-image: none;

  @include hover {
    color: $color-hover;
    background-color: $color;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:active,
  &.active {
    border-color: $color;
    color: $color-hover;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}
