// 根据给定的颜色主题定义不同的列表样式

@mixin list-item-variant($state, $background, $color) {
  .list-item-#{$state} {
    color: $color;
    background-color: $background;
  }

  a.list-item-#{$state},
  button.list-item-#{$state} {
    color: $color;

    @include hover-focus {
      color: $color;
      background-color: darken($background, 5%);
    }

    &.active {
      border-color: $color;
      color: #fff;
      background-color: $color;
    }
  }
}
