// input å˜é‡
@import "../../theme/variable";
@import "../../base/variables/font";

$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-line-height: 1.25 !default;
$input-border-radius: 2px !default;
$input-margin-left: .5rem !default;

// label
$input-label-bottom: .5rem !default;

// sizing
$input-font-size-lg: 1rem !default;
$input-padding-x-lg: 1rem !default;
$input-padding-y-lg: .75rem !default;
$input-icon-top-lg: .75rem !default;

$input-font-size-sm: .75rem !default;
$input-padding-x-sm: .5rem !default;
$input-padding-y-sm: .25rem !default;
$input-icon-top-sm: .125rem !default;
