// form 表单相关
@import "../../base/variables/form";
@import "variable";

.form-field {
  display:       flex;
  align-items:   center;
  margin-bottom: $form-field-margin-bottom;

  > label {
    padding-right: $label-spacing;
    order:         0;
  }
}

// 行内
.form-field-inline {
  display:       inline-flex;
  align-items:   center;
  margin-bottom: $form-field-margin-bottom;

  // 默认设置 80px 右对齐
  > label {
    width:         $form-label-width;
    padding-right: $label-spacing;
    text-align:    $text-align;
    order:         0;
  }
}

// label 在左侧显示
.form-field-left {
  display: inline-flex;

  > label {
    margin-left: auto;
    order:       -1;
  }
}

// label 在右侧显示
.form-field-right {
  display: inline-flex;

  > label {
    margin-right: auto;
    order:        1;
  }
}

// Radio 和 Checkbox
.radio-checkbox-group {
  display:     inline-flex;
  align-items: center;

  .form-field {
    margin-bottom: 0;
    margin-right:  $radio-checkbox-field-margin-right;

    &:last-child {
      margin-right: 0;
    }
  }
}

// form 表单组
.form-field-group {
  margin-left:  -$form-field-group-item-margin;
  margin-right: -$form-field-group-item-margin;

  > .form-field {
    display:      inline-flex;
    margin-left:  $form-field-group-item-margin;
    margin-right: $form-field-group-item-margin;
  }
}

// form 面板
.form-panel {
  padding:       $form-panel-padding;
  border:        1px solid $grey-color-200;
  border-radius: $form-border-radius;
}

// 可设置 label 默认宽度
.label-inline {
  width:      $form-label-width;
  text-align: $text-align;
}
