// Blockquotes
// 引用

.blockquote {
  padding: ($spacer / 2) $spacer;
  margin-bottom: $spacer;
  border-left: $blockquote-border-width solid $blockquote-border-color;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0";
  }
}

// 引用从右向左显示
.blockquote-reverse {
  padding-left: 0;
  padding-right: $spacer;
  border-left: 0;
  border-right: $blockquote-border-width solid $blockquote-border-color;
  text-align: right;

  .blockquote-footer {
    &::before {
      content: "";
    }
    &::after {
      content: "\00A0 \2014"; // nbsp, em dash
    }
  }
}

