// Typography 排版
// 超链接
//

.link {
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
