//
// 按钮 Base styles
// 合理巧妙的利用伪类处理动态效果
// 对于低版本 IE 浏览器，需要引入 hock 处理
// 说明：由于 input 标签不支持伪类 after 和 before，不建议使用
// <input class="btn" type="button" value="不建议使用" />
//

// 默认样式
.btn {
  position: relative;
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $btn-color;
  background: transparent;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  outline: 0;
  will-change: transform, opacity;
  -webkit-appearance: none; // 设为 none，去除浏览器默认样式
  -webkit-tap-highlight-color: rgba(0, 0, 0, .18);

  /*  &::before {
      content: "";
      position: absolute;
      top: calc(50% - 100%);
      left: calc(50% - 100%);
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .06);
      pointer-events: none;
      opacity: 0;
      transition: opacity 250ms linear;
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 100%);
      left: calc(50% - 100%);
      width: 200%;
      height: 200%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .06);
      pointer-events: none;
      opacity: 0;
      transform-origin: center center;
      transition: opacity 250ms linear;
    }*/

  &:hover::before,
  &:focus::before,
  &:active::after {
    opacity: .6;
    transition-duration: 85ms;
  }

  &:focus {
    outline: 0;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

// disabled
fieldset:disabled .btn,
.btn:disabled,
.btn.disabled {
  color: rgba(0, 0, 0, .26);
  pointer-events: none;
  cursor: default;
}

// 浮雕的，凸起样式
.btn-raised {
  box-shadow: $btn-box-shadow;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  will-change: box-shadow;

  &:active {
    box-shadow: $btn-active-box-shadow;
  }
}

// 自定义主题按钮
@each $color, $value in $theme {
  .btn-#{$color} {
    @include button-theme($value, $value);
  }
}

@each $color, $value in $theme {
  .btn-outline-#{$color} {
    @include button-outline-theme($value, #fff);
  }
}

// block btn
.btn-block {
  display: block;
  width: 100%;
}
