.crumbs {
  padding: $crumbs-padding-y $crumbs-padding-x;
  margin-bottom: $spacer-y;
  background-color: $crumbs-bg;
  list-style: none;
  @include border-radius($border-radius);
  @include clearfix;
}

.crumbs-item {
  float: left;

  // The separator between crumbss (by default, a forward-slash: "/")
  + .crumbs-item::before {
    content: "#{$crumbs-divider}";
    display: inline-block; // Suppress underlining of the separator in modern browsers
    padding-left: $crumbs-item-padding;
    padding-right: $crumbs-item-padding;
    color: $crumbs-divider-color;
  }

  // IE9-11 hack to properly handle hyperlink underlines for crumbss built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .crumbs-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .crumbs-item:hover::before {
    text-decoration: underline;
  }
  + .crumbs-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: $crumbs-active-color;
  }
}
