.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  > label {
    padding-left: 4px;
    margin-right: auto;
    order: 0;
  }
}

.form-field-inline {

  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  > label {
    padding-left: 4px;
    margin-right: auto;
    order: 0;
  }
}

.form-field-align-end {
  > label {
    padding-right: 4px;
    margin-left: auto;
    order: -1;
  }
}
