// 自适应图片
.img-fluid {
  @include img-fluid;
}

// Image thumbnails 缩略图
.img-thumbnail {
  padding: $thumbnail-padding;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  background-color: $thumbnail-bg;
  @include border-radius($thumbnail-border-radius);
  @include transition($thumbnail-transition);
  @include box-shadow($thumbnail-box-shadow);

  // 确保 100%宽度
  @include img-fluid;
}

//
// Figures
// 人物
//

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: ($spacer / 2);
  line-height: 1;
}

.figure-caption {
  font-size: $figure-caption-font-size;
  color: $figure-caption-color;
  text-align: center;
}

// 圆角图片
.img-rounded {
  border-radius: $thumbnail-border-radius;
}

// 圆形图片
.img-circle {
  border-radius: 50%;
}
